// from // @import '../../_default/@blueprintjs/core/src/common/_mixins';
@function border-shadow($alpha, $color: $black, $size: 1px) {
  @return 0 0 0 $size hslax($color, $alpha);
}

// from // @import '../../_default/@blueprintjs/core/src/components/forms/_common';
// animating shadows requires the same number of shadows in different states
@function input-transition-shadow($color: $input-shadow-color-focus, $focus: false) {
  @if $focus {
    @return inset border-shadow(1, $color, 1px),
    border-shadow(0.3, $color, 2px);
  }

  @else {
    @return inset border-shadow(0, $color, 0),
    border-shadow(0, $color, 0);
  }
}

#{$root-selector} {

  .#{$ns}-input // .#{$ns}-tag-input

    {

    transition: 300ms ease-out;
    transition-property: background-color, color, opacity, box-shadow;
    // &:active{ transition-duration: 50ms; }

    box-shadow:
      var(--pt-input-box-shadow),
      input-transition-shadow(var(--input-shadow-color-focus-hsl));

    &:hover:not(:disabled):not(:focus):not(.#{$ns}-active) {
      transition-duration: 300ms;
      // transition-timing-function: linear;
      // z-index: index($control-group-stack, "button-hover");
      box-shadow:
        inset 0 0 0 1px var(--pt-intent-primary-hover),
        input-transition-shadow(var(--input-shadow-color-focus-hsl));
    }

    /* &:active {
    transition-duration: 100ms;
    // z-index: index($control-group-stack, "button-active");
    box-shadow:
      inset 0 0 0 0 transparent,
      input-transition-shadow(var(--pt-intent-primary-active-hsl), true);
  } */

    &:focus,
    &.#{$ns}-active {
      transition-duration: 300ms;
      transition-timing-function: ease;
      box-shadow:
        inset 0 0 0 0 transparent,
        input-transition-shadow(var(--input-shadow-color-focus-hsl), true);
    }

  }

  .#{$ns}-control-indicator {

    @include antd-button-active-effect;

    .#{$ns}-disabled &:after {
      content: unset;
    }

    transition: 200ms linear;
    transition-property: background-color,
    color,
    opacity,
    box-shadow;

    .#{$ns}-control input:not(:disabled):hover~& {
      box-shadow: var(--button-box-shadow-hover);
    }

    .#{$ns}-control input:not(:disabled):active~& {
      transition-duration: 50ms;
    }

  }

}
