#{$root-selector}{


/*! IntentColors */

--primary1-hsl: var(--cerulean1-hsl);
--primary2-hsl: var(--cerulean2-hsl);
--primary3-hsl: var(--cerulean3-hsl);
--primary4-hsl: var(--cerulean4-hsl);
--primary5-hsl: var(--cerulean5-hsl);
--primary6-hsl: var(--cerulean6-hsl);

--pt-intent-primary-hsl:        var(--primary3-hsl);
--pt-intent-primary-hover-hsl:  var(--primary4-hsl);
--pt-intent-primary-active-hsl: var(--primary2-hsl);

--pt-intent-success-hsl:        var(--success3-hsl);
--pt-intent-success-hover-hsl:  var(--success4-hsl);
--pt-intent-success-active-hsl: var(--success2-hsl);

--pt-intent-warning-hsl:        var(--warning4-hsl);
--pt-intent-warning-hover-hsl:  var(--warning5-hsl);
--pt-intent-warning-active-hsl: var(--warning3-hsl);

--pt-intent-danger-hsl:        var(--danger3-hsl);
--pt-intent-danger-hover-hsl:  var(--danger4-hsl);
--pt-intent-danger-active-hsl: var(--danger2-hsl);


/*! TextColors */

--pt-heading-color:            hsla(var(--black-hsl), 1.00);
--pt-text-color:               hsla(var(--black-hsl), 0.85);
--pt-text-color-muted:         hsla(var(--black-hsl), 0.70);
--pt-text-color-disabled:      hsla(var(--black-hsl), 0.25);

--pt-dark-heading-color:       hsla(var(--white-hsl), 1.00);
--pt-dark-text-color:          hsla(var(--white-hsl), 0.85);
--pt-dark-text-color-muted:    hsla(var(--white-hsl), 0.65);
--pt-dark-text-color-disabled: hsla(var(--white-hsl), 0.45);


/*! LayoutColors */

--pt-divider-black:      hsla(var(--black-hsl), 0.09);
--pt-dark-divider-black: hsla(var(--black-hsl), 0.4);
--pt-dark-divider-white: hsla(var(--white-hsl), 0.15);


}
