// @import '~@blueprintjs/docs-theme/src/styles/_variables';
// $container-width: $pt-grid-size * 110;
// $container-padding: $pt-grid-size / 2;

// $sidebar-width: $pt-grid-size * 27;
// $sidebar-padding: $pt-grid-size * 1.5;
// $sidebar-background-color: $white;
// $dark-sidebar-background-color: $dark-gray5;

// $content-width: $container-width - $sidebar-width;
$content-padding: $pt-grid-size * 2;
// $content-background-color: $light-gray5;
// $dark-content-background-color: $dark-gray4;



$attribute-modifier-color: inherit;
$class-modifier-color: $attribute-modifier-color;
$pt-border-radius-raw: 3px !default;
$pt-border-radius: $pt-border-radius-raw;
@import '~@blueprintjs/docs-theme/src/styles/examples';
@import '../global/examples';
