@mixin emit-identity-hsl($colorName) {
  --#{$colorName}: hsl(var(--#{$colorName}-hsl));
}
@mixin emit-identity-var($varName, $varValue) {
  --#{$varName}: #{$varValue};
}

@function hslax($color, $opacity) {
  @if type-of($color) != string {
    @error '#{$color} is not a var(--color)';
  }
	$color-hsl: $color;
	$maybeHsl: str-slice($color, -5,-2);
	@if $maybeHsl != '-hsl' {
		$color-hsl: str-insert($color, '-hsl', -2);
	}
	@return #{'hsla(#{$color-hsl}, #{$opacity})'};
}
