.#{$ns}-breadcrumbs-collapsed::before {
  background: unset;
  content: "•••";
  font-weight: bold;
  font-size: 12px;
  width: auto;
}

.#{$ns}-breadcrumbs>li {
  align-items: baseline;
}

.#{$ns}-breadcrumbs>li::after {
  color: var(--pt-icon-color);
  background: unset;
  content: "/";
  font-weight: bold;
  text-align: center;
}
