#{$root-selector} {
  /*! ColorsHsl */

  --black-hsl: 0, 0%, 8%;

  --dark-gray1-hsl: 0, 0%, 10%;
  --dark-gray2-hsl: 0, 0%, 17%;
  --dark-gray3-hsl: 0, 0%, 21%;
  --dark-gray4-hsl: 0, 0%, 25%;
  --dark-gray5-hsl: 0, 0%, 29%;

  --gray1-hsl: 0, 0%, 44%;
  --gray2-hsl: 0, 0%, 51%;
  --gray3-hsl: 0, 0%, 60%;
  --gray4-hsl: 0, 0%, 70%;
  --gray5-hsl: 0, 0%, 79%;

  --light-gray1-hsl: 0, 0%, 84%;
  --light-gray2-hsl: 0, 0%, 87%;
  --light-gray3-hsl: 0, 0%, 91%;
  --light-gray4-hsl: 0, 0%, 94%;
  --light-gray5-hsl: 0, 0%, 97%;

  --white-hsl: 0, 0%, 100%;
}
