#{$root-selector}{

/*! Components */

--pt-popover-background-color: var(--pt-app-top-background-color);
--pt-dark-popover-background-color: var(--pt-dark-app-top-background-color);

// --popover-width: calc(var(--pt-grid-size) * 35);

}

// common.scss
$pt-popover-background-color: var(--pt-popover-background-color);
$pt-dark-popover-background-color: var(--pt-dark-popover-background-color);

// popover.scss
// $popover-width: var(--popover-width);
