
.bp3-button
// a,
// a.bp3-button
{

  // &, .bp3-icon{
    transition: 200ms linear !important;
    transition-property: background-color color opacity box-shadow !important;
  // }

  &:active{
    transition-duration: 50ms;
  }

  // normal only
  &:not([class*=bp3-intent-]){
    &.bp3-active{ // selected
      color: $pt-intent-primary;
      box-shadow: $antd-button-box-shadow-selected;
    }
    &:hover{
      color: $antd-intent-primary-hover;
      box-shadow: $antd-button-box-shadow-hover;
    }
    &:active{
      color: $antd-intent-primary-active;
      box-shadow: $button-box-shadow-active;
    }
  }

  // &:hover, &:active, &.bp3-active{
    .bp3-icon{ color: currentColor;}
  // }

  &.bp3-outlined, .bp3-outlined &{
    border: none;
    box-shadow: inset 0 0 0 $button-border-width $antd-button-border-color;
  }

  &.bp3-minimal, .bp3-minimal &{
    &:hover, &:active, &.bp3-active{
      box-shadow: none;
    }
  }

  // intent only
  &[class*=bp3-intent-]:not(.bp3-outlined):not(.bp3-minimal){
      text-shadow: $antd-button-text-shadow;
  }
}

.bp3-input, .bp3-file-upload-input{
  box-shadow:
    0 0 0 0 transparent,
    0 0 0 0 transparent,
    inset 0 0 0 $button-border-width rgba($black, 0.15);
    // inset 0 1px 1px rgba(16,22,26,.2);
}
