@mixin button-minimal-overrides() {
  &:hover {
    // box-shadow: unset;
    // background: $minimal-button-background-color-hover;
    // text-decoration: none;
    color: $antd-intent-primary-hover;
    border-color: $antd-intent-primary-hover;
  }

  &:active,
  &.#{$ns}-active {
    // box-shadow: unset;
    // background: $minimal-button-background-color-active;
    color: $antd-intent-primary-active;
    border-color: $antd-intent-primary-active;
  }

  &:disabled,
  &:disabled:hover,
  &.#{$ns}-disabled,
  &.#{$ns}-disabled:hover {
    border-color: $pt-text-color-disabled;
  }

}

@mixin button-base-overrides {
  transition: 200ms linear ;
  transition-property: background-color, color, opacity, box-shadow ;
  &:active{
    transition-duration: 50ms;
  }
}

.#{$ns}-button{  @include button-base-overrides }
a.#{$ns}-button{ @include button-base-overrides }

.#{$ns}-button{
  .#{$ns}-icon{
    color: inherit;
  }

  &:not([class*="#{$ns}-intent-"]) {

    &:hover {
      box-shadow: $antd-button-box-shadow-hover;
      background-color: $button-background-color-hover;
      color: $antd-intent-primary-hover;
    }

    &:active,
    &.#{$ns}-active {
      box-shadow: $button-box-shadow-active;
      background-color: $button-background-color-active;
      color: $antd-intent-primary-active;
    }

  }

  // minimal must come last to override all default styles
  &.#{$ns}-minimal {
    @include button-minimal-overrides();
  }
  &.#{$ns}-outlined {
    @include button-minimal-overrides();
  }

}

