.#{$ns}-callout{
  border-left: 3px solid var(--pt-text-color-disabled);

  @each $intent, $color in $pt-intent-colors {
    &.#{$ns}-intent-#{$intent} {
      $color-hsl: nth(map-get($button-intents, $intent), 4);
      border-color: hslax($color-hsl, 1);
    }
  }

}
