// MIXINS ///////////////////////////////

// Intent colors
@mixin pt-button-intent-hslax($default-color, $hover-color, $active-color) {
  &:disabled,
  &.#{$ns}-disabled {
    @include pt-button-intent-disabled-hslax($default-color);
  }
}
@mixin pt-button-intent-disabled-hslax($default-color) { // private
  background-color: hslax($default-color, 0.5);
}


// Button Minimal //
@mixin pt-button-minimal-hslax() {
  @each $intent, $colors in $button-intents-hsl {
    &.#{$ns}-intent-#{$intent} {
      @include pt-button-minimal-intent-hslax(
        map-get($pt-intent-colors-hsl, $intent),
        map-get($pt-intent-text-colors-hsl, $intent),
        map-get($pt-dark-intent-text-colors-hsl, $intent)
      );
    }
  }
}
@mixin pt-button-minimal-intent-hslax($intent-color, $text-color, $dark-text-color) { // private
  &:hover {
    background: hslax($intent-color, 0.15);
  }
  &:active,
  &.#{$ns}-active {
    background: hslax($intent-color, 0.3);
  }
  &:disabled,
  &.#{$ns}-disabled {
    color: hslax($text-color, 0.5);
    &.#{$ns}-active {
      background: hslax($intent-color, 0.3);
    }
  }
  .#{$ns}-dark & {
    &:hover {
      background: hslax($intent-color, 0.2);
    }
    &:active,
    &.#{$ns}-active {
      background: hslax($intent-color, 0.3);
    }
    &:disabled,
    &.#{$ns}-disabled {
      color: hslax($dark-text-color, 0.5);
      &.#{$ns}-active {
        background: hslax($intent-color, 0.3);
      }
    }
  }
}

// Button Outlined //
@mixin pt-button-outlined-hslax() {
  border: $button-outlined-width solid hslax(var(--black-hsl), 0.2);
  &:disabled,
  &.#{$ns}-disabled,
  &:disabled:hover,
  &.#{$ns}-disabled:hover {
    border-color: hslax(var(--black-hsl), 0.1);
  }
  .#{$ns}-dark & {
    @include pt-dark-button-outlined-hslax();
  }
  @each $intent, $colors in $button-intents-hsl {
    &.#{$ns}-intent-#{$intent} {
      @include pt-button-outlined-intent-hslax(
        map-get($pt-intent-text-colors-hsl, $intent),
        map-get($pt-dark-intent-text-colors-hsl, $intent)
      );
    }
  }
}
@mixin pt-dark-button-outlined-hslax() { // private
  border-color: hslax(var(--white-hsl), 0.4);
  &:disabled,
  &:disabled:hover,
  &.#{$ns}-disabled,
  &.#{$ns}-disabled:hover {
    border-color: hslax(var(--white-hsl), 0.2);
  }
}
@mixin pt-button-outlined-intent-hslax($text-color, $dark-text-color) { // private
  border-color: hslax($text-color, $button-outlined-border-intent-opacity);
  &:disabled,
  &.#{$ns}-disabled {
    border-color: hslax($text-color, $button-outlined-border-disabled-intent-opacity);
  }
  .#{$ns}-dark & {
    border-color: hslax($dark-text-color, $button-outlined-border-intent-opacity);
    &:disabled,
    &.#{$ns}-disabled {
      border-color: hslax($dark-text-color, $button-outlined-border-disabled-intent-opacity);
    }
  }
}


// OVERRIDES ///////////////////////////////


.#{$ns}-button {

  // intents
  @each $intent, $colors in $button-intents-hsl {
    &.#{$ns}-intent-#{$intent} {
      @include pt-button-intent-hslax($colors...);
    }
  }

  // minimal must come last to override all default styles
  &.#{$ns}-minimal {
    @include pt-button-minimal-hslax();
  }

  // outline is based on the styles of minimal
  &.#{$ns}-outlined {
    @include pt-button-minimal-hslax();
    @include pt-button-outlined-hslax();
  }
}
