
	/*! ColorsHsl */
@black-hsl: var(--black-hsl);
@dark-gray1-hsl: var(--dark-gray1-hsl);
@dark-gray2-hsl: var(--dark-gray2-hsl);
@dark-gray3-hsl: var(--dark-gray3-hsl);
@dark-gray4-hsl: var(--dark-gray4-hsl);
@dark-gray5-hsl: var(--dark-gray5-hsl);
@gray1-hsl: var(--gray1-hsl);
@gray2-hsl: var(--gray2-hsl);
@gray3-hsl: var(--gray3-hsl);
@gray4-hsl: var(--gray4-hsl);
@gray5-hsl: var(--gray5-hsl);
@light-gray1-hsl: var(--light-gray1-hsl);
@light-gray2-hsl: var(--light-gray2-hsl);
@light-gray3-hsl: var(--light-gray3-hsl);
@light-gray4-hsl: var(--light-gray4-hsl);
@light-gray5-hsl: var(--light-gray5-hsl);
@white-hsl: var(--white-hsl);
@cerulean1-hsl: var(--cerulean1-hsl);
@cerulean2-hsl: var(--cerulean2-hsl);
@cerulean3-hsl: var(--cerulean3-hsl);
@cerulean4-hsl: var(--cerulean4-hsl);
@cerulean5-hsl: var(--cerulean5-hsl);
@green1-hsl: var(--green1-hsl);
@green2-hsl: var(--green2-hsl);
@green3-hsl: var(--green3-hsl);
@green4-hsl: var(--green4-hsl);
@green5-hsl: var(--green5-hsl);
@orange1-hsl: var(--orange1-hsl);
@orange2-hsl: var(--orange2-hsl);
@orange3-hsl: var(--orange3-hsl);
@orange4-hsl: var(--orange4-hsl);
@orange5-hsl: var(--orange5-hsl);
@red1-hsl: var(--red1-hsl);
@red2-hsl: var(--red2-hsl);
@red3-hsl: var(--red3-hsl);
@red4-hsl: var(--red4-hsl);
@red5-hsl: var(--red5-hsl);
@cerulean6-hsl: var(--cerulean6-hsl);
@green6-hsl: var(--green6-hsl);
@orange6-hsl: var(--orange6-hsl);
@red6-hsl: var(--red6-hsl);
@vermilion1-hsl: var(--vermilion1-hsl);
@vermilion2-hsl: var(--vermilion2-hsl);
@vermilion3-hsl: var(--vermilion3-hsl);
@vermilion4-hsl: var(--vermilion4-hsl);
@vermilion5-hsl: var(--vermilion5-hsl);
@rose1-hsl: var(--rose1-hsl);
@rose2-hsl: var(--rose2-hsl);
@rose3-hsl: var(--rose3-hsl);
@rose4-hsl: var(--rose4-hsl);
@rose5-hsl: var(--rose5-hsl);
@violet1-hsl: var(--violet1-hsl);
@violet2-hsl: var(--violet2-hsl);
@violet3-hsl: var(--violet3-hsl);
@violet4-hsl: var(--violet4-hsl);
@violet5-hsl: var(--violet5-hsl);
@indigo1-hsl: var(--indigo1-hsl);
@indigo2-hsl: var(--indigo2-hsl);
@indigo3-hsl: var(--indigo3-hsl);
@indigo4-hsl: var(--indigo4-hsl);
@indigo5-hsl: var(--indigo5-hsl);
@blue1-hsl: var(--blue1-hsl);
@blue2-hsl: var(--blue2-hsl);
@blue3-hsl: var(--blue3-hsl);
@blue4-hsl: var(--blue4-hsl);
@blue5-hsl: var(--blue5-hsl);
@turquoise1-hsl: var(--turquoise1-hsl);
@turquoise2-hsl: var(--turquoise2-hsl);
@turquoise3-hsl: var(--turquoise3-hsl);
@turquoise4-hsl: var(--turquoise4-hsl);
@turquoise5-hsl: var(--turquoise5-hsl);
@forest1-hsl: var(--forest1-hsl);
@forest2-hsl: var(--forest2-hsl);
@forest3-hsl: var(--forest3-hsl);
@forest4-hsl: var(--forest4-hsl);
@forest5-hsl: var(--forest5-hsl);
@lime1-hsl: var(--lime1-hsl);
@lime2-hsl: var(--lime2-hsl);
@lime3-hsl: var(--lime3-hsl);
@lime4-hsl: var(--lime4-hsl);
@lime5-hsl: var(--lime5-hsl);
@gold1-hsl: var(--gold1-hsl);
@gold2-hsl: var(--gold2-hsl);
@gold3-hsl: var(--gold3-hsl);
@gold4-hsl: var(--gold4-hsl);
@gold5-hsl: var(--gold5-hsl);
@sepia1-hsl: var(--sepia1-hsl);
@sepia2-hsl: var(--sepia2-hsl);
@sepia3-hsl: var(--sepia3-hsl);
@sepia4-hsl: var(--sepia4-hsl);
@sepia5-hsl: var(--sepia5-hsl);

	/*! Variables */
@pt-input-box-shadow: var(--pt-input-box-shadow);

	/*! IntentColors */
@primary1-hsl: var(--primary1-hsl);
@primary2-hsl: var(--primary2-hsl);
@primary3-hsl: var(--primary3-hsl);
@primary4-hsl: var(--primary4-hsl);
@primary5-hsl: var(--primary5-hsl);
@primary6-hsl: var(--primary6-hsl);

	/*! Components */
@button-box-shadow: var(--button-box-shadow);
@button-box-shadow-active: var(--button-box-shadow-active);
@button-gradient: var(--button-gradient);
@button-intent-gradient: var(--button-intent-gradient);
@minimal-button-background-color-hover: var(--minimal-button-background-color-hover);
@minimal-button-background-color-active: var(--minimal-button-background-color-active);
