#{$root-selector}{

/*! Variables */

// IBM Plex - https://github.com/IBM/plex
// this is imported at the app level, not in the css, to keep it lean.

--pt-font-family-sans:
  'IBM Plex Sans',
  'Helvetica Neue',
  -apple-system,
  "Segoe UI",
  Arial,
  sans-serif;

--pt-font-family-monospace:
  'IBM Plex Mono',
  Menlo,
  Consolas,
  monospace;

--pt-input-box-shadow: 0 0 transparent;

--pt-dark-input-box-shadow: 0 0 transparent;

--pt-border-radius: 0px;

--control-group-spacing: 1px; // custom
--button-group-spacing: 1px; // custom

}
