.bp5-vars, :root {

	/*! AntdColors */
	--gray-hue: 0;
	--gray-1: #fff;
	--gray-2: #fafafa;
	--gray-3: #f5f5f5;
	--gray-4: #f0f0f0;
	--gray-5: #d9d9d9;
	--gray-6: #bfbfbf;
	--gray-7: #8c8c8c;
	--gray-8: #595959;
	--gray-9: #424242;
	--gray-10: #262626;
	--gray-11: #1f1f1f;
	--gray-12: #141414;
	--gray-13: #000;
	--blue-hue: 209;
	--blue-1: #e6f7ff;
	--blue-2: #b8e6ff;
	--blue-3: #8fd4ff;
	--blue-4: #6bc1ff;
	--blue-5: #42aaff;
	--blue-6: #1990ff;
	--blue-7: #096dd7;
	--blue-8: #0050b3;
	--blue-9: #00398a;
	--blue-10: #002766;
	--purple-hue: 265;
	--purple-1: #f9f0ff;
	--purple-2: #efdbff;
	--purple-3: #d2abf7;
	--purple-4: #b37feb;
	--purple-5: #9254de;
	--purple-6: #722ed1;
	--purple-7: #531daa;
	--purple-8: #381084;
	--purple-9: #23075f;
	--purple-10: #13033a;
	--cyan-hue: 180;
	--cyan-1: #e6fffb;
	--cyan-2: #b7f5ed;
	--cyan-3: #87e8de;
	--cyan-4: #5cdbd3;
	--cyan-5: #36cec9;
	--cyan-6: #13c3c3;
	--cyan-7: #08969b;
	--cyan-8: #006d75;
	--cyan-9: #00454d;
	--cyan-10: #002329;
	--green-1: #f5ffeb;
	--green-2: #d9f7bf;
	--green-3: #b7eb8e;
	--green-4: #94de63;
	--green-5: #73d13d;
	--green-6: #53c71a;
	--green-7: #39a00d;
	--green-8: #227704;
	--green-9: #135200;
	--green-10: #092900;
	--magenta-hue: 327;
	--magenta-1: #fff0f6;
	--magenta-2: #ffd6e7;
	--magenta-3: #ffadd2;
	--magenta-4: #ff85c0;
	--magenta-5: #f759ab;
	--magenta-6: #ea2e96;
	--magenta-7: #c31d7e;
	--magenta-8: #9e1067;
	--magenta-9: #790651;
	--magenta-10: #54033a;
	--pink-hue: 327;
	--pink-1: #fff0f6;
	--pink-2: #ffd6e7;
	--pink-3: #ffadd2;
	--pink-4: #ff85c0;
	--pink-5: #f759ab;
	--pink-6: #ea2e96;
	--pink-7: #c31d7e;
	--pink-8: #9e1067;
	--pink-9: #790651;
	--pink-10: #54033a;
	--red-1: #fff1f0;
	--red-2: #ffccc7;
	--red-3: #ffa39e;
	--red-4: #ff7875;
	--red-5: #ff4d4f;
	--red-6: #f5242e;
	--red-7: #cd1323;
	--red-8: #a6071a;
	--red-9: #800013;
	--red-10: #5c0011;
	--orange-hue: 31;
	--orange-1: #fff7e6;
	--orange-2: #ffe6b8;
	--orange-3: #ffd48f;
	--orange-4: #ffc16b;
	--orange-5: #ffaa42;
	--orange-6: #fa8b14;
	--orange-7: #d46a08;
	--orange-8: #ad4e00;
	--orange-9: #853700;
	--orange-10: #612500;
	--yellow-hue: 52;
	--yellow-1: #feffe6;
	--yellow-2: #ffffb8;
	--yellow-3: #fffb8f;
	--yellow-4: #fff566;
	--yellow-5: #ffec3d;
	--yellow-6: #fadc14;
	--yellow-7: #d5b207;
	--yellow-8: #ad8b00;
	--yellow-9: #856600;
	--yellow-10: #614700;
	--volcano-hue: 15;
	--volcano-1: #fff1e6;
	--volcano-2: #ffd6bd;
	--volcano-3: #ffb994;
	--volcano-4: #ff9d70;
	--volcano-5: #ff7b47;
	--volcano-6: #fa551e;
	--volcano-7: #d3380d;
	--volcano-8: #ac2102;
	--volcano-9: #851400;
	--volcano-10: #610b00;
	--geekblue-hue: 228;
	--geekblue-1: #f0f5ff;
	--geekblue-2: #d6e4ff;
	--geekblue-3: #adc6ff;
	--geekblue-4: #85a5ff;
	--geekblue-5: #597ef7;
	--geekblue-6: #2e54ea;
	--geekblue-7: #1d39c3;
	--geekblue-8: #10239e;
	--geekblue-9: #061279;
	--geekblue-10: #030854;
	--lime-1: #fcffe6;
	--lime-2: #f4ffb8;
	--lime-3: #eaff8f;
	--lime-4: #d2f25f;
	--lime-5: #bbe637;
	--lime-6: #a1d912;
	--lime-7: #7cb305;
	--lime-8: #5a8a00;
	--lime-9: #3f6600;
	--lime-10: #274200;
	--gold-1: #fffbe6;
	--gold-2: #fff1b8;
	--gold-3: #ffe58f;
	--gold-4: #ffd666;
	--gold-5: #ffc53d;
	--gold-6: #faae14;
	--gold-7: #d58907;
	--gold-8: #ad6800;
	--gold-9: #854b00;
	--gold-10: #613400;

	/*! ColorsHsl */
	--grayscale-hue: 0;
	--white-hsl: 0,0%,100%;
	--light-gray5-hsl: 0,0%,98%;
	--light-gray4-hsl: 0,0%,96%;
	--light-gray3-hsl: 0,0%,94%;
	--light-gray2-hsl: 0,0%,85%;
	--light-gray1-hsl: 0,0%,75%;
	--gray5-hsl: 0,0%,67%;
	--gray4-hsl: 0,0%,60%;
	--gray3-hsl: 0,0%,54%;
	--gray2-hsl: 0,0%,47%;
	--gray1-hsl: 0,0%,40%;
	--dark-gray5-hsl: 0,0%,33%;
	--dark-gray4-hsl: 0,0%,26%;
	--dark-gray3-hsl: 0,0%,20%;
	--dark-gray2-hsl: 0,0%,12%;
	--dark-gray1-hsl: 0,0%,8%;
	--black-hsl: 0,0%,0%;
	--vermilion-hue: 15;
	--vermilion5-hsl: 19,100%,72%;
	--vermilion4-hsl: 17,100%,64%;
	--vermilion3-hsl: 15,96%,55%;
	--vermilion2-hsl: 13,88%,44%;
	--vermilion1-hsl: 11,98%,34%;
	--red-hue: 357;
	--red6-hsl: 3,100%,81%;
	--red5-hsl: 1,100%,73%;
	--red4-hsl: 359,100%,65%;
	--red3-hsl: 357,91%,55%;
	--red2-hsl: 355,83%,44%;
	--red1-hsl: 353,92%,34%;
	--rose-hue: 327;
	--rose5-hsl: 331,100%,76%;
	--rose4-hsl: 329,91%,66%;
	--rose3-hsl: 327,82%,55%;
	--rose2-hsl: 325,74%,44%;
	--rose1-hsl: 323,82%,34%;
	--violet-hue: 296;
	--violet5-hsl: 296,73%,71%;
	--violet4-hsl: 296,68%,60%;
	--violet3-hsl: 296,64%,50%;
	--violet2-hsl: 296,71%,39%;
	--violet1-hsl: 296,79%,29%;
	--indigo-hue: 265;
	--indigo5-hsl: 269,73%,71%;
	--indigo4-hsl: 267,68%,60%;
	--indigo3-hsl: 265,64%,50%;
	--indigo2-hsl: 263,71%,39%;
	--indigo1-hsl: 261,79%,29%;
	--blue-hue: 228;
	--blue6-hsl: 203,100%,78%;
	--blue5-hsl: 224,100%,76%;
	--blue4-hsl: 226,91%,66%;
	--blue3-hsl: 228,82%,55%;
	--blue2-hsl: 230,74%,44%;
	--blue1-hsl: 232,82%,34%;
	--cerulean-hue: 209;
	--cerulean5-hsl: 205,100%,71%;
	--cerulean4-hsl: 207,100%,63%;
	--cerulean3-hsl: 209,100%,55%;
	--cerulean2-hsl: 211,92%,44%;
	--cerulean1-hsl: 213,100%,35%;
	--turquoise-hue: 180;
	--turquoise5-hsl: 176,64%,61%;
	--turquoise4-hsl: 178,61%,51%;
	--turquoise3-hsl: 180,82%,42%;
	--turquoise2-hsl: 182,90%,32%;
	--turquoise1-hsl: 184,100%,23%;
	--green-hue: 100;
	--green6-hsl: 94,70%,74%;
	--green5-hsl: 96,65%,63%;
	--green4-hsl: 98,62%,53%;
	--green3-hsl: 100,77%,44%;
	--green2-hsl: 102,85%,34%;
	--green1-hsl: 104,94%,24%;
	--forest-hue: 89;
	--forest5-hsl: 89,65%,63%;
	--forest4-hsl: 89,62%,53%;
	--forest3-hsl: 89,77%,44%;
	--forest2-hsl: 89,85%,34%;
	--forest1-hsl: 89,94%,24%;
	--lime-hue: 77;
	--lime5-hsl: 73,85%,66%;
	--lime4-hsl: 75,78%,56%;
	--lime3-hsl: 77,85%,46%;
	--lime2-hsl: 79,95%,36%;
	--lime1-hsl: 81,100%,27%;
	--gold-hue: 40;
	--gold5-hsl: 44,100%,70%;
	--gold4-hsl: 42,100%,62%;
	--gold3-hsl: 40,96%,53%;
	--gold2-hsl: 38,94%,43%;
	--gold1-hsl: 36,100%,34%;
	--orange-hue: 30;
	--orange6-hsl: 37,100%,78%;
	--orange5-hsl: 35,100%,71%;
	--orange4-hsl: 33,100%,63%;
	--orange3-hsl: 31,96%,53%;
	--orange2-hsl: 29,93%,43%;
	--orange1-hsl: 27,100%,34%;
	--sepia-hue: 30;
	--sepia5-hsl: 30,53%,70%;
	--sepia4-hsl: 30,54%,62%;
	--sepia3-hsl: 30,54%,53%;
	--sepia2-hsl: 30,43%,43%;
	--sepia1-hsl: 30,48%,34%;

	/*! IntentColors */
	--primary1-hsl: var(--cerulean1-hsl);
	--primary2-hsl: var(--cerulean2-hsl);
	--primary3-hsl: var(--cerulean3-hsl);
	--primary4-hsl: var(--cerulean4-hsl);
	--primary5-hsl: var(--cerulean5-hsl);
	--primary6-hsl: var(--cerulean6-hsl);
	--pt-intent-primary-hsl: var(--primary3-hsl);
	--pt-intent-primary-hover-hsl: var(--primary4-hsl);
	--pt-intent-primary-active-hsl: var(--primary2-hsl);
	--pt-intent-success-hsl: var(--success3-hsl);
	--pt-intent-success-hover-hsl: var(--success4-hsl);
	--pt-intent-success-active-hsl: var(--success2-hsl);
	--pt-intent-warning-hsl: var(--warning4-hsl);
	--pt-intent-warning-hover-hsl: var(--warning5-hsl);
	--pt-intent-warning-active-hsl: var(--warning3-hsl);
	--pt-intent-danger-hsl: var(--danger3-hsl);
	--pt-intent-danger-hover-hsl: var(--danger4-hsl);
	--pt-intent-danger-active-hsl: var(--danger2-hsl);

	/*! TextColors */
	--pt-heading-color: hsla(var(--black-hsl),1.00);
	--pt-text-color: hsla(var(--black-hsl),0.85);
	--pt-text-color-muted: hsla(var(--black-hsl),0.70);
	--pt-text-color-disabled: hsla(var(--black-hsl),0.25);

	/*! LayoutColors */
	--pt-divider-black: hsla(var(--black-hsl),0.09);

	/*! Variables */
	--pt-font-family-sans: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	--pt-font-family-decorative: Titillium Web,Avenir,"Nunito Sans",var(--pt-font-family);
	--pt-font-family-monospace: sfmono-regular,Consolas,liberation mono,Menlo,Courier,monospace;
	--pt-border-radius: 2px;
	--pt-input-box-shadow: inset 0 0 0 1px hsla(var(--black-hsl),0.1);
	--button-group-spacing: -1px;

	/*! Components */
	--button-active-effect-easing: cubic-bezier(.08,.82,.17,1);
	--button-border-color: hsla(var(--black-hsl),0.15);
	--button-bottom-box-shadow: 0 2px 0 hsla(var(--black-hsl),.015);
	--control-group-spacing: 4px;
	--button-box-shadow: inset 0 0 0 var(--button-border-width) var(--button-border-color),var(--button-bottom-box-shadow);
	--button-box-shadow-hover: inset 0 0 0 var(--button-border-width) var(--pt-intent-primary-hover),var(--button-bottom-box-shadow);
	--button-box-shadow-active: inset 0 0 0 var(--button-border-width) var(--pt-intent-primary-active),var(--button-bottom-box-shadow);
	--button-box-shadow-selected: inset 0 0 0 var(--button-border-width) var(--pt-intent-primary),var(--button-bottom-box-shadow);
	--button-intent-box-shadow: var(--button-bottom-box-shadow);
	--button-intent-box-shadow-active: var(--button-bottom-box-shadow);
	--button-gradient: unset;
	--button-intent-gradient: unset;
	--button-background-color: var(--white);
	--button-background-color-hover: var(--button-background-color);
	--button-background-color-active: var(--button-background-color);
	--button-background-color-disabled: hsla(var(--light-gray1-hsl),0.2);
	--minimal-button-background-color-hover: hsla(var(--black-hsl),0.05);
	--minimal-button-background-color-active: hsla(var(--black-hsl),0.1);
	--button-outlined-border-color: var(--button-border-color);
	--slider-background-color: var(--button-background-color);
}


.bp5-dark {

	/*! AntdColors */

	/*! ColorsHsl */

	/*! IntentColors */

	/*! TextColors */
	--pt-heading-color: hsla(var(--white-hsl),1.00);
	--pt-text-color: hsla(var(--white-hsl),0.85);
	--pt-text-color-muted: hsla(var(--white-hsl),0.65);
	--pt-text-color-disabled: hsla(var(--white-hsl),0.45);

	/*! LayoutColors */
	--pt-divider-black: hsla(var(--black-hsl),0.4);
	--pt-divider-white: hsla(var(--white-hsl),0.15);

	/*! Variables */
	--pt-input-box-shadow: inset 0 0 0 1px hsla(var(--white-hsl),0.15);

	/*! Components */
	--button-border-color: hsla(var(--white-hsl),0.2);
	--button-box-shadow: inset 0 0 0 var(--button-border-width) var(--button-border-color),var(--button-bottom-box-shadow);
	--button-box-shadow-hover: inset 0 0 0 var(--button-border-width) var(--pt-intent-primary-hover),var(--button-bottom-box-shadow);
	--button-box-shadow-active: inset 0 0 0 var(--button-border-width) var(--pt-intent-primary-active),var(--button-bottom-box-shadow);
	--button-box-shadow-selected: inset 0 0 0 var(--button-border-width) var(--pt-intent-primary),var(--button-bottom-box-shadow);
	--button-gradient: unset;
	--button-background-color: var(--dark-gray2);
	--button-background-color-hover: var(--button-background-color);
	--button-background-color-active: var(--button-background-color);
	--button-background-color-disabled: hsla(var(--dark-gray5-hsl),0.2);
	--minimal-button-background-color-hover: hsla(var(--white-hsl),0.05);
	--minimal-button-background-color-active: hsla(var(--white-hsl),0.1);
	--button-outlined-border-color: var(--button-border-color);
	--slider-background-color: var(--dark-gray5);
}
