:root .bp4-button {
    position: relative;
    transition: .2s linear;
    transition-property: background-color,color,opacity,box-shadow,border-color
}

:root .bp4-button:active {
    transition-duration: 50ms
}

:root .bp4-button:after {
    border-radius: inherit;
    bottom: 0;
    box-shadow: 0 0 0 6px currentColor;
    color: var(--pt-intent-primary-hover);
    content: "";
    display: block;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 2s var(--button-active-effect-easing),box-shadow .4s var(--button-active-effect-easing)
}

:root .bp4-button:active:after {
    box-shadow: 0 0 0 0 currentColor;
    opacity: .2;
    transition: none
}

:root .bp4-button.bp4-disabled:after,:root .bp4-button:disabled:after {
    content: unset
}

:root .bp4-button.bp4-intent-primary:after {
    color: var(--pt-intent-primary-active)
}

:root .bp4-button.bp4-intent-success:after {
    color: var(--pt-intent-success-active)
}

:root .bp4-button.bp4-intent-warning:after {
    color: var(--pt-intent-warning-active)
}

:root .bp4-button.bp4-intent-danger:after {
    color: var(--pt-intent-danger-active)
}

:root a.bp4-button {
    position: relative;
    transition: .2s linear;
    transition-property: background-color,color,opacity,box-shadow,border-color
}

:root a.bp4-button:active {
    transition-duration: 50ms
}

:root a.bp4-button:after {
    border-radius: inherit;
    bottom: 0;
    box-shadow: 0 0 0 6px currentColor;
    color: var(--pt-intent-primary-hover);
    content: "";
    display: block;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 2s var(--button-active-effect-easing),box-shadow .4s var(--button-active-effect-easing)
}

:root a.bp4-button:active:after {
    box-shadow: 0 0 0 0 currentColor;
    opacity: .2;
    transition: none
}

:root a.bp4-button.bp4-disabled:after,:root a.bp4-button:disabled:after {
    content: unset
}

:root a.bp4-button.bp4-intent-primary:after {
    color: var(--pt-intent-primary-active)
}

:root a.bp4-button.bp4-intent-success:after {
    color: var(--pt-intent-success-active)
}

:root a.bp4-button.bp4-intent-warning:after {
    color: var(--pt-intent-warning-active)
}

:root a.bp4-button.bp4-intent-danger:after {
    color: var(--pt-intent-danger-active)
}

:root .bp4-button .bp4-icon {
    color: inherit
}

:root .bp4-button:not([class*=bp4-intent-]):not(.bp4-minimal):not(.bp4-outlined):not(:disabled):not(.bp4-disabled):hover {
    background-color: var(--button-background-color-hover);
    box-shadow: var(--button-box-shadow-hover);
    color: var(--pt-intent-primary-hover)
}

:root .bp4-button:not([class*=bp4-intent-]):not(.bp4-minimal):not(.bp4-outlined):not(:disabled):not(.bp4-disabled).bp4-active,:root .bp4-button:not([class*=bp4-intent-]):not(.bp4-minimal):not(.bp4-outlined):not(:disabled):not(.bp4-disabled):active {
    background-color: var(--button-background-color-active);
    box-shadow: var(--button-box-shadow-active);
    color: var(--pt-intent-primary-active)
}

:root .bp4-button.bp4-outlined {
    background-color: unset!important;
    box-shadow: unset!important
}

:root .bp4-button.bp4-outlined:hover {
    border-color: var(--pt-intent-primary-hover);
    color: var(--pt-intent-primary-hover)
}

:root .bp4-button.bp4-outlined.bp4-active,:root .bp4-button.bp4-outlined:active {
    border-color: var(--pt-intent-primary-active);
    color: var(--pt-intent-primary-active)
}

:root .bp4-button.bp4-outlined.bp4-intent-danger,:root .bp4-button.bp4-outlined.bp4-intent-primary,:root .bp4-button.bp4-outlined.bp4-intent-success,:root .bp4-button.bp4-outlined.bp4-intent-warning {
    border-color: currentColor
}

:root .bp4-button-group .bp4-button[class*=bp4-intent-] {
    --button-group-spacing: 1px
}

:root .bp4-html-select,:root .bp4-select {
    transition: .2s linear;
    transition-property: background-color,color,opacity,box-shadow
}

:root .bp4-html-select select,:root .bp4-select select {
    position: relative;
    transition: .2s linear;
    transition-property: background-color,color,opacity,box-shadow,border-color
}

:root .bp4-html-select select:active,:root .bp4-select select:active {
    transition-duration: 50ms
}

:root .bp4-html-select select:after,:root .bp4-select select:after {
    border-radius: inherit;
    bottom: 0;
    box-shadow: 0 0 0 6px currentColor;
    color: var(--pt-intent-primary-hover);
    content: "";
    display: block;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 2s var(--button-active-effect-easing),box-shadow .4s var(--button-active-effect-easing)
}

:root .bp4-html-select select:active:after,:root .bp4-select select:active:after {
    box-shadow: 0 0 0 0 currentColor;
    opacity: .2;
    transition: none
}

:root .bp4-html-select select.bp4-disabled:after,:root .bp4-html-select select:disabled:after,:root .bp4-select select.bp4-disabled:after,:root .bp4-select select:disabled:after {
    content: unset
}

:root .bp4-html-select select.bp4-intent-primary:after,:root .bp4-select select.bp4-intent-primary:after {
    color: var(--pt-intent-primary-active)
}

:root .bp4-html-select select.bp4-intent-success:after,:root .bp4-select select.bp4-intent-success:after {
    color: var(--pt-intent-success-active)
}

:root .bp4-html-select select.bp4-intent-warning:after,:root .bp4-select select.bp4-intent-warning:after {
    color: var(--pt-intent-warning-active)
}

:root .bp4-html-select select.bp4-intent-danger:after,:root .bp4-select select.bp4-intent-danger:after {
    color: var(--pt-intent-danger-active)
}

:root .bp4-html-select select .bp4-icon,:root .bp4-select select .bp4-icon {
    color: inherit
}

:root .bp4-html-select select:not([class*=bp4-intent-]):not(.bp4-minimal):not(.bp4-outlined):not(:disabled):not(.bp4-disabled):hover,:root .bp4-select select:not([class*=bp4-intent-]):not(.bp4-minimal):not(.bp4-outlined):not(:disabled):not(.bp4-disabled):hover {
    background-color: var(--button-background-color-hover);
    box-shadow: var(--button-box-shadow-hover);
    color: var(--pt-intent-primary-hover)
}

:root .bp4-html-select select:not([class*=bp4-intent-]):not(.bp4-minimal):not(.bp4-outlined):not(:disabled):not(.bp4-disabled).bp4-active,:root .bp4-html-select select:not([class*=bp4-intent-]):not(.bp4-minimal):not(.bp4-outlined):not(:disabled):not(.bp4-disabled):active,:root .bp4-select select:not([class*=bp4-intent-]):not(.bp4-minimal):not(.bp4-outlined):not(:disabled):not(.bp4-disabled).bp4-active,:root .bp4-select select:not([class*=bp4-intent-]):not(.bp4-minimal):not(.bp4-outlined):not(:disabled):not(.bp4-disabled):active {
    background-color: var(--button-background-color-active);
    box-shadow: var(--button-box-shadow-active);
    color: var(--pt-intent-primary-active)
}

:root .bp4-html-select select:hover~.bp4-icon,:root .bp4-select select:hover~.bp4-icon {
    color: var(--pt-intent-primary-hover)
}

:root .bp4-html-select .bp4-icon,:root .bp4-select .bp4-icon {
    transition: inherit
}

:root .bp4-file-upload-input:after {
    box-shadow: var(--button-box-shadow);
    transition: .2s linear;
    transition-property: background-color,color,opacity,box-shadow
}

:root .bp4-file-upload-input:hover:after {
    background-color: var(--button-background-color-hover);
    box-shadow: var(--button-box-shadow-hover);
    color: var(--pt-intent-primary-hover);
    transition-duration: 50ms
}

:root .bp4-file-upload-input.bp4-active:after,:root .bp4-file-upload-input:active:after {
    background-color: var(--button-background-color-active);
    box-shadow: var(--button-box-shadow-active);
    color: var(--pt-intent-primary-active)
}

:root .bp4-input {
    box-shadow: var(--pt-input-box-shadow),inset 0 0 0 0 hsla(var(--input-shadow-color-focus-hsl),0),0 0 0 0 hsla(var(--input-shadow-color-focus-hsl),0);
    transition: .3s ease-out;
    transition-property: background-color,color,opacity,box-shadow
}

:root .bp4-input:hover:not(:disabled):not(:focus):not(.bp4-active) {
    box-shadow: inset 0 0 0 1px var(--pt-intent-primary-hover),inset 0 0 0 0 hsla(var(--input-shadow-color-focus-hsl),0),0 0 0 0 hsla(var(--input-shadow-color-focus-hsl),0);
    transition-duration: .3s
}

:root .bp4-input.bp4-active,:root .bp4-input:focus {
    box-shadow: inset 0 0 0 0 transparent,inset 0 0 0 1px hsla(var(--input-shadow-color-focus-hsl),1),0 0 0 2px hsla(var(--input-shadow-color-focus-hsl),.3);
    transition-duration: .3s;
    transition-timing-function: ease
}

:root .bp4-control-indicator {
    position: relative;
    transition: .2s linear;
    transition-property: background-color,color,opacity,box-shadow
}

:root .bp4-control-indicator:after {
    border-radius: inherit;
    bottom: 0;
    box-shadow: 0 0 0 6px currentColor;
    color: var(--pt-intent-primary-hover);
    content: "";
    display: block;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 2s var(--button-active-effect-easing),box-shadow .4s var(--button-active-effect-easing)
}

:root .bp4-control-indicator:active:after {
    box-shadow: 0 0 0 0 currentColor;
    opacity: .2;
    transition: none
}

.bp4-disabled :root .bp4-control-indicator:after,:root .bp4-control-indicator.bp4-disabled:after,:root .bp4-control-indicator:disabled:after {
    content: unset
}

.bp4-control input:not(:disabled):hover~:root .bp4-control-indicator {
    box-shadow: var(--button-box-shadow-hover)
}

.bp4-control input:not(:disabled):active~:root .bp4-control-indicator {
    transition-duration: 50ms
}

:root .bp4-slider-handle {
    background-color: var(--slider-background-color);
    border-radius: 99px;
    position: relative;
    position: absolute;
    transition: .2s linear;
    transition-property: background-color,color,opacity,box-shadow
}

:root .bp4-slider-handle:after {
    border-radius: inherit;
    bottom: 0;
    box-shadow: 0 0 0 6px currentColor;
    color: var(--pt-intent-primary-hover);
    content: "";
    display: block;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 2s var(--button-active-effect-easing),box-shadow .4s var(--button-active-effect-easing)
}

:root .bp4-slider-handle:active:after {
    box-shadow: 0 0 0 0 currentColor;
    opacity: .2;
    transition: none
}

:root .bp4-slider-handle.bp4-disabled:after,:root .bp4-slider-handle:disabled:after {
    content: unset
}

:root .bp4-slider-handle:hover {
    background-color: var(--slider-background-color)
}

:root .bp4-slider-handle.bp4-active {
    transition-duration: 50ms
}

:root .bp4-slider-handle.bp4-end.bp4-end,:root .bp4-slider-handle.bp4-start.bp4-start {
    border-radius: 99px;
    margin-left: 0
}

:root .bp4-slider-handle.bp4-end,:root .bp4-slider-handle.bp4-start {
    width: 12px
}

.bp4-slider.bp4-vertical :root .bp4-slider-handle.bp4-end.bp4-end,.bp4-slider.bp4-vertical :root .bp4-slider-handle.bp4-start.bp4-start {
    border-radius: 99px
}

.bp4-slider.bp4-vertical :root .bp4-slider-handle.bp4-end,.bp4-slider.bp4-vertical :root .bp4-slider-handle.bp4-start {
    height: 12px
}

:root .bp4-heading,:root h1,:root h2,:root h3,:root h4,:root h5,:root h6 {
    font-family: var(--pt-font-family-decorative);
    font-weight: 600;
    letter-spacing: .1ch
}

:root .bp4-input[type=search] {
    border-radius: var(--pt-border-radius)
}

:root .bp4-input.bp4-round {
    border-radius: 99px
}