
// Don't edit this map file, edit the local _colors.scss

$black:        $BLACK;
$dark-gray1:   $DARK_GRAY1;
$dark-gray2:   $DARK_GRAY2;
$dark-gray3:   $DARK_GRAY3;
$dark-gray4:   $DARK_GRAY4;
$dark-gray5:   $DARK_GRAY5;
$gray1:        $GRAY1;
$gray2:        $GRAY2;
$gray3:        $GRAY3;
$gray4:        $GRAY4;
$gray5:        $GRAY5;
$light-gray1:  $LIGHT_GRAY1;
$light-gray2:  $LIGHT_GRAY2;
$light-gray3:  $LIGHT_GRAY3;
$light-gray4:  $LIGHT_GRAY4;
$light-gray5:  $LIGHT_GRAY5;
$white:        $WHITE;
$blue1:        $BLUE1;
$blue2:        $BLUE2;
$blue3:        $BLUE3;
$blue4:        $BLUE4;
$blue5:        $BLUE5;
$green1:       $GREEN1;
$green2:       $GREEN2;
$green3:       $GREEN3;
$green4:       $GREEN4;
$green5:       $GREEN5;
$orange1:      $ORANGE1;
$orange2:      $ORANGE2;
$orange3:      $ORANGE3;
$orange4:      $ORANGE4;
$orange5:      $ORANGE5;
$red1:         $RED1;
$red2:         $RED2;
$red3:         $RED3;
$red4:         $RED4;
$red5:         $RED5;
$vermilion1:   $VERMILION1;
$vermilion2:   $VERMILION2;
$vermilion3:   $VERMILION3;
$vermilion4:   $VERMILION4;
$vermilion5:   $VERMILION5;
$rose1:        $ROSE1;
$rose2:        $ROSE2;
$rose3:        $ROSE3;
$rose4:        $ROSE4;
$rose5:        $ROSE5;
$violet1:      $VIOLET1;
$violet2:      $VIOLET2;
$violet3:      $VIOLET3;
$violet4:      $VIOLET4;
$violet5:      $VIOLET5;
$indigo1:      $INDIGO1;
$indigo2:      $INDIGO2;
$indigo3:      $INDIGO3;
$indigo4:      $INDIGO4;
$indigo5:      $INDIGO5;
$cobalt1:      $COBALT1;
$cobalt2:      $COBALT2;
$cobalt3:      $COBALT3;
$cobalt4:      $COBALT4;
$cobalt5:      $COBALT5;
$turquoise1:   $TURQUOISE1;
$turquoise2:   $TURQUOISE2;
$turquoise3:   $TURQUOISE3;
$turquoise4:   $TURQUOISE4;
$turquoise5:   $TURQUOISE5;
$forest1:      $FOREST1;
$forest2:      $FOREST2;
$forest3:      $FOREST3;
$forest4:      $FOREST4;
$forest5:      $FOREST5;
$lime1:        $LIME1;
$lime2:        $LIME2;
$lime3:        $LIME3;
$lime4:        $LIME4;
$lime5:        $LIME5;
$gold1:        $GOLD1;
$gold2:        $GOLD2;
$gold3:        $GOLD3;
$gold4:        $GOLD4;
$gold5:        $GOLD5;
$sepia1:       $SEPIA1;
$sepia2:       $SEPIA2;
$sepia3:       $SEPIA3;
$sepia4:       $SEPIA4;
$sepia5:       $SEPIA5;
