.bpx-vars{

--black: #{$black};

--dark-gray1: #{$dark-gray1};
--dark-gray2: #{$dark-gray2};
--dark-gray3: #{$dark-gray3};
--dark-gray4: #{$dark-gray4};
--dark-gray5: #{$dark-gray5};

--gray1: #{$gray1};
--gray2: #{$gray2};
--gray3: #{$gray3};
--gray4: #{$gray4};
--gray5: #{$gray5};

--light-gray1: #{$light-gray1};
--light-gray2: #{$light-gray2};
--light-gray3: #{$light-gray3};
--light-gray4: #{$light-gray4};
--light-gray5: #{$light-gray5};

--white: #{$white};

--blue1: #{$blue1};
--blue2: #{$blue2};
--blue3: #{$blue3};
--blue4: #{$blue4};
--blue5: #{$blue5};

--green1: #{$green1};
--green2: #{$green2};
--green3: #{$green3};
--green4: #{$green4};
--green5: #{$green5};

--orange1: #{$orange1};
--orange2: #{$orange2};
--orange3: #{$orange3};
--orange4: #{$orange4};
--orange5: #{$orange5};

--red1: #{$red1};
--red2: #{$red2};
--red3: #{$red3};
--red4: #{$red4};
--red5: #{$red5};

--vermilion1: #{$vermilion1};
--vermilion2: #{$vermilion2};
--vermilion3: #{$vermilion3};
--vermilion4: #{$vermilion4};
--vermilion5: #{$vermilion5};

--rose1: #{$rose1};
--rose2: #{$rose2};
--rose3: #{$rose3};
--rose4: #{$rose4};
--rose5: #{$rose5};

--violet1: #{$violet1};
--violet2: #{$violet2};
--violet3: #{$violet3};
--violet4: #{$violet4};
--violet5: #{$violet5};

--indigo1: #{$indigo1};
--indigo2: #{$indigo2};
--indigo3: #{$indigo3};
--indigo4: #{$indigo4};
--indigo5: #{$indigo5};

--cobalt1: #{$cobalt1};
--cobalt2: #{$cobalt2};
--cobalt3: #{$cobalt3};
--cobalt4: #{$cobalt4};
--cobalt5: #{$cobalt5};

--turquoise1: #{$turquoise1};
--turquoise2: #{$turquoise2};
--turquoise3: #{$turquoise3};
--turquoise4: #{$turquoise4};
--turquoise5: #{$turquoise5};

--forest1: #{$forest1};
--forest2: #{$forest2};
--forest3: #{$forest3};
--forest4: #{$forest4};
--forest5: #{$forest5};

--lime1: #{$lime1};
--lime2: #{$lime2};
--lime3: #{$lime3};
--lime4: #{$lime4};
--lime5: #{$lime5};

--gold1: #{$gold1};
--gold2: #{$gold2};
--gold3: #{$gold3};
--gold4: #{$gold4};
--gold5: #{$gold5};

--sepia1: #{$sepia1};
--sepia2: #{$sepia2};
--sepia3: #{$sepia3};
--sepia4: #{$sepia4};
--sepia5: #{$sepia5};

--pt-intent-primary: #{$pt-intent-primary};
--pt-intent-success: #{$pt-intent-success};
--pt-intent-warning: #{$pt-intent-warning};
--pt-intent-danger: #{$pt-intent-danger};

--pt-app-background-color: #{$pt-app-background-color};
--pt-dark-app-background-color: #{$pt-dark-app-background-color};

--pt-outline-color: #{$pt-outline-color};

--pt-text-color: #{$pt-text-color};
--pt-text-color-muted: #{$pt-text-color-muted};
--pt-text-color-disabled: #{$pt-text-color-disabled};
--pt-heading-color: #{$pt-heading-color};
--pt-link-color: #{$pt-link-color};
--pt-dark-text-color: #{$pt-dark-text-color};
--pt-dark-text-color-muted: #{$pt-dark-text-color-muted};
--pt-dark-text-color-disabled: #{$pt-dark-text-color-disabled};
--pt-dark-heading-color: #{$pt-dark-heading-color};
--pt-dark-link-color: #{$pt-dark-link-color};
--pt-text-selection-color: #{$pt-text-selection-color};

--pt-icon-color: #{$pt-icon-color};
--pt-icon-color-hover: #{$pt-icon-color-hover};
--pt-icon-color-disabled: #{$pt-icon-color-disabled};
--pt-icon-color-selected: #{$pt-icon-color-selected};
--pt-dark-icon-color: #{$pt-dark-icon-color};
--pt-dark-icon-color-hover: #{$pt-dark-icon-color-hover};
--pt-dark-icon-color-disabled: #{$pt-dark-icon-color-disabled};
--pt-dark-icon-color-selected: #{$pt-dark-icon-color-selected};

--pt-divider-black: #{$pt-divider-black};
--pt-dark-divider-black: #{$pt-dark-divider-black};
--pt-dark-divider-white: #{$pt-dark-divider-white};

--pt-code-text-color: #{$pt-code-text-color};
--pt-dark-code-text-color: #{$pt-dark-code-text-color};
--pt-code-background-color: #{$pt-code-background-color};
--pt-dark-code-background-color: #{$pt-dark-code-background-color};
--ns: #{$ns};

--pt-grid-size: #{$pt-grid-size};

--pt-font-family: #{$pt-font-family};

--pt-font-family-monospace: #{$pt-font-family-monospace};

--pt-font-size: #{$pt-font-size};
--pt-font-size-large: #{$pt-font-size-large};
--pt-font-size-small: #{$pt-font-size-small};

--pt-line-height: #{$pt-line-height};

--icons16-family: #{$icons16-family};
--icons20-family: #{$icons20-family};

--pt-icon-size-standard: #{$pt-icon-size-standard};
--pt-icon-size-large: #{$pt-icon-size-large};

--pt-border-radius: #{$pt-border-radius};

--pt-button-height: #{$pt-button-height};
--pt-button-height-small: #{$pt-button-height-small};
--pt-button-height-smaller: #{$pt-button-height-smaller};
--pt-button-height-large: #{$pt-button-height-large};

--pt-input-height: #{$pt-input-height};
--pt-input-height-large: #{$pt-input-height-large};
--pt-input-height-small: #{$pt-input-height-small};

--pt-navbar-height: #{$pt-navbar-height};

--pt-z-index-base: #{$pt-z-index-base};
--pt-z-index-content: #{$pt-z-index-content};
--pt-z-index-overlay: #{$pt-z-index-overlay};

--pt-border-shadow-opacity: #{$pt-border-shadow-opacity};
--pt-drop-shadow-opacity: #{$pt-drop-shadow-opacity};
--pt-dark-border-shadow-opacity: #{$pt-dark-border-shadow-opacity};
--pt-dark-drop-shadow-opacity: #{$pt-dark-drop-shadow-opacity};

--pt-elevation-shadow-0: #{$pt-elevation-shadow-0};
--pt-elevation-shadow-1: #{$pt-elevation-shadow-1};
--pt-elevation-shadow-2: #{$pt-elevation-shadow-2};
--pt-elevation-shadow-3: #{$pt-elevation-shadow-3};
--pt-elevation-shadow-4: #{$pt-elevation-shadow-4};

--pt-dark-elevation-shadow-0: #{$pt-dark-elevation-shadow-0};
--pt-dark-elevation-shadow-1: #{$pt-dark-elevation-shadow-1};
--pt-dark-elevation-shadow-2: #{$pt-dark-elevation-shadow-2};
--pt-dark-elevation-shadow-3: #{$pt-dark-elevation-shadow-3};
--pt-dark-elevation-shadow-4: #{$pt-dark-elevation-shadow-4};

--pt-transition-ease: #{$pt-transition-ease};
--pt-transition-ease-bounce: #{$pt-transition-ease-bounce};
--pt-transition-duration: #{$pt-transition-duration};

--pt-input-box-shadow: #{$pt-input-box-shadow};

--pt-dialog-box-shadow: #{$pt-dialog-box-shadow};
--pt-popover-box-shadow: #{$pt-popover-box-shadow};
--pt-tooltip-box-shadow: #{$pt-tooltip-box-shadow};

--pt-dark-input-box-shadow: #{$pt-dark-input-box-shadow};

--pt-dark-dialog-box-shadow: #{$pt-dark-dialog-box-shadow};
--pt-dark-popover-box-shadow: #{$pt-dark-popover-box-shadow};
--pt-dark-tooltip-box-shadow: #{$pt-dark-tooltip-box-shadow};

}
