@import "../../global/common-colors-grayscale-mono";

#{$root-selector} {
  // https://accessiblepalette.com/?lightness=98.2,93.9,85,76.2,67.4,57.8,48,40.2,31.8,24.9&D13438=1,-10&d73f04=1,0&8E562D=1,0&FFAA43=1,0&f6cc15=1,15&8BBE18=1,0&238300=1,0&13ad5b=0,0&14bed1=0,0&2487d9=0,0&306df7=0,0&7978f5=1,0&C23AB3=1,0&E30E8C=1,0
  // https://developer.microsoft.com/en-us/fluentui#/styles/web/colors/shared

  /*! ColorsHsl */

  --vermilion-hue: 16;
  --vermilion1-hsl: 16, 82%, 29%;
  --vermilion2-hsl: 17, 90%, 35%;
  --vermilion3-hsl: 17, 97%, 41%;
  --vermilion4-hsl: 16, 76%, 55%;
  --vermilion5-hsl: 16, 85%, 66%;

  --red-hue: 352; // CORE //
  --red1-hsl: 351, 60%, 34%;
  --red2-hsl: 351, 63%, 43%;
  --red3-hsl: 352, 66%, 51%;
  --red4-hsl: 357, 69%, 63%;
  --red5-hsl: 2, 76%, 73%;

  --rose-hue: 330;
  --rose1-hsl: 328, 67%, 33%;
  --rose2-hsl: 326, 74%, 40%;
  --rose3-hsl: 325, 85%, 46%;
  --rose4-hsl: 330, 79%, 61%;
  --rose5-hsl: 333, 84%, 72%;

  --violet-hue: 308;
  --violet1-hsl: 307, 48%, 32%;
  --violet2-hsl: 307, 50%, 41%;
  --violet3-hsl: 307, 54%, 48%;
  --violet4-hsl: 309, 53%, 60%;
  --violet5-hsl: 310, 55%, 70%;

  --indigo-hue: 243;
  --indigo1-hsl: 243, 32%, 39%;
  --indigo2-hsl: 242, 33%, 50%;
  --indigo3-hsl: 241, 50%, 60%;
  --indigo4-hsl: 241, 87%, 73%;
  --indigo5-hsl: 245, 89%, 79%;

  --cobalt-hue: 222;
  --cobalt1-hsl: 222, 68%, 37%;
  --cobalt2-hsl: 222, 67%, 46%;
  --cobalt3-hsl: 221, 84%, 55%;
  --cobalt4-hsl: 221, 92%, 65%;
  --cobalt5-hsl: 222, 93%, 73%;

  --blue-hue: 207; // CORE //
  --blue1-hsl: 208, 71%, 29%;
  --blue2-hsl: 207, 71%, 36%;
  --blue3-hsl: 207, 73%, 43%;
  --blue4-hsl: 207, 71%, 53%;
  --blue5-hsl: 207, 70%, 64%;

  --turquoise-hue: 186;
  --turquoise1-hsl: 186, 80%, 20%;
  --turquoise2-hsl: 186, 81%, 25%;
  --turquoise3-hsl: 186, 83%, 30%;
  --turquoise4-hsl: 186, 84%, 36%;
  --turquoise5-hsl: 186, 84%, 42%;

  --green-hue: 148; // CORE //
  --green1-hsl: 148, 79%, 19%;
  --green2-hsl: 147, 76%, 24%;
  --green3-hsl: 148, 81%, 28%;
  --green4-hsl: 148, 82%, 35%;
  --green5-hsl: 148, 53%, 47%;

  --forest-hue: 105;
  --forest1-hsl: 105, 72%, 20%;
  --forest2-hsl: 105, 82%, 23%;
  --forest3-hsl: 105, 91%, 27%;
  --forest4-hsl: 103, 44%, 42%;
  --forest5-hsl: 102, 41%, 51%;

  --lime-hue: 79;
  --lime1-hsl: 79, 59%, 25%;
  --lime2-hsl: 80, 64%, 30%;
  --lime3-hsl: 79, 69%, 35%;
  --lime4-hsl: 79, 76%, 40%;
  --lime5-hsl: 79, 53%, 55%;

  --gold-hue: ;
  --gold1-hsl: 56, 64%, 29%;
  --gold2-hsl: 56, 68%, 35%;
  --gold3-hsl: 55, 71%, 43%;
  --gold4-hsl: 54, 73%, 51%;
  --gold5-hsl: 54, 100%, 49%;

  --orange-hue: 33; // CORE //
  --orange1-hsl: 32, 52%, 33%;
  --orange2-hsl: 32, 54%, 39%;
  --orange3-hsl: 33, 56%, 47%;
  --orange4-hsl: 33, 70%, 55%;
  --orange5-hsl: 33, 100%, 63%;

  --sepia-hue: 25;
  --sepia1-hsl: 26, 49%, 28%;
  --sepia2-hsl: 25, 52%, 35%;
  --sepia3-hsl: 24, 42%, 43%;
  --sepia4-hsl: 24, 33%, 54%;
  --sepia5-hsl: 25, 35%, 64%;
}
