$black: var(--black);
$dark-gray1: var(--dark-gray1);
$dark-gray2: var(--dark-gray2);
$dark-gray3: var(--dark-gray3);
$dark-gray4: var(--dark-gray4);
$dark-gray5: var(--dark-gray5);
$gray1: var(--gray1);
$gray2: var(--gray2);
$gray3: var(--gray3);
$gray4: var(--gray4);
$gray5: var(--gray5);
$light-gray1: var(--light-gray1);
$light-gray2: var(--light-gray2);
$light-gray3: var(--light-gray3);
$light-gray4: var(--light-gray4);
$light-gray5: var(--light-gray5);
$white: var(--white);
$blue1: var(--blue1);
$blue2: var(--blue2);
$blue3: var(--blue3);
$blue4: var(--blue4);
$blue5: var(--blue5);
$green1: var(--green1);
$green2: var(--green2);
$green3: var(--green3);
$green4: var(--green4);
$green5: var(--green5);
$orange1: var(--orange1);
$orange2: var(--orange2);
$orange3: var(--orange3);
$orange4: var(--orange4);
$orange5: var(--orange5);
$red1: var(--red1);
$red2: var(--red2);
$red3: var(--red3);
$red4: var(--red4);
$red5: var(--red5);
$vermilion1: var(--vermilion1);
$vermilion2: var(--vermilion2);
$vermilion3: var(--vermilion3);
$vermilion4: var(--vermilion4);
$vermilion5: var(--vermilion5);
$rose1: var(--rose1);
$rose2: var(--rose2);
$rose3: var(--rose3);
$rose4: var(--rose4);
$rose5: var(--rose5);
$violet1: var(--violet1);
$violet2: var(--violet2);
$violet3: var(--violet3);
$violet4: var(--violet4);
$violet5: var(--violet5);
$indigo1: var(--indigo1);
$indigo2: var(--indigo2);
$indigo3: var(--indigo3);
$indigo4: var(--indigo4);
$indigo5: var(--indigo5);
$cobalt1: var(--cobalt1);
$cobalt2: var(--cobalt2);
$cobalt3: var(--cobalt3);
$cobalt4: var(--cobalt4);
$cobalt5: var(--cobalt5);
$turquoise1: var(--turquoise1);
$turquoise2: var(--turquoise2);
$turquoise3: var(--turquoise3);
$turquoise4: var(--turquoise4);
$turquoise5: var(--turquoise5);
$forest1: var(--forest1);
$forest2: var(--forest2);
$forest3: var(--forest3);
$forest4: var(--forest4);
$forest5: var(--forest5);
$lime1: var(--lime1);
$lime2: var(--lime2);
$lime3: var(--lime3);
$lime4: var(--lime4);
$lime5: var(--lime5);
$gold1: var(--gold1);
$gold2: var(--gold2);
$gold3: var(--gold3);
$gold4: var(--gold4);
$gold5: var(--gold5);
$sepia1: var(--sepia1);
$sepia2: var(--sepia2);
$sepia3: var(--sepia3);
$sepia4: var(--sepia4);
$sepia5: var(--sepia5);
