$pt-intent-primary: var(--pt-intent-primary);
$pt-intent-success: var(--pt-intent-success);
$pt-intent-warning: var(--pt-intent-warning);
$pt-intent-danger: var(--pt-intent-danger);

$pt-intent-primary-hsl: var(--pt-intent-primary-hsl);


$pt-app-background-color: var(--pt-app-background-color);
$pt-dark-app-background-color: var(--pt-dark-app-background-color);

$pt-outline-color: var(--pt-outline-color);

$pt-text-color: var(--pt-text-color);
$pt-text-color-muted: var(--pt-text-color-muted);
$pt-text-color-disabled: var(--pt-text-color-disabled);
$pt-heading-color: var(--pt-heading-color);
$pt-link-color: var(--pt-link-color);
$pt-dark-text-color: var(--pt-dark-text-color);
$pt-dark-text-color-muted: var(--pt-dark-text-color-muted);
$pt-dark-text-color-disabled: var(--pt-dark-text-color-disabled);
$pt-dark-heading-color: var(--pt-dark-heading-color);
$pt-dark-link-color: var(--pt-dark-link-color);

$pt-text-selection-color: var(--pt-text-selection-color);

$pt-icon-color: var(--pt-icon-color);
$pt-icon-color-raw: hsl(0, 0%, 43%); // gray1 ish
$pt-icon-color-hover: var(--pt-icon-color-hover);
$pt-icon-color-disabled: var(--pt-icon-color-disabled);
$pt-icon-color-selected: var(--pt-icon-color-selected);
$pt-dark-icon-color: var(--pt-dark-icon-color);
$pt-dark-icon-color-hover: var(--pt-dark-icon-color-hover);
$pt-dark-icon-color-disabled: var(--pt-dark-icon-color-disabled);
$pt-dark-icon-color-selected: var(--pt-dark-icon-color-selected);

$pt-divider-black: var(--pt-divider-black);
$pt-dark-divider-black: var(--pt-dark-divider-black);
$pt-dark-divider-white: var(--pt-dark-divider-white);

$pt-code-text-color: var(--pt-code-text-color);
$pt-dark-code-text-color: var(--pt-dark-code-text-color);
$pt-code-background-color: var(--pt-code-background-color);
$pt-dark-code-background-color: var(--pt-dark-code-background-color);

// were in mixins.scss
$pt-intent-colors: (
  "primary": $pt-intent-primary,
  "success": $pt-intent-success,
  "warning": $pt-intent-warning,
  "danger" : $pt-intent-danger,
);
$pt-intent-text-colors: (
  "primary": $blue2,
  "success": $green2,
  "warning": $orange2,
  "danger" : $red2,
);
$pt-dark-intent-text-colors: (
  "primary": $blue5,
  "success": $green5,
  "warning": $orange5,
  "danger" : $red5,
);
// hsl versions
$pt-intent-colors-hsl: (
  "primary": var(--blue3-hsl),
  "success": var(--green3-hsl),
  "warning": var(--orange3-hsl),
  "danger" : var(--red3-hsl),
);
$pt-intent-text-colors-hsl: (
  "primary": var(--blue2-hsl),
  "success": var(--green2-hsl),
  "warning": var(--orange2-hsl),
  "danger" : var(--red2-hsl),
);
$pt-dark-intent-text-colors-hsl: (
  "primary": var(--blue5-hsl),
  "success": var(--green5-hsl),
  "warning": var(--orange5-hsl),
  "danger" : var(--red5-hsl),
);
