$pt-intent-primary: var(--pt-intent-primary);
$pt-intent-success: var(--pt-intent-success);
$pt-intent-warning: var(--pt-intent-warning);
$pt-intent-danger: var(--pt-intent-danger);

$pt-intent-primary-hsl: var(--pt-intent-primary-hsl);

$pt-app-background-color: var(--pt-app-background-color);
$pt-dark-app-background-color: var(--pt-dark-app-background-color);

$pt-outline-color: var(--pt-outline-color);

$pt-text-color: var(--pt-text-color);
$pt-text-color-muted: var(--pt-text-color-muted);
$pt-text-color-disabled: var(--pt-text-color-disabled);
$pt-heading-color: var(--pt-heading-color);
$pt-link-color: var(--pt-link-color);
$pt-dark-text-color: var(--pt-dark-text-color);
$pt-dark-text-color-muted: var(--pt-dark-text-color-muted);
$pt-dark-text-color-disabled: var(--pt-dark-text-color-disabled);
$pt-dark-heading-color: var(--pt-dark-heading-color);
$pt-dark-link-color: var(--pt-dark-link-color);

$pt-text-selection-color: var(--pt-text-selection-color);

$pt-icon-color: var(--pt-icon-color);
$pt-icon-color-raw: hsl(0, 0%, 43%) !default; // gray1 ish // for svg-icon()
$pt-icon-color-hover: var(--pt-icon-color-hover);
$pt-icon-color-disabled: var(--pt-icon-color-disabled);
$pt-icon-color-selected: var(--pt-icon-color-selected);
$pt-dark-icon-color: var(--pt-dark-icon-color);
$pt-dark-icon-color-hover: var(--pt-dark-icon-color-hover);
$pt-dark-icon-color-disabled: var(--pt-dark-icon-color-disabled);
$pt-dark-icon-color-selected: var(--pt-dark-icon-color-selected);

$pt-divider-black: var(--pt-divider-black);
$pt-dark-divider-black: var(--pt-dark-divider-black);
$pt-dark-divider-white: var(--pt-dark-divider-white);

$pt-code-text-color: var(--pt-code-text-color);
$pt-dark-code-text-color: var(--pt-dark-code-text-color);
$pt-code-background-color: var(--pt-code-background-color);
$pt-dark-code-background-color: var(--pt-dark-code-background-color);

// were in mixins.scss
$pt-intent-colors: (
  "primary": var(--pt-intent-primary),
  "success": var(--pt-intent-success),
  "warning": var(--pt-intent-warning),
  "danger" : var(--pt-intent-danger),
);
$pt-intent-text-colors: (
  "primary": var(--pt-intent-primary-text-color),
  "success": var(--pt-intent-success-text-color),
  "warning": var(--pt-intent-warning-text-color),
  "danger" : var(--pt-intent-danger-text-color),
);
$pt-dark-intent-text-colors: (
  "primary": var(--pt-dark-intent-primary-text-color),
  "success": var(--pt-dark-intent-success-text-color),
  "warning": var(--pt-dark-intent-warning-text-color),
  "danger" : var(--pt-dark-intent-danger-text-color),
);
// hsl versions
$pt-intent-colors-hsl: (
  "primary": var(--pt-intent-primary-hsl),
  "success": var(--pt-intent-success-hsl),
  "warning": var(--pt-intent-warning-hsl),
  "danger" : var(--pt-intent-danger-hsl),
);
$pt-intent-text-colors-hsl: (
  "primary": var(--pt-intent-primary-text-color-hsl),
  "success": var(--pt-intent-success-text-color-hsl),
  "warning": var(--pt-intent-warning-text-color-hsl),
  "danger" : var(--pt-intent-danger-text-color-hsl),
);
$pt-dark-intent-text-colors-hsl: (
  "primary": var(--pt-dark-intent-primary-text-color-hsl),
  "success": var(--pt-dark-intent-success-text-color-hsl),
  "warning": var(--pt-dark-intent-warning-text-color-hsl),
  "danger" : var(--pt-dark-intent-danger-text-color-hsl),
);
