:root{


--pt-intent-primary:   var(--blue3);
--pt-intent-success:   var(--green3);
--pt-intent-warning:   var(--orange3);
--pt-intent-danger:    var(--red3);

--pt-intent-primary-hue:   var(--blue-hue);
--pt-intent-primary-hsl:   var(--blue3-hsl);

--pt-app-background-color:      var(--light-gray5);
--pt-dark-app-background-color: var(--dark-gray3);

--pt-outline-color: hsla(var(--blue3-hsl), 0.6);

--ptx-disabled-opacity: 0.3;

--pt-text-color:               var(--dark-gray1);
--pt-text-color-muted:         var(--gray1);
--pt-text-color-disabled:      hsla(var(--black-hsl), var(--ptx-disabled-opacity));
--pt-heading-color:            var(--pt-text-color);
--pt-link-color:               var(--blue2);
--pt-dark-text-color:          var(--light-gray5);
--pt-dark-text-color-muted:    var(--gray4);
--pt-dark-text-color-disabled: hsla(var(--white-hsl), var(--ptx-disabled-opacity));
--pt-dark-heading-color:       var(--pt-dark-text-color);
--pt-dark-link-color:          var(--blue5);

--pt-text-selection-color: hsla(var(--blue-hue), 100%, 75%, 0.6);

--pt-icon-color:               var(--pt-text-color-muted);
--pt-icon-color-hover:         var(--pt-text-color);
--pt-icon-color-disabled:      var(--pt-text-color-disabled);
--pt-icon-color-selected:      var(--pt-intent-primary);
--pt-dark-icon-color:          var(--pt-dark-text-color-muted);
--pt-dark-icon-color-hover:    var(--pt-dark-text-color);
--pt-dark-icon-color-disabled: var(--pt-dark-text-color-disabled);
--pt-dark-icon-color-selected: var(--pt-intent-primary);

--pt-divider-black:      hsla(var(--black-hsl), 0.15);
--pt-dark-divider-black: hsla(var(--black-hsl), 0.4);
--pt-dark-divider-white: hsla(var(--white-hsl) 0.15);

--pt-code-text-color:            var(--pt-text-color-muted);
--pt-dark-code-text-color:       var(--pt-dark-text-color-muted);
--pt-code-background-color:      hsla(var(--white-hsl), 0.7);
--pt-dark-code-background-color: hsla(var(--black-hsl), 0.3);

}
