:root{

--pt-intent-primary:   $blue3;
--pt-intent-success:   $green3;
--pt-intent-warning:   $orange3;
--pt-intent-danger:    $red3;

--pt-app-background-color:      $light-gray5;
--pt-dark-app-background-color: $dark-gray3;

--pt-outline-color: hsla(var(--blue3-hsl), 0.6);

--ptx-disabled-opacity: 0.3

--pt-text-color:               $dark-gray1;
--pt-text-color-muted:         $gray1;
--pt-text-color-disabled:      hsla(var(--black-hsl), var(--ptx-disabled-opacity));
--pt-heading-color:            $pt-text-color;
--pt-link-color:               $blue2;
--pt-dark-text-color:          $light-gray5;
--pt-dark-text-color-muted:    $gray4;
--pt-dark-text-color-disabled: hsla(var(--white-hsl), var(--ptx-disabled-opacity));
--pt-dark-heading-color:       $pt-dark-text-color;
--pt-dark-link-color:          $blue5;

--pt-text-selection-color: hsla(var(--blue-hue), 100%, 75%, 0.6);

--pt-icon-color:               $pt-text-color-muted;
--pt-icon-color-hover:         $pt-text-color;
--pt-icon-color-disabled:      $pt-text-color-disabled;
--pt-icon-color-selected:      $pt-intent-primary;
--pt-dark-icon-color:          $pt-dark-text-color-muted;
--pt-dark-icon-color-hover:    $pt-dark-text-color;
--pt-dark-icon-color-disabled: $pt-dark-text-color-disabled;
--pt-dark-icon-color-selected: $pt-intent-primary;

--pt-divider-black:      hsla(var(--black-hsl), 0.15);
--pt-dark-divider-black: hsla(var(--black-hsl), 0.4);
--pt-dark-divider-white: hsla(var(--white-hsl) 0.15);

--pt-code-text-color:            $pt-text-color-muted;
--pt-dark-code-text-color:       $pt-dark-text-color-muted;
--pt-code-background-color:      hsla(var(--white-hsl), 0.7);
--pt-dark-code-background-color: hsla(var(--black-hsl), 0.3);

}
