#{$root-selector} {


  /*! IntentColors */

  --primary1-hsl: var(--cerulean1-hsl);
  --primary2-hsl: var(--cerulean2-hsl);
  --primary3-hsl: var(--cerulean3-hsl);
  --primary4-hsl: var(--cerulean4-hsl);
  --primary5-hsl: var(--cerulean5-hsl);
  --primary6-hsl: var(--cerulean6-hsl);

  --warning1-hsl: var(--gold1-hsl);
  --warning2-hsl: var(--gold2-hsl);
  --warning3-hsl: var(--gold3-hsl);
  --warning4-hsl: var(--gold4-hsl);
  --warning5-hsl: var(--gold5-hsl);
  --warning6-hsl: var(--gold6-hsl);


  /*! TextColors */

  --pt-text-color: var(--dark-gray2);
  --pt-text-color-muted: var(--gray1);
  --pt-text-color-disabled: hsla(var(--black-hsl), var(--pt-disabled-opacity));
  --pt-heading-color: var(--black);
  --pt-link-color: var(--cerulean3);

  --pt-dark-text-color: var(--light-gray5);
  --pt-dark-text-color-muted: var(--gray4);
  --pt-dark-text-color-disabled: hsla(var(--white-hsl), var(--pt-disabled-opacity));
  --pt-dark-heading-color: var(--white);
  --pt-dark-link-color: var(--cerulean5);

  --pt-text-selection-color: hsla(var(--orange-hue), 100%, 75%, 0.6);


}
