
	/*! CarbonColors */
@carbon--black-100: var(--carbon--black-100);
@carbon--warm-gray-10: var(--carbon--warm-gray-10);
@carbon--warm-gray-20: var(--carbon--warm-gray-20);
@carbon--warm-gray-30: var(--carbon--warm-gray-30);
@carbon--warm-gray-40: var(--carbon--warm-gray-40);
@carbon--warm-gray-50: var(--carbon--warm-gray-50);
@carbon--warm-gray-60: var(--carbon--warm-gray-60);
@carbon--warm-gray-70: var(--carbon--warm-gray-70);
@carbon--warm-gray-80: var(--carbon--warm-gray-80);
@carbon--warm-gray-90: var(--carbon--warm-gray-90);
@carbon--warm-gray-100: var(--carbon--warm-gray-100);
@carbon--gray-10: var(--carbon--gray-10);
@carbon--gray-20: var(--carbon--gray-20);
@carbon--gray-30: var(--carbon--gray-30);
@carbon--gray-40: var(--carbon--gray-40);
@carbon--gray-50: var(--carbon--gray-50);
@carbon--gray-60: var(--carbon--gray-60);
@carbon--gray-70: var(--carbon--gray-70);
@carbon--gray-80: var(--carbon--gray-80);
@carbon--gray-90: var(--carbon--gray-90);
@carbon--gray-100: var(--carbon--gray-100);
@carbon--cool-gray-10: var(--carbon--cool-gray-10);
@carbon--cool-gray-20: var(--carbon--cool-gray-20);
@carbon--cool-gray-30: var(--carbon--cool-gray-30);
@carbon--cool-gray-40: var(--carbon--cool-gray-40);
@carbon--cool-gray-50: var(--carbon--cool-gray-50);
@carbon--cool-gray-60: var(--carbon--cool-gray-60);
@carbon--cool-gray-70: var(--carbon--cool-gray-70);
@carbon--cool-gray-80: var(--carbon--cool-gray-80);
@carbon--cool-gray-90: var(--carbon--cool-gray-90);
@carbon--cool-gray-100: var(--carbon--cool-gray-100);
@carbon--white-0: var(--carbon--white-0);
@carbon--red-10: var(--carbon--red-10);
@carbon--red-20: var(--carbon--red-20);
@carbon--red-30: var(--carbon--red-30);
@carbon--red-40: var(--carbon--red-40);
@carbon--red-50: var(--carbon--red-50);
@carbon--red-60: var(--carbon--red-60);
@carbon--red-70: var(--carbon--red-70);
@carbon--red-80: var(--carbon--red-80);
@carbon--red-90: var(--carbon--red-90);
@carbon--red-100: var(--carbon--red-100);
@carbon--orange-30: var(--carbon--orange-30);
@carbon--orange-40: var(--carbon--orange-40);
@carbon--orange-50: var(--carbon--orange-50);
@carbon--orange-60: var(--carbon--orange-60);
@carbon--orange-70: var(--carbon--orange-70);
@carbon--orange-80: var(--carbon--orange-80);
@carbon--yellow-20: var(--carbon--yellow-20);
@carbon--yellow-30: var(--carbon--yellow-30);
@carbon--yellow-40: var(--carbon--yellow-40);
@carbon--yellow-50: var(--carbon--yellow-50);
@carbon--yellow-60: var(--carbon--yellow-60);
@carbon--yellow-70: var(--carbon--yellow-70);
@carbon--yellow-80: var(--carbon--yellow-80);
@carbon--green-10: var(--carbon--green-10);
@carbon--green-20: var(--carbon--green-20);
@carbon--green-30: var(--carbon--green-30);
@carbon--green-40: var(--carbon--green-40);
@carbon--green-50: var(--carbon--green-50);
@carbon--green-60: var(--carbon--green-60);
@carbon--green-70: var(--carbon--green-70);
@carbon--green-80: var(--carbon--green-80);
@carbon--green-90: var(--carbon--green-90);
@carbon--green-100: var(--carbon--green-100);
@carbon--teal-10: var(--carbon--teal-10);
@carbon--teal-20: var(--carbon--teal-20);
@carbon--teal-30: var(--carbon--teal-30);
@carbon--teal-40: var(--carbon--teal-40);
@carbon--teal-50: var(--carbon--teal-50);
@carbon--teal-60: var(--carbon--teal-60);
@carbon--teal-70: var(--carbon--teal-70);
@carbon--teal-80: var(--carbon--teal-80);
@carbon--teal-90: var(--carbon--teal-90);
@carbon--teal-100: var(--carbon--teal-100);
@carbon--cyan-10: var(--carbon--cyan-10);
@carbon--cyan-20: var(--carbon--cyan-20);
@carbon--cyan-30: var(--carbon--cyan-30);
@carbon--cyan-40: var(--carbon--cyan-40);
@carbon--cyan-50: var(--carbon--cyan-50);
@carbon--cyan-60: var(--carbon--cyan-60);
@carbon--cyan-70: var(--carbon--cyan-70);
@carbon--cyan-80: var(--carbon--cyan-80);
@carbon--cyan-90: var(--carbon--cyan-90);
@carbon--cyan-100: var(--carbon--cyan-100);
@carbon--blue-10: var(--carbon--blue-10);
@carbon--blue-20: var(--carbon--blue-20);
@carbon--blue-30: var(--carbon--blue-30);
@carbon--blue-40: var(--carbon--blue-40);
@carbon--blue-50: var(--carbon--blue-50);
@carbon--blue-60: var(--carbon--blue-60);
@carbon--blue-70: var(--carbon--blue-70);
@carbon--blue-80: var(--carbon--blue-80);
@carbon--blue-90: var(--carbon--blue-90);
@carbon--blue-100: var(--carbon--blue-100);
@carbon--purple-10: var(--carbon--purple-10);
@carbon--purple-20: var(--carbon--purple-20);
@carbon--purple-30: var(--carbon--purple-30);
@carbon--purple-40: var(--carbon--purple-40);
@carbon--purple-50: var(--carbon--purple-50);
@carbon--purple-60: var(--carbon--purple-60);
@carbon--purple-70: var(--carbon--purple-70);
@carbon--purple-80: var(--carbon--purple-80);
@carbon--purple-90: var(--carbon--purple-90);
@carbon--purple-100: var(--carbon--purple-100);
@carbon--magenta-10: var(--carbon--magenta-10);
@carbon--magenta-20: var(--carbon--magenta-20);
@carbon--magenta-30: var(--carbon--magenta-30);
@carbon--magenta-40: var(--carbon--magenta-40);
@carbon--magenta-50: var(--carbon--magenta-50);
@carbon--magenta-60: var(--carbon--magenta-60);
@carbon--magenta-70: var(--carbon--magenta-70);
@carbon--magenta-80: var(--carbon--magenta-80);
@carbon--magenta-90: var(--carbon--magenta-90);
@carbon--magenta-100: var(--carbon--magenta-100);

	/*! ColorsHsl */
@grayscale-hue: var(--grayscale-hue);
@black-hsl: var(--black-hsl);
@dark-gray1-hsl: var(--dark-gray1-hsl);
@dark-gray2-hsl: var(--dark-gray2-hsl);
@dark-gray3-hsl: var(--dark-gray3-hsl);
@dark-gray4-hsl: var(--dark-gray4-hsl);
@dark-gray5-hsl: var(--dark-gray5-hsl);
@gray1-hsl: var(--gray1-hsl);
@gray2-hsl: var(--gray2-hsl);
@gray3-hsl: var(--gray3-hsl);
@gray4-hsl: var(--gray4-hsl);
@gray5-hsl: var(--gray5-hsl);
@light-gray1-hsl: var(--light-gray1-hsl);
@light-gray2-hsl: var(--light-gray2-hsl);
@light-gray3-hsl: var(--light-gray3-hsl);
@light-gray4-hsl: var(--light-gray4-hsl);
@light-gray5-hsl: var(--light-gray5-hsl);
@white-hsl: var(--white-hsl);
@vermilion-hue: var(--vermilion-hue);
@vermilion1-hsl: var(--vermilion1-hsl);
@vermilion2-hsl: var(--vermilion2-hsl);
@vermilion3-hsl: var(--vermilion3-hsl);
@vermilion4-hsl: var(--vermilion4-hsl);
@vermilion5-hsl: var(--vermilion5-hsl);
@red-hue: var(--red-hue);
@red1-hsl: var(--red1-hsl);
@red2-hsl: var(--red2-hsl);
@red3-hsl: var(--red3-hsl);
@red4-hsl: var(--red4-hsl);
@red5-hsl: var(--red5-hsl);
@red6-hsl: var(--red6-hsl);
@rose-hue: var(--rose-hue);
@rose1-hsl: var(--rose1-hsl);
@rose2-hsl: var(--rose2-hsl);
@rose3-hsl: var(--rose3-hsl);
@rose4-hsl: var(--rose4-hsl);
@rose5-hsl: var(--rose5-hsl);
@violet-hue: var(--violet-hue);
@violet1-hsl: var(--violet1-hsl);
@violet2-hsl: var(--violet2-hsl);
@violet3-hsl: var(--violet3-hsl);
@violet4-hsl: var(--violet4-hsl);
@violet5-hsl: var(--violet5-hsl);
@indigo-hue: var(--indigo-hue);
@indigo1-hsl: var(--indigo1-hsl);
@indigo2-hsl: var(--indigo2-hsl);
@indigo3-hsl: var(--indigo3-hsl);
@indigo4-hsl: var(--indigo4-hsl);
@indigo5-hsl: var(--indigo5-hsl);
@blue-hue: var(--blue-hue);
@blue1-hsl: var(--blue1-hsl);
@blue2-hsl: var(--blue2-hsl);
@blue3-hsl: var(--blue3-hsl);
@blue4-hsl: var(--blue4-hsl);
@blue5-hsl: var(--blue5-hsl);
@blue6-hsl: var(--blue6-hsl);
@cerulean-hue: var(--cerulean-hue);
@cerulean1-hsl: var(--cerulean1-hsl);
@cerulean2-hsl: var(--cerulean2-hsl);
@cerulean3-hsl: var(--cerulean3-hsl);
@cerulean4-hsl: var(--cerulean4-hsl);
@cerulean5-hsl: var(--cerulean5-hsl);
@turquoise-hue: var(--turquoise-hue);
@turquoise1-hsl: var(--turquoise1-hsl);
@turquoise2-hsl: var(--turquoise2-hsl);
@turquoise3-hsl: var(--turquoise3-hsl);
@turquoise4-hsl: var(--turquoise4-hsl);
@turquoise5-hsl: var(--turquoise5-hsl);
@green-hue: var(--green-hue);
@green1-hsl: var(--green1-hsl);
@green2-hsl: var(--green2-hsl);
@green3-hsl: var(--green3-hsl);
@green4-hsl: var(--green4-hsl);
@green5-hsl: var(--green5-hsl);
@green6-hsl: var(--green6-hsl);
@forest-hue: var(--forest-hue);
@forest1-hsl: var(--forest1-hsl);
@forest2-hsl: var(--forest2-hsl);
@forest3-hsl: var(--forest3-hsl);
@forest4-hsl: var(--forest4-hsl);
@forest5-hsl: var(--forest5-hsl);
@lime-hue: var(--lime-hue);
@lime1-hsl: var(--lime1-hsl);
@lime2-hsl: var(--lime2-hsl);
@lime3-hsl: var(--lime3-hsl);
@lime4-hsl: var(--lime4-hsl);
@lime5-hsl: var(--lime5-hsl);
@gold-hue: var(--gold-hue);
@gold1-hsl: var(--gold1-hsl);
@gold2-hsl: var(--gold2-hsl);
@gold3-hsl: var(--gold3-hsl);
@gold4-hsl: var(--gold4-hsl);
@gold5-hsl: var(--gold5-hsl);
@gold6-hsl: var(--gold6-hsl);
@orange-hue: var(--orange-hue);
@orange1-hsl: var(--orange1-hsl);
@orange2-hsl: var(--orange2-hsl);
@orange3-hsl: var(--orange3-hsl);
@orange4-hsl: var(--orange4-hsl);
@orange5-hsl: var(--orange5-hsl);
@orange6-hsl: var(--orange6-hsl);
@sepia-hue: var(--sepia-hue);
@sepia1-hsl: var(--sepia1-hsl);
@sepia2-hsl: var(--sepia2-hsl);
@sepia3-hsl: var(--sepia3-hsl);
@sepia4-hsl: var(--sepia4-hsl);
@sepia5-hsl: var(--sepia5-hsl);

	/*! ColorsGrayscaleTransparent */
@white-trans-dark-gray1: var(--white-trans-dark-gray1);
@white-trans-dark-gray2: var(--white-trans-dark-gray2);
@white-trans-dark-gray3: var(--white-trans-dark-gray3);
@white-trans-dark-gray4: var(--white-trans-dark-gray4);
@white-trans-dark-gray5: var(--white-trans-dark-gray5);
@white-trans-gray1: var(--white-trans-gray1);
@white-trans-gray2: var(--white-trans-gray2);
@white-trans-gray3: var(--white-trans-gray3);
@white-trans-gray4: var(--white-trans-gray4);
@white-trans-gray5: var(--white-trans-gray5);
@white-trans-light-gray1: var(--white-trans-light-gray1);
@white-trans-light-gray2: var(--white-trans-light-gray2);
@white-trans-light-gray3: var(--white-trans-light-gray3);
@white-trans-light-gray4: var(--white-trans-light-gray4);
@white-trans-light-gray5: var(--white-trans-light-gray5);
@black-trans-dark-gray1: var(--black-trans-dark-gray1);
@black-trans-dark-gray2: var(--black-trans-dark-gray2);
@black-trans-dark-gray3: var(--black-trans-dark-gray3);
@black-trans-dark-gray4: var(--black-trans-dark-gray4);
@black-trans-dark-gray5: var(--black-trans-dark-gray5);
@black-trans-gray1: var(--black-trans-gray1);
@black-trans-gray2: var(--black-trans-gray2);
@black-trans-gray3: var(--black-trans-gray3);
@black-trans-gray4: var(--black-trans-gray4);
@black-trans-gray5: var(--black-trans-gray5);
@black-trans-light-gray1: var(--black-trans-light-gray1);
@black-trans-light-gray2: var(--black-trans-light-gray2);
@black-trans-light-gray3: var(--black-trans-light-gray3);
@black-trans-light-gray4: var(--black-trans-light-gray4);
@black-trans-light-gray5: var(--black-trans-light-gray5);

	/*! IntentColors */
@warning1-hsl: var(--warning1-hsl);
@warning2-hsl: var(--warning2-hsl);
@warning3-hsl: var(--warning3-hsl);
@warning4-hsl: var(--warning4-hsl);
@warning5-hsl: var(--warning5-hsl);
@warning6-hsl: var(--warning6-hsl);

	/*! LayoutColors */
@pt-app-background-color: var(--pt-app-background-color);
@pt-app-top-background-color: var(--pt-app-top-background-color);
@pt-code-background-color: var(--pt-code-background-color);
@pt-divider-black: var(--pt-divider-black);
@pt-outline-color: var(--pt-outline-color);

	/*! TextColors */
@pt-text-color: var(--pt-text-color);
@pt-text-color-muted: var(--pt-text-color-muted);
@pt-text-color-disabled: var(--pt-text-color-disabled);
@pt-heading-color: var(--pt-heading-color);
@pt-link-color: var(--pt-link-color);
@pt-code-text-color: var(--pt-code-text-color);

	/*! IconColors */
@pt-icon-color: var(--pt-icon-color);
@pt-icon-color-hover: var(--pt-icon-color-hover);
@pt-icon-color-disabled: var(--pt-icon-color-disabled);
@pt-icon-color-selected: var(--pt-icon-color-selected);

	/*! Variables */
@pt-font-family-sans: var(--pt-font-family-sans);
@pt-font-family-monospace: var(--pt-font-family-monospace);
@pt-input-box-shadow: var(--pt-input-box-shadow);
@pt-border-radius: var(--pt-border-radius);
@button-group-spacing: var(--button-group-spacing);

	/*! Components */
@button-box-shadow: var(--button-box-shadow);
@button-box-shadow-active: var(--button-box-shadow-active);
@button-intent-box-shadow: var(--button-intent-box-shadow);
@button-intent-box-shadow-active: var(--button-intent-box-shadow-active);
@button-gradient: var(--button-gradient);
@button-intent-gradient: var(--button-intent-gradient);
@button-color-disabled: var(--button-color-disabled);
@button-background-color: var(--button-background-color);
@button-background-color-hover: var(--button-background-color-hover);
@button-background-color-active: var(--button-background-color-active);
@button-background-color-disabled: var(--button-background-color-disabled);
@button-background-color-active-disabled: var(--button-background-color-active-disabled);
@minimal-button-background-color: var(--minimal-button-background-color);
@minimal-button-background-color-hover: var(--minimal-button-background-color-hover);
@minimal-button-background-color-active: var(--minimal-button-background-color-active);
@button-outlined-border-intent-opacity: var(--button-outlined-border-intent-opacity);
@button-outlined-border-disabled-intent-opacity: var(--button-outlined-border-disabled-intent-opacity);
@control-group-spacing: var(--control-group-spacing);
@input-border: var(--input-border);
@input-background-color: var(--input-background-color);

	/*! Icons */
@chevron-right-icon: var(--chevron-right-icon);
@more-icon: var(--more-icon);
@small-minus-icon: var(--small-minus-icon);
@small-tick-icon: var(--small-tick-icon);
