:root .bp5-button.bp5-large,:root .bp5-large .bp5-button {
    font-size: var(--pt-font-size)
}

:root .bp5-callout {
    border-left: 3px solid var(--pt-text-color-disabled)
}

:root .bp5-callout.bp5-intent-primary {
    border-color: hsla(var(--pt-intent-primary-hsl),1)
}

:root .bp5-callout.bp5-intent-success {
    border-color: hsla(var(--pt-intent-success-hsl),1)
}

:root .bp5-callout.bp5-intent-warning {
    border-color: hsla(var(--pt-intent-warning-hsl),1)
}

:root .bp5-callout.bp5-intent-danger {
    border-color: hsla(var(--pt-intent-danger-hsl),1)
}

:root .bp5-editable-text:hover:before {
    background-color: var(--input-background-color);
    box-shadow: inset 0 -1px 0 0 var(--pt-intent-primary)
}

:root .bp5-editable-text.bp5-editable-text-editing:before {
    box-shadow: 0 0 0 2px var(--pt-intent-primary)
}

:root .bp5-editable-text.bp5-intent-primary:hover:before {
    box-shadow: inset 0 -1px 0 0 var(--pt-intent-primary)
}

:root .bp5-editable-text.bp5-intent-primary.bp5-editable-text-editing:before {
    box-shadow: 0 0 0 2px var(--pt-intent-primary)
}

:root .bp5-editable-text.bp5-intent-success:hover:before {
    box-shadow: inset 0 -1px 0 0 var(--pt-intent-success)
}

:root .bp5-editable-text.bp5-intent-success.bp5-editable-text-editing:before {
    box-shadow: 0 0 0 2px var(--pt-intent-success)
}

:root .bp5-editable-text.bp5-intent-warning:hover:before {
    box-shadow: inset 0 -1px 0 0 var(--pt-intent-warning)
}

:root .bp5-editable-text.bp5-intent-warning.bp5-editable-text-editing:before {
    box-shadow: 0 0 0 2px var(--pt-intent-warning)
}

:root .bp5-editable-text.bp5-intent-danger:hover:before {
    box-shadow: inset 0 -1px 0 0 var(--pt-intent-danger)
}

:root .bp5-editable-text.bp5-intent-danger.bp5-editable-text-editing:before {
    box-shadow: 0 0 0 2px var(--pt-intent-danger)
}

:root .bp5-editable-text-input::placeholder {
    color: var(--pt-text-color-disabled)
}

:root :focus {
    -moz-outline-radius: 0;
    outline: var(--pt-intent-primary) solid 2px;
    outline-offset: 1px
}

:root .bp5-focus-disabled :focus,:root .bp5-focus-disabled :focus~.bp5-control-indicator,:root .bp5-input:focus {
    outline: none!important
}

:root .bp5-control input:focus~.bp5-control-indicator {
    -moz-outline-radius: 0;
    outline: var(--pt-intent-primary) solid 2px;
    outline-offset: 2px
}

:root .bp5-tag-input .bp5-tag.bp5-active,:root .bp5-tag:focus {
    -moz-outline-radius: 0;
    outline: var(--pt-intent-primary) solid 2px;
    outline-offset: 1px
}

:root .bp5-input {
    box-shadow: inset 0 -1px 0 0 var(--input-border)
}

:root .bp5-input:hover {
    box-shadow: inset 0 -1px 0 0 var(--pt-intent-primary)
}

:root .bp5-input.bp5-active,:root .bp5-input:focus {
    box-shadow: inset 0 0 0 2px var(--pt-intent-primary)
}

:root .bp5-input.bp5-disabled,:root .bp5-input:disabled {
    box-shadow: none
}

:root .bp5-input.bp5-intent-primary {
    box-shadow: inset 0 -1px 0 0 var(--pt-intent-primary)
}

:root .bp5-input.bp5-intent-primary:focus {
    box-shadow: inset 0 0 0 2px var(--pt-intent-primary)
}

.bp5-input-group.bp5-intent-primary :root .bp5-input {
    box-shadow: inset 0 -1px 0 0 var(--pt-intent-primary)
}

.bp5-input-group.bp5-intent-primary :root .bp5-input:focus {
    box-shadow: inset 0 0 0 2px var(--pt-intent-primary)
}

:root .bp5-input.bp5-intent-success {
    box-shadow: inset 0 -1px 0 0 var(--pt-intent-success)
}

:root .bp5-input.bp5-intent-success:focus {
    box-shadow: inset 0 0 0 2px var(--pt-intent-success)
}

.bp5-input-group.bp5-intent-success :root .bp5-input {
    box-shadow: inset 0 -1px 0 0 var(--pt-intent-success)
}

.bp5-input-group.bp5-intent-success :root .bp5-input:focus {
    box-shadow: inset 0 0 0 2px var(--pt-intent-success)
}

:root .bp5-input.bp5-intent-warning {
    box-shadow: inset 0 -1px 0 0 var(--pt-intent-warning)
}

:root .bp5-input.bp5-intent-warning:focus {
    box-shadow: inset 0 0 0 2px var(--pt-intent-warning)
}

.bp5-input-group.bp5-intent-warning :root .bp5-input {
    box-shadow: inset 0 -1px 0 0 var(--pt-intent-warning)
}

.bp5-input-group.bp5-intent-warning :root .bp5-input:focus {
    box-shadow: inset 0 0 0 2px var(--pt-intent-warning)
}

:root .bp5-input.bp5-intent-danger {
    box-shadow: inset 0 -1px 0 0 var(--pt-intent-danger)
}

:root .bp5-input.bp5-intent-danger:focus {
    box-shadow: inset 0 0 0 2px var(--pt-intent-danger)
}

.bp5-input-group.bp5-intent-danger :root .bp5-input {
    box-shadow: inset 0 -1px 0 0 var(--pt-intent-danger)
}

.bp5-input-group.bp5-intent-danger :root .bp5-input:focus {
    box-shadow: inset 0 0 0 2px var(--pt-intent-danger)
}

:root .bp5-timepicker .bp5-timepicker-input {
    box-shadow: inset 0 -1px 0 0 var(--input-border)
}

:root .bp5-timepicker .bp5-timepicker-input:hover {
    box-shadow: inset 0 -1px 0 0 var(--pt-intent-primary)
}

:root .bp5-timepicker .bp5-timepicker-input.bp5-active,:root .bp5-timepicker .bp5-timepicker-input:focus {
    box-shadow: inset 0 0 0 2px var(--pt-intent-primary)
}

:root .bp5-timepicker .bp5-timepicker-input.bp5-disabled,:root .bp5-timepicker .bp5-timepicker-input:disabled {
    box-shadow: none
}

:root .bp5-timepicker .bp5-timepicker-input.bp5-intent-primary {
    box-shadow: inset 0 -1px 0 0 var(--pt-intent-primary)
}

:root .bp5-timepicker .bp5-timepicker-input.bp5-intent-primary:focus {
    box-shadow: inset 0 0 0 2px var(--pt-intent-primary)
}

.bp5-input-group.bp5-intent-primary :root .bp5-timepicker .bp5-timepicker-input {
    box-shadow: inset 0 -1px 0 0 var(--pt-intent-primary)
}

.bp5-input-group.bp5-intent-primary :root .bp5-timepicker .bp5-timepicker-input:focus {
    box-shadow: inset 0 0 0 2px var(--pt-intent-primary)
}

:root .bp5-timepicker .bp5-timepicker-input.bp5-intent-success {
    box-shadow: inset 0 -1px 0 0 var(--pt-intent-success)
}

:root .bp5-timepicker .bp5-timepicker-input.bp5-intent-success:focus {
    box-shadow: inset 0 0 0 2px var(--pt-intent-success)
}

.bp5-input-group.bp5-intent-success :root .bp5-timepicker .bp5-timepicker-input {
    box-shadow: inset 0 -1px 0 0 var(--pt-intent-success)
}

.bp5-input-group.bp5-intent-success :root .bp5-timepicker .bp5-timepicker-input:focus {
    box-shadow: inset 0 0 0 2px var(--pt-intent-success)
}

:root .bp5-timepicker .bp5-timepicker-input.bp5-intent-warning {
    box-shadow: inset 0 -1px 0 0 var(--pt-intent-warning)
}

:root .bp5-timepicker .bp5-timepicker-input.bp5-intent-warning:focus {
    box-shadow: inset 0 0 0 2px var(--pt-intent-warning)
}

.bp5-input-group.bp5-intent-warning :root .bp5-timepicker .bp5-timepicker-input {
    box-shadow: inset 0 -1px 0 0 var(--pt-intent-warning)
}

.bp5-input-group.bp5-intent-warning :root .bp5-timepicker .bp5-timepicker-input:focus {
    box-shadow: inset 0 0 0 2px var(--pt-intent-warning)
}

:root .bp5-timepicker .bp5-timepicker-input.bp5-intent-danger {
    box-shadow: inset 0 -1px 0 0 var(--pt-intent-danger)
}

:root .bp5-timepicker .bp5-timepicker-input.bp5-intent-danger:focus {
    box-shadow: inset 0 0 0 2px var(--pt-intent-danger)
}

.bp5-input-group.bp5-intent-danger :root .bp5-timepicker .bp5-timepicker-input {
    box-shadow: inset 0 -1px 0 0 var(--pt-intent-danger)
}

.bp5-input-group.bp5-intent-danger :root .bp5-timepicker .bp5-timepicker-input:focus {
    box-shadow: inset 0 0 0 2px var(--pt-intent-danger)
}

:root textarea.bp5-input {
    box-shadow: inset 0 -1px 0 0 var(--input-border)
}

:root textarea.bp5-input:hover {
    box-shadow: inset 0 -1px 0 0 var(--pt-intent-primary)
}

:root textarea.bp5-input.bp5-active,:root textarea.bp5-input:focus {
    box-shadow: inset 0 0 0 2px var(--pt-intent-primary)
}

:root textarea.bp5-input.bp5-disabled,:root textarea.bp5-input:disabled {
    box-shadow: none
}

:root textarea.bp5-input.bp5-intent-primary {
    box-shadow: inset 0 -1px 0 0 var(--pt-intent-primary)
}

:root textarea.bp5-input.bp5-intent-primary:focus {
    box-shadow: inset 0 0 0 2px var(--pt-intent-primary)
}

.bp5-input-group.bp5-intent-primary :root textarea.bp5-input {
    box-shadow: inset 0 -1px 0 0 var(--pt-intent-primary)
}

.bp5-input-group.bp5-intent-primary :root textarea.bp5-input:focus {
    box-shadow: inset 0 0 0 2px var(--pt-intent-primary)
}

:root textarea.bp5-input.bp5-intent-success {
    box-shadow: inset 0 -1px 0 0 var(--pt-intent-success)
}

:root textarea.bp5-input.bp5-intent-success:focus {
    box-shadow: inset 0 0 0 2px var(--pt-intent-success)
}

.bp5-input-group.bp5-intent-success :root textarea.bp5-input {
    box-shadow: inset 0 -1px 0 0 var(--pt-intent-success)
}

.bp5-input-group.bp5-intent-success :root textarea.bp5-input:focus {
    box-shadow: inset 0 0 0 2px var(--pt-intent-success)
}

:root textarea.bp5-input.bp5-intent-warning {
    box-shadow: inset 0 -1px 0 0 var(--pt-intent-warning)
}

:root textarea.bp5-input.bp5-intent-warning:focus {
    box-shadow: inset 0 0 0 2px var(--pt-intent-warning)
}

.bp5-input-group.bp5-intent-warning :root textarea.bp5-input {
    box-shadow: inset 0 -1px 0 0 var(--pt-intent-warning)
}

.bp5-input-group.bp5-intent-warning :root textarea.bp5-input:focus {
    box-shadow: inset 0 0 0 2px var(--pt-intent-warning)
}

:root textarea.bp5-input.bp5-intent-danger {
    box-shadow: inset 0 -1px 0 0 var(--pt-intent-danger)
}

:root textarea.bp5-input.bp5-intent-danger:focus {
    box-shadow: inset 0 0 0 2px var(--pt-intent-danger)
}

.bp5-input-group.bp5-intent-danger :root textarea.bp5-input {
    box-shadow: inset 0 -1px 0 0 var(--pt-intent-danger)
}

.bp5-input-group.bp5-intent-danger :root textarea.bp5-input:focus {
    box-shadow: inset 0 0 0 2px var(--pt-intent-danger)
}

:root .bp5-button-group:not(.bp5-minimal)>.bp5-button:not(:last-child),:root .bp5-button-group:not(.bp5-minimal)>.bp5-popover-wrapper:not(:last-child) .bp5-button {
    margin-right: 1px
}

:root .bp5-button-group.bp5-vertical:not(.bp5-minimal)>.bp5-button:not(:last-child),:root .bp5-button-group.bp5-vertical:not(.bp5-minimal)>.bp5-popover-wrapper:not(:last-child) .bp5-button {
    margin-bottom: 1px
}

:root .bp5-control input~.bp5-control-indicator {
    box-shadow: inset 0 0 0 1px var(--input-border)
}

:root .bp5-control:hover .bp5-control-indicator {
    box-shadow: inset 0 0 0 1px var(--pt-intent-primary)
}

:root .bp5-control input:checked~.bp5-control-indicator,:root .bp5-control input[type=checkbox]:indeterminate~.bp5-control-indicator {
    box-shadow: var(--button-box-shadow)
}

:root .bp5-control.bp5-disabled .bp5-control-indicator,:root .bp5-control:disabled .bp5-control-indicator {
    box-shadow: none
}

:root .bp5-control.bp5-switch .bp5-control-indicator:before {
    background-color: var(--white);
    box-shadow: none
}

:root .bp5-control.bp5-large,:root .bp5-input-group.bp5-large .bp5-input,:root .bp5-input.bp5-large {
    font-size: var(--pt-font-size)
}

:root .bp5-spinner .bp5-spinner-head {
    stroke-linecap: square
}

:root .bp5-progress-bar {
    border-radius: unset;
    height: 4px
}

:root .bp5-progress-bar .bp5-progress-meter {
    background-image: linear-gradient(-90deg,rgba(255,255,255,.15),rgba(255,255,255,0) 50%,rgba(255,255,255,.15));
    border-radius: unset
}

:root .bp5-menu {
    padding: 5px 0
}

:root .bp5-menu-divider {
    margin-left: 0;
    margin-right: 0
}

:root .bp5-datepicker,:root .bp5-select-popover .bp5-popover-content {
    padding: 0
}

:root .bp5-datepicker .bp5-divider {
    margin: 0
}

:root .bp5-datepicker .DayPicker-Month {
    margin: 0 4px 4px
}

:root .bp5-datepicker .DayPicker-Caption .bp5-divider {
    margin: 0 -4px
}

:root .bp5-datepicker.bp5-daterangepicker .DayPicker:last-child {
    border-left: 1px solid var(--pt-divider-black)
}

:root .bp5-datepicker .bp5-datepicker-caption {
    margin-bottom: 0
}

:root .bp5-datepicker .DayPicker-Day.DayPicker-Day--selected {
    background-color: var(--pt-intent-primary)
}

:root .bp5-datetimepicker,:root .bp5-datetimepicker .bp5-datepicker {
    padding: 0
}

:root .bp5-datetimepicker .bp5-timepicker {
    margin: 3px
}

:root .bp5-timepicker .bp5-timepicker-input-row {
    box-shadow: inset 0 -1px 0 0 var(--input-border);
    height: 32px;
    padding: 0
}

:root .bp5-timepicker .bp5-timepicker-ampm-select {
    margin-left: 1px
}

:root .bp5-timepicker .bp5-timepicker-input {
    height: 100%
}

:root .bp5-timepicker .bp5-timepicker-input:hover:not(:focus) {
    box-shadow: inset 0 -1px 0 0 var(--pt-intent-primary)
}

:root .bp5-timepicker .bp5-timepicker-input:focus {
    box-shadow: inset 0 0 0 2px var(--pt-intent-primary)
}

:root .bp5-slider-label {
    font-family: var(--pt-font-family-monospace)
}

:root .bp5-slider-handle {
    background-color: var(--pt-intent-primary);
    border-radius: 99px;
    box-shadow: none
}

:root .bp5-slider-handle:hover {
    background-color: var(--pt-intent-primary-hover);
    box-shadow: none
}

:root .bp5-slider-handle.bp5-active,:root .bp5-slider-handle:active {
    background-color: var(--pt-intent-primary-active);
    box-shadow: none
}

:root .bp5-slider-handle.bp5-end.bp5-end,:root .bp5-slider-handle.bp5-start.bp5-start {
    border-radius: 99px;
    margin-left: 0
}

:root .bp5-slider-handle.bp5-end,:root .bp5-slider-handle.bp5-start {
    width: 12px
}

.bp5-slider.bp5-vertical :root .bp5-slider-handle.bp5-end.bp5-end,.bp5-slider.bp5-vertical :root .bp5-slider-handle.bp5-start.bp5-start {
    border-radius: 99px
}

.bp5-slider.bp5-vertical :root .bp5-slider-handle.bp5-end,.bp5-slider.bp5-vertical :root .bp5-slider-handle.bp5-start {
    height: 12px
}

:root .bp5-tab {
    color: var(--pt-text-color-muted);
    font-weight: var(--font-weight-bold)
}

:root .bp5-tab:not([aria-disabled=true]):hover,:root .bp5-tab[aria-selected=true] {
    color: var(--pt-text-color)
}

:root .bp5-tab-indicator {
    background-color: var(--pt-intent-primary);
    height: 1px
}

:root .bp5-tab[aria-selected=true] {
    border-radius: 0;
    box-shadow: inset 0 -1px 0 var(--pt-intent-primary)
}

:root * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility
}

:root body {
    letter-spacing: .035em
}

:root .bp5-key,:root .bp5-running-text kbd {
    border-radius: 3px;
    padding: 3px 6px
}

:root .bp5-input[type=search] {
    border-radius: var(--pt-border-radius)
}

:root .bp5-input.bp5-round {
    border-radius: 99px
}

:root .bp5-tag-input .bp5-input-ghost:not(:focus)[value=""] {
    width: 1px
}