@mixin button-minimal-overrides() {
  &:hover {
    // box-shadow: unset;
    // background: $minimal-button-background-color-hover;
    // text-decoration: none;
    color: $antd-intent-primary-hover;
    border-color: $antd-intent-primary-hover;
  }

  &:active,
  &.#{$ns}-active {
    // box-shadow: unset;
    // background: $minimal-button-background-color-active;
    color: $antd-intent-primary-active;
    border-color: $antd-intent-primary-active;
  }

  &:disabled,
  &:disabled:hover,
  &.#{$ns}-disabled,
  &.#{$ns}-disabled:hover {
    border-color: $pt-text-color-disabled;
  }

}

@mixin antd-button-active-effect() {
  $antd-active-effect-easing: cubic-bezier(.08,.82,.17,1);

  position: relative;
  &:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    pointer-events: none;
    border-radius: inherit;

    color: $antd-intent-primary-hover; // easier to override other 'intent' colors
    box-shadow: 0 0 0 6px currentColor;
    opacity: 0;
    transition:
      opacity 2s $antd-active-effect-easing,
      box-shadow .4s $antd-active-effect-easing;
  }

  &:active:after{
    transition: none;
    box-shadow: 0 0 0 0px currentColor;
    opacity: .2;
  }

  &:disabled:after{
    content: unset;
  }

}

@mixin antd-active-border-color($antd-active-border-color) {
  &:after{
    color: $antd-active-border-color;
  }
}

@mixin button-base-overrides {
  transition: 200ms linear ;
  transition-property: background-color, color, opacity, box-shadow ;
  &:active{
    transition-duration: 50ms;
  }

  @include antd-button-active-effect;
  @each $intent, $colors in $button-intents {
    &.#{$ns}-intent-#{$intent} {
      @include antd-active-border-color(nth(($colors),3))
    }
  }

}

@mixin button-customizations {
  .#{$ns}-icon{
    color: inherit;
  }

  &:not([class*="#{$ns}-intent-"]) {

    &:hover {
      box-shadow: $antd-button-box-shadow-hover;
      background-color: $button-background-color-hover;
      color: $antd-intent-primary-hover;
    }

    &:active,
    &.#{$ns}-active {
      box-shadow: $button-box-shadow-active;
      background-color: $button-background-color-active;
      color: $antd-intent-primary-active;
    }

  }
}


.#{$ns}-button{  @include button-base-overrides }
a.#{$ns}-button{ @include button-base-overrides }


.#{$ns}-button{

  @include button-customizations();

  // minimal must come last to override all default styles
  &.#{$ns}-minimal {
    @include button-minimal-overrides();
  }
  &.#{$ns}-outlined {
    @include button-minimal-overrides();
  }

}


.#{$ns}-html-select,
.#{$ns}-select {
  // this one's a bit of a mess // TODO: more testing
  $select-padding: $pt-grid-size * 1.6;

  transition: 200ms linear ;
  transition-property: background-color, color, opacity, box-shadow ;

  select{
    @include button-base-overrides();
    @include button-customizations();

    padding-left: $select-padding;
    padding-right: $select-padding + $pt-icon-size-standard;

    &:hover~.#{$ns}-icon {
      color: $antd-intent-primary-hover;
    }

  }

  .#{$ns}-icon {
    right: $select-padding;
    transition: inherit;
  }

}


.#{$ns}-file-upload-input {

  &:after {
    transition: 200ms linear ;
    transition-property: background-color, color, opacity, box-shadow ;
    box-shadow: $button-box-shadow;
  }

  &:hover:after {
    box-shadow: $antd-button-box-shadow-hover;
    background-color: $button-background-color-hover;
    color: $antd-intent-primary-hover;
    transition-duration: 50ms;

  }

  &:active:after,
  &.#{$ns}-active:after {
    box-shadow: $button-box-shadow-active;
    background-color: $button-background-color-active;
    color: $antd-intent-primary-active;
  }
}
