:root .bp5-button,:root a,:root a.bp5-button {
    transition: background-color .1s linear
}

:root .bp5-button:active,:root a.bp5-button:active,:root a:active {
    transition-duration: 50ms
}

:root .bp5-input[type=search] {
    border-radius: var(--pt-border-radius)
}

:root .bp5-input.bp5-round {
    border-radius: 99px
}

:root .bp5-button-group .bp5-button[class*=bp5-intent-] {
    border-width: 0;
    border-bottom: 0 solid hsla(var(--white-hsl),.25);
    border-left: 1px solid hsla(var(--white-hsl),.25);
    border-right: 1px solid hsla(var(--white-hsl),.25);
    border-top: 0 solid hsla(var(--white-hsl),.25)
}

:root .bp5-button-group:not(.bp5-minimal)>.bp5-button[class*=bp5-intent-]:first-child,:root .bp5-button-group:not(.bp5-minimal)>.bp5-popover-target:first-child .bp5-button[class*=bp5-intent-],:root .bp5-button-group:not(.bp5-minimal)>.bp5-popover-wrapper:first-child .bp5-button[class*=bp5-intent-] {
    border-width: 0 1px 0 0
}

:root .bp5-button-group:not(.bp5-minimal)>.bp5-button[class*=bp5-intent-]:last-child,:root .bp5-button-group:not(.bp5-minimal)>.bp5-popover-target:last-child .bp5-button[class*=bp5-intent-],:root .bp5-button-group:not(.bp5-minimal)>.bp5-popover-wrapper:last-child .bp5-button[class*=bp5-intent-] {
    border-width: 0 0 0 1px
}

:root .bp5-button-group.bp5-vertical .bp5-button[class*=bp5-intent-] {
    border-width: 1px 0
}

:root .bp5-button-group.bp5-vertical:not(.bp5-minimal)>.bp5-button[class*=bp5-intent-]:first-child,:root .bp5-button-group.bp5-vertical:not(.bp5-minimal)>.bp5-popover-target:first-child .bp5-button[class*=bp5-intent-],:root .bp5-button-group.bp5-vertical:not(.bp5-minimal)>.bp5-popover-wrapper:first-child .bp5-button[class*=bp5-intent-] {
    border-width: 0 0 1px
}

:root .bp5-button-group.bp5-vertical:not(.bp5-minimal)>.bp5-button[class*=bp5-intent-]:last-child,:root .bp5-button-group.bp5-vertical:not(.bp5-minimal)>.bp5-popover-target:last-child .bp5-button[class*=bp5-intent-],:root .bp5-button-group.bp5-vertical:not(.bp5-minimal)>.bp5-popover-wrapper:last-child .bp5-button[class*=bp5-intent-] {
    border-width: 1px 0 0
}