.#{$ns}-button {
  // Use dark text for warning intent
  &.#{$ns}-intent-warning {
    &,
    &:hover,
    &:active,
    &.#{$ns}-active {
      color: $pt-text-color-static;
    }
  }
}

.#{$ns}-callout {
  @each $intent, $color in $pt-intent-colors {
    &.#{$ns}-intent-#{$intent} {
      background-color: hslax($color, 0.1);

      .#{$ns}-dark & {
        background-color: hslax($color, 0.2);
      }
    }
  }
}

table.#{$ns}-html-table {
  &.#{$ns}-html-table-striped {
    tbody tr:nth-child(odd) td {
      background: hslax($gray3, 0.15);
    }
  }

  &.#{$ns}-interactive {
    tbody tr {
      &:hover td {
        background-color: hslax($gray3, 0.3);
        cursor: pointer;
      }

      &:active td {
        background-color: hslax($gray3, 0.35);
      }
    }
  }
}

.#{$ns}-slider-handle {
  .#{$ns}-dark & {
    background-color: $gray4;

    &:hover {
      background-color: $gray3;
    }

    &:active,
    &.#{$ns}-active {
      background: $gray2;
    }
  }
}

.#{$ns}-tag {
  &.#{$ns}-intent-warning {
    &,
    &:hover,
    &:active,
    &.#{$ns}-active {
      color: $pt-text-color-static;
    }
  }
  .#{$ns}-tag-remove {
    opacity: 0.7;
  }
}


// Toast variables
$toast-intent-button-colors-modern: (
  "primary": ($pt-intent-primary, $white, $blue2, $blue1, hslax($white, 0.7)),
  "success": ($pt-intent-success, $white, $green2, $green1, hslax($white, 0.7)),
  "warning": ($orange5, $pt-text-color-static, $orange4, $orange3, hslax($pt-text-color-static, 0.7)),
  "danger": ($pt-intent-danger, $white, $red2, $red1, hslax($white, 0.7))
) !default; // PR

.#{$ns}-toast {
  @mixin pt-toast-intent-button-colors-modern(
    $background-color,
    $text-color,
    $hover-color,
    $active-color,
    $icon-color,
  ) {

    color: $text-color;

    .#{$ns}-icon:first-child {
      color: $icon-color;
    }

    .#{$ns}-button.#{$ns}-button {
      background-color: $background-color;
      color: $text-color;

      &:hover {
        background-color: $hover-color ;
        color: $text-color ;
      }

      &:active {
        background-color: $active-color ;
        color: $text-color ;
      }

      &:last-child > .#{$ns}-icon-cross {
        color: hslax($text-color, 0.7) ;
      }

      &:focus {
        // blue outline color shows poorly on colored bg
        outline-color: hslax($white, 0.5);
      }
    }
  }
  @each $intent, $color in $toast-intent-button-colors-modern {
    &.#{$ns}-intent-#{$intent} {
      @include pt-toast-intent-button-colors-modern($color...);
    }
  }

  &[class*="#{$ns}-intent-"] {
    .#{$ns}-icon:first-child{
      opacity: 0.7;
    }
  }

}

// .bp4-icon > svg:not([fill])
// .bp4-toast[class*="bp4-intent-"] > .bp4-icon
