// $input-padding-horizontal: $pt-grid-size;
// $input-small-padding: $pt-input-height-small - $pt-icon-size-standard;
// $input-font-weight: 400;
// $input-transition: box-shadow $pt-transition-duration $pt-transition-ease;

// $input-color: $pt-text-color;
// $input-color-disabled: $button-color-disabled;
// $input-placeholder-color: $pt-text-color-disabled;
$input-background-color: rgba($black, 0.06);
$input-background-color-disabled: rgba($black, 0.03);
// $input-shadow-color-focus: $pt-intent-primary;

// $dark-input-color: $pt-dark-text-color;
// $dark-input-color-disabled: $dark-button-color-disabled;
// $dark-input-placeholder-color: $pt-dark-text-color-disabled;
$dark-input-background-color: rgba($white, 0.1); // ?
$dark-input-background-color-disabled: rgba($white, 0.05);
// $dark-input-shadow-color-focus: $pt-intent-primary;

// $control-indicator-size: $pt-icon-size-standard;
// $control-indicator-size-large: $pt-icon-size-large;

// // avoids edge blurriness for light theme focused default input
// // second box-shadow of $pt-input-box-shadow
// $input-box-shadow-focus: inset 0 1px 1px rgba($black, $pt-drop-shadow-opacity);


// CONTROLS

// $control-background-color: $button-background-color;
// $control-background-color-hover: $button-background-color-hover;
// $control-background-color-active: $button-background-color-active;
// $dark-control-background-color: $dark-button-background-color;
// $dark-control-background-color-hover: $dark-button-background-color-hover;
// $dark-control-background-color-active: $dark-button-background-color-active;

// $control-checked-background-color: nth(map-get($button-intents, "primary"), 1);
// $control-checked-background-color-hover: nth(map-get($button-intents, "primary"), 2);
// $control-checked-background-color-active: nth(map-get($button-intents, "primary"), 3);

// $control-indicator-size: $pt-icon-size-standard;
// $control-indicator-size-large: $pt-icon-size-large;
// $control-indicator-spacing: $pt-grid-size;
