#{$root-selector}{

/*! Components */ // move this?
--ibm-input-border:                     var(--black-trans-gray5); // custom
--ibm-dark-input-border:                var(--white-trans-gray1); // custom

--input-background-color:               var(--black-trans-light-gray5);
--input-background-color-disabled:      var(--black-trans-light-gray5);

--dark-input-background-color:          var(--white-trans-dark-gray1);
--dark-input-background-color-disabled: var(--white-trans-dark-gray1);

}

$ibm-input-border:         var(--ibm-input-border); // custom
$ibm-dark-input-border:    var(--ibm-dark-input-border); // custom
