.#{$ns}-input {
  // @include pt-input();

  box-shadow: inset 0 -1px 0 0 $pt-text-color-muted;

  .#{$ns}-dark & {
    // @include pt-dark-input();
    box-shadow: inset 0 -1px 0 0 $pt-dark-text-color-muted;
  }

  &:hover{
    box-shadow: inset 0 -1px 0 0 $pt-intent-primary;
  }

  &:focus {
    box-shadow: inset 0 0 0 2px $pt-intent-primary;
  }

  @each $intent, $color in $pt-intent-colors {
    &.#{$ns}-intent-#{$intent} {
      // @include pt-input-intent($color);
      box-shadow: inset 0 -1px 0 0 $color;
      &:focus {
        box-shadow: inset 0 0 0 2px $color;
      }

      // .#{$ns}-dark & {
      //   // @include pt-dark-input-intent($color);
      //   box-shadow: inset 0 -1px 0 0 $color;
      //   // @error ($color)
      //   &:focus {
      //     box-shadow: inset 0 0 0 2px $color;
      //   }
      // }
    }
    .bp3-input-group.#{$ns}-intent-#{$intent} & {
      box-shadow: inset 0 -1px 0 0 $color;
      &:focus {
        box-shadow: inset 0 0 0 2px $color;
      }
    }

  }



}

.bp3-tag-input{// needs work...
  @each $intent, $color in $pt-intent-colors {
    &.#{$ns}-intent-#{$intent}:not(.bp3-active):hover {
      box-shadow: inset 0 -1px 0 0 $color;
    }
  }

  &.bp3-active{ //:focus
    box-shadow: inset 0 0 0 2px $pt-intent-primary;

    @each $intent, $color in $pt-intent-colors {
      &.#{$ns}-intent-#{$intent} {
        box-shadow: inset 0 0 0 2px $color;
      }
    }
  }
}


// textarea.#{$ns}-input {

//   &.#{$ns}-small {
//   }

//   .#{$ns}-dark & {
//   }
// }


.bp3-control-group{
  &:not(.bp3-vertical) > :not(.bp3-divider) {
    margin-right: 1px;
    .bp3-dark &{
      margin-right: 1px;
    }
  }

  &.bp3-vertical > :not(.bp3-divider){
    // should be margin-bottom: 1px; but they're overlapping 1px for some reason
    margin-bottom: 2px;
    .bp3-dark &{
      margin-bottom: 2px;
    }
  }
}

.bp3-control .bp3-control-indicator{
  box-shadow: inset 0 0 0 1px $pt-text-color-muted;

  .bp3-dark  &{
    box-shadow: inset 0 0 0 1px $pt-dark-text-color-muted;

    &:hover{
      box-shadow: inset 0 0 0 1px $pt-intent-primary;
    }
  }
}


.bp3-control.bp3-switch .bp3-control-indicator:before{

  .bp3-dark &{
    background-color: $pt-dark-text-color;
  }
}

// .bp3-numeric-input{
//   font-family: $pt-font-family-monospace; // nah
// }


.bp3-input-group.bp3-large .bp3-input{
  font-size: $pt-font-size;
}
.bp3-input.bp3-large{
  font-size: $pt-font-size;
}

.bp3-control.bp3-large{
  font-size: $pt-font-size;
}
