.#{$ns}-spinner{
  .#{$ns}-spinner-head {
    stroke-linecap: square;
  }
}

.bp3-progress-bar {
  border-radius: unset;
  height: 4px;

  .bp3-progress-meter {
    border-radius: unset;
    // background-size: 60px;
    background-image: linear-gradient(-90deg,
      hsla(0,0%,100%,.15) 0%,
      hsla(0,0%,100%,0) 50%,
      hsla(0,0%,100%,.15) 100%
    );
  }
}
