$pt-intent-colors: (
  "primary": $pt-intent-primary,
  "success": $pt-intent-success,
  "warning": $pt-intent-warning,
  "danger" : $pt-intent-danger,
) !default;

$pt-intent-text-colors: (
  "primary": $cobalt2,
  "success": $green2,
  "warning": $orange2,
  "danger" : $red2,
) !default;

$pt-dark-intent-text-colors: (
  "primary": $cobalt5,
  "success": $green5,
  "warning": $orange5,
  "danger" : $red5,
) !default;

// @mixin base-typography() {
//   font-size: $pt-font-size;
//   font-weight: 400;
//   letter-spacing: .16;
//   line-height: $pt-line-height;
//   text-transform: none;
// }

// @mixin focus-outline($offset: 1px) {
//   outline: $pt-outline-color auto 2px;
//   outline-offset: $offset;
//   // -moz-outline-radius: 6px;
// }
