
.bp3-datepicker {
  padding: 0;

  .bp3-divider{
    margin: 0;
  }

  .DayPicker-Month{
    margin: 0;
  }

  &.bp3-daterangepicker .DayPicker:last-child{
    border-left: 1px solid $pt-divider-black; // dark themes
  }
  .bp3-dark &{
    &.bp3-daterangepicker .DayPicker:last-child{
      border-left: 1px solid $pt-dark-divider-black; // dark themes
    }
  }

  .bp3-datepicker-caption{
    margin-bottom: 0;
  }

  .DayPicker-Day.DayPicker-Day--selected{
    background-color: $pt-intent-primary;
    .bp3-dark &{
      background-color: $pt-intent-primary;
    }
  }
}

.bp3-datetimepicker{
  padding: 0;

  .bp3-datepicker{
    padding: 0;
  }

  .bp3-timepicker{
    margin: 3px;
  }
}

.bp3-timepicker {
  .bp3-timepicker-input-row{
    height: $pt-input-height; // why not already?

    padding: 0;

    box-shadow: inset 0 -1px 0 0 $ibm-input-border;
    .#{$ns}-dark & {
      box-shadow: inset 0 -1px 0 0 $ibm-dark-input-border;
    }
  }

  .bp3-timepicker-ampm-select{
    margin-left: 1px;
  }


  .bp3-timepicker-input{
    height: 100%;


    &:hover:not(:focus){
      box-shadow: inset 0 -1px 0 0 $pt-intent-primary;
    }

    &:focus {
      box-shadow: inset 0 0 0 2px $pt-intent-primary;
    }
  }
}

.bp3-menu{
  padding: $pt-grid-size/2 0;
}

.bp3-menu-divider{
  margin-left:  0;
  margin-right: 0;
}

.bp3-select-popover .bp3-popover-content{
  padding: 0;
}
