@import '../global/common-slider-handles';

.#{$ns}-slider-label{
  font-family: $pt-font-family-monospace;
}

.#{$ns}-slider-handle{

  &, &:hover{
    // background-color: $dark-gray5;
    box-shadow: none;
  }

  &.#{$ns}-active{
    background-color: $pt-intent-primary;
    box-shadow: none;
  }

  @include slider-handles(99px);

}
