.#{$ns}-slider-label{
  font-family: $pt-font-family-monospace;
}

.#{$ns}-slider-handle{

  &, &:hover{
    background-color: $pt-text-color-muted;
    box-shadow: none;
  }

  &.#{$ns}-active{
    background-color: $pt-intent-primary;
    box-shadow: none;
  }

  .bp3-dark & {
    &, &:hover{
      background-color: $pt-dark-text-color-muted;
      box-shadow: none;
    }

    &.#{$ns}-active{
      background-color: $pt-intent-primary;
      box-shadow: none;
    }

  }


  // this should be abstracted to global/common
  border-radius: 99px;

  &.#{$ns}-end.#{$ns}-end {
    border-radius: 99px;
    margin-left: 0;
  }
  &.#{$ns}-start.#{$ns}-start {
    border-radius: 99px;
    margin-left: 0;
  }
  &.#{$ns}-end, &.#{$ns}-start {
    width: null;
  }

  .#{$ns}-slider.#{$ns}-vertical &{
    &.#{$ns}-end.#{$ns}-end {
      border-radius: 99px;
    }
    &.#{$ns}-start.#{$ns}-start {
      border-radius: 99px;
    }
    &.#{$ns}-end,
    &.#{$ns}-start {
      height: null;
    }
  }

}
