* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  letter-spacing: 0.035em;
}

.bp3-key, .bp3-running-text kbd{
  padding: 3px 6px;
  border-radius: 3px;
}
