// don't edit this file //

// THE INDEX //
@import "./ibm-carbon-styles.index";
// TODO: use sass glob importer to make this agnostic:
// @import "./*.index.scss";

// BLUEPRINT STYLER SPECIFIC //
// for the (stolen) docs examples
@import "../global/examples-index";
// then our own styles
@import "../global/styler";

.bp3-dark .docs-example-options {
  background-color: $dark-gray3;
  border: unset
}

.docs-example-options {
  background-color: $light-gray5;
  border: 1px solid $light-gray4;
}

.docs-example-frame-row:before,
.docs-example-frame-row > * {
  margin-right: 1px;
}

.docs-example-frame{
  margin: 1px 0;
}
