
	/*! ColorsPnnl */
@platinum: var(--platinum);
@sliver: var(--sliver);
@onyx: var(--onyx);
@bronze: var(--bronze);
@copper: var(--copper);
@gold: var(--gold);
@emsl-green: var(--emsl-green);
@emerald: var(--emerald);
@topaz: var(--topaz);
@mercury: var(--mercury);
@sapphire: var(--sapphire);
@amethyst: var(--amethyst);
@garnet: var(--garnet);
@ruby: var(--ruby);
@primary: var(--primary);
@info: var(--info);
@danger: var(--danger);
@warning: var(--warning);
@success: var(--success);
@text-color: var(--text-color);
@secondary-text-color: var(--secondary-text-color);
@disabled-text-color: var(--disabled-text-color);
@primary-text-color: var(--primary-text-color);
@info-text-color: var(--info-text-color);
@warning-text-color: var(--warning-text-color);
@danger-text-color: var(--danger-text-color);
@success-text-color: var(--success-text-color);
@header-color: var(--header-color);
@subheader-text-color: var(--subheader-text-color);
@default-link-color: var(--default-link-color);
@default-link-underline-color: var(--default-link-underline-color);
@visited-link-color: var(--visited-link-color);
@visited-link-underline-color: var(--visited-link-underline-color);
@border-color: var(--border-color);
@app-background: var(--app-background);
@secondary-app-background: var(--secondary-app-background);
@tertiary-app-background: var(--tertiary-app-background);
@card-background: var(--card-background);
@overlay-background-color: var(--overlay-background-color);
@toolbar-background-color: var(--toolbar-background-color);
@toolbar-item-outline: var(--toolbar-item-outline);
@toolbar-item-fill: var(--toolbar-item-fill);
@toolbar-item-active-background: var(--toolbar-item-active-background);
@default-button-color: var(--default-button-color);
@default-button-color-hover: var(--default-button-color-hover);
@hover-highlight-background: var(--hover-highlight-background);
@active-highlight-color: var(--active-highlight-color);
@form-label-color: var(--form-label-color);
@form-placeholder-color: var(--form-placeholder-color);
@form-prefix-background: var(--form-prefix-background);
@form-input-border-color: var(--form-input-border-color);
@skeleton-base-color: var(--skeleton-base-color);
@skeleton-highlight-color: var(--skeleton-highlight-color);

	/*! ColorsHsl */
@grayscale-hue: var(--grayscale-hue);
@grayscale-sat: var(--grayscale-sat);
@black-hsl: var(--black-hsl);
@dark-gray1-hsl: var(--dark-gray1-hsl);
@dark-gray2-hsl: var(--dark-gray2-hsl);
@dark-gray3-hsl: var(--dark-gray3-hsl);
@dark-gray4-hsl: var(--dark-gray4-hsl);
@dark-gray5-hsl: var(--dark-gray5-hsl);
@gray1-hsl: var(--gray1-hsl);
@gray2-hsl: var(--gray2-hsl);
@gray3-hsl: var(--gray3-hsl);
@gray4-hsl: var(--gray4-hsl);
@gray5-hsl: var(--gray5-hsl);
@light-gray1-hsl: var(--light-gray1-hsl);
@light-gray2-hsl: var(--light-gray2-hsl);
@light-gray3-hsl: var(--light-gray3-hsl);
@light-gray4-hsl: var(--light-gray4-hsl);
@light-gray5-hsl: var(--light-gray5-hsl);
@white-hsl: var(--white-hsl);
@vermilion-hue: var(--vermilion-hue);
@vermilion5-hsl: var(--vermilion5-hsl);
@vermilion4-hsl: var(--vermilion4-hsl);
@vermilion3-hsl: var(--vermilion3-hsl);
@vermilion2-hsl: var(--vermilion2-hsl);
@vermilion1-hsl: var(--vermilion1-hsl);
@red-hue: var(--red-hue);
@red5-hsl: var(--red5-hsl);
@red4-hsl: var(--red4-hsl);
@red3-hsl: var(--red3-hsl);
@red2-hsl: var(--red2-hsl);
@red1-hsl: var(--red1-hsl);
@rose-hue: var(--rose-hue);
@rose5-hsl: var(--rose5-hsl);
@rose4-hsl: var(--rose4-hsl);
@rose3-hsl: var(--rose3-hsl);
@rose2-hsl: var(--rose2-hsl);
@rose1-hsl: var(--rose1-hsl);
@violet-hue: var(--violet-hue);
@violet5-hsl: var(--violet5-hsl);
@violet4-hsl: var(--violet4-hsl);
@violet3-hsl: var(--violet3-hsl);
@violet2-hsl: var(--violet2-hsl);
@violet1-hsl: var(--violet1-hsl);
@indigo-hue: var(--indigo-hue);
@indigo5-hsl: var(--indigo5-hsl);
@indigo4-hsl: var(--indigo4-hsl);
@indigo3-hsl: var(--indigo3-hsl);
@indigo2-hsl: var(--indigo2-hsl);
@indigo1-hsl: var(--indigo1-hsl);
@blue-hue: var(--blue-hue);
@blue5-hsl: var(--blue5-hsl);
@blue4-hsl: var(--blue4-hsl);
@blue3-hsl: var(--blue3-hsl);
@blue2-hsl: var(--blue2-hsl);
@blue1-hsl: var(--blue1-hsl);
@cerulean-hue: var(--cerulean-hue);
@cerulean5-hsl: var(--cerulean5-hsl);
@cerulean4-hsl: var(--cerulean4-hsl);
@cerulean3-hsl: var(--cerulean3-hsl);
@cerulean2-hsl: var(--cerulean2-hsl);
@cerulean1-hsl: var(--cerulean1-hsl);
@turquoise-hue: var(--turquoise-hue);
@turquoise5-hsl: var(--turquoise5-hsl);
@turquoise4-hsl: var(--turquoise4-hsl);
@turquoise3-hsl: var(--turquoise3-hsl);
@turquoise2-hsl: var(--turquoise2-hsl);
@turquoise1-hsl: var(--turquoise1-hsl);
@green-hue: var(--green-hue);
@green5-hsl: var(--green5-hsl);
@green4-hsl: var(--green4-hsl);
@green3-hsl: var(--green3-hsl);
@green2-hsl: var(--green2-hsl);
@green1-hsl: var(--green1-hsl);
@forest-hue: var(--forest-hue);
@forest5-hsl: var(--forest5-hsl);
@forest4-hsl: var(--forest4-hsl);
@forest3-hsl: var(--forest3-hsl);
@forest2-hsl: var(--forest2-hsl);
@forest1-hsl: var(--forest1-hsl);
@lime-hue: var(--lime-hue);
@lime5-hsl: var(--lime5-hsl);
@lime4-hsl: var(--lime4-hsl);
@lime3-hsl: var(--lime3-hsl);
@lime2-hsl: var(--lime2-hsl);
@lime1-hsl: var(--lime1-hsl);
@gold-hue: var(--gold-hue);
@gold5-hsl: var(--gold5-hsl);
@gold4-hsl: var(--gold4-hsl);
@gold3-hsl: var(--gold3-hsl);
@gold2-hsl: var(--gold2-hsl);
@gold1-hsl: var(--gold1-hsl);
@orange-hue: var(--orange-hue);
@orange5-hsl: var(--orange5-hsl);
@orange4-hsl: var(--orange4-hsl);
@orange3-hsl: var(--orange3-hsl);
@orange2-hsl: var(--orange2-hsl);
@orange1-hsl: var(--orange1-hsl);
@sepia-hue: var(--sepia-hue);
@sepia5-hsl: var(--sepia5-hsl);
@sepia4-hsl: var(--sepia4-hsl);
@sepia3-hsl: var(--sepia3-hsl);
@sepia2-hsl: var(--sepia2-hsl);
@sepia1-hsl: var(--sepia1-hsl);
@mercury-hue: var(--mercury-hue);
@mercury5-hsl: var(--mercury5-hsl);
@mercury4-hsl: var(--mercury4-hsl);
@mercury3-hsl: var(--mercury3-hsl);
@mercury2-hsl: var(--mercury2-hsl);
@mercury1-hsl: var(--mercury1-hsl);

	/*! Colors */
@mercury5: var(--mercury5);
@mercury4: var(--mercury4);
@mercury3: var(--mercury3);
@mercury2: var(--mercury2);
@mercury1: var(--mercury1);

	/*! IntentColors */
@primary1-hsl: var(--primary1-hsl);
@primary2-hsl: var(--primary2-hsl);
@primary3-hsl: var(--primary3-hsl);
@primary4-hsl: var(--primary4-hsl);
@primary5-hsl: var(--primary5-hsl);
@primary6-hsl: var(--primary6-hsl);
@warning1-hsl: var(--warning1-hsl);
@warning2-hsl: var(--warning2-hsl);
@warning3-hsl: var(--warning3-hsl);
@warning4-hsl: var(--warning4-hsl);
@warning5-hsl: var(--warning5-hsl);
@warning6-hsl: var(--warning6-hsl);

	/*! TextColors */
@pt-text-color: var(--pt-text-color);
@pt-text-color-muted: var(--pt-text-color-muted);
@pt-text-color-disabled: var(--pt-text-color-disabled);
@pt-heading-color: var(--pt-heading-color);
@pt-link-color: var(--pt-link-color);
@pt-text-selection-color: var(--pt-text-selection-color);

	/*! Variables */
@pt-font-family-sans: var(--pt-font-family-sans);
@pt-font-family-monospace: var(--pt-font-family-monospace);
@pt-border-radius: var(--pt-border-radius);
@font-weight-bold: var(--font-weight-bold);
@font-weight-normal: var(--font-weight-normal);
@pt-font-size-small: var(--pt-font-size-small);
@pt-font-size: var(--pt-font-size);
@pt-font-size-large: var(--pt-font-size-large);
@pt-input-box-shadow: var(--pt-input-box-shadow);

	/*! Components */
@button-box-shadow: var(--button-box-shadow);
@button-box-shadow-active: var(--button-box-shadow-active);
@abs-button-gradient: var(--abs-button-gradient);
@button-gradient: var(--button-gradient);
@button-intent-gradient: var(--button-intent-gradient);
@input-shadow-color-focus: var(--input-shadow-color-focus);
@input-shadow-color-focus-hsl: var(--input-shadow-color-focus-hsl);
