.bp5-dark {
    --text-color: hsl(0deg 0% 97%);
    --secondary-text-color: hsl(0deg 0% 76%);
    --disabled-text-color: hsl(225deg 2% 39%);
    --default-link-color: hsl(197deg 48% 54%);
    --default-link-underline-color: hsl(197deg 50% 21%);
    --visited-link-color: hsl(266deg 24% 60%);
    --visited-link-underline-color: hsl(258deg 24% 22%);
    --header-color: hsl(30deg 53% 67%);
    --subheader-text-color: hsl(21deg 32% 50%);
    --border-color: hsl(210deg 2% 38%);
    --app-background: hsl(204deg 6% 15%);
    --secondary-app-background: hsl(216deg 5% 20%);
    --tertiary-app-background: hsl(216deg 3% 29%);
    --card-background: hsl(210deg 11% 11%);
    --toolbar-background-color: hsl(216deg 3% 29%);
    --toolbar-item-outline: hsl(0deg 0% 97%);
    --toolbar-item-fill: hsl(216deg 3% 29%);
    --toolbar-item-active-background: hsl(216deg 5% 20%);
    --default-button-color: hsl(210deg 2% 38%);
    --default-button-color-hover: hsl(210deg 2% 47%);
    --hover-highlight-background: hsl(44deg 39% 22%);
    --active-highlight-color: hsl(42deg 100% 48%);
    --form-label-color: var(--secondary-text-color);
    --form-placeholder-color: hsl(205deg 21% 55%);
    --form-prefix-background: hsl(206deg 24% 94%);
    --form-input-border-color: hsl(210deg 2% 38%);
    --skeleton-base-color: hsl(0deg 0% 100%/4%);
    --skeleton-highlight-color: hsl(0deg 0% 100%/10%)
}

:root .bp5-button,:root .bp5-html-select select,:root .bp5-select select,:root a.bp5-button {
    font-weight: var(--font-weight-bold)
}

:root .bp5-button .bp5-icon,:root .bp5-html-select .bp5-icon,:root .bp5-select .bp5-icon,:root a.bp5-button .bp5-icon {
    color: inherit
}

:root .bp5-button,:root .bp5-html-select,:root .bp5-select {
    --pt-intent-primary-hsl: var(--orange3-hsl);
    --pt-intent-primary-hover-hsl: var(--orange2-hsl);
    --pt-intent-primary-active-hsl: var(--orange1-hsl);
    --pt-intent-primary-text-color-hsl: var(--orange2-hsl);
    --pt-intent-primary: var(--orange3);
    --pt-intent-primary-hover: var(--orange2);
    --pt-intent-primary-active: var(--orange1);
    --pt-intent-primary-text-color: var(--orange2)
}

:root .bp5-dark .bp5-button,:root .bp5-dark .bp5-html-select,:root .bp5-dark .bp5-select {
    --pt-intent-primary-text-color-hsl: var(--orange5-hsl);
    --pt-intent-primary-text-color: var(--orange5)
}

:root .bp5-input[type=search] {
    border-radius: var(--pt-border-radius)
}

:root .bp5-input.bp5-round {
    border-radius: 99px
}

:root .bp5-button-group .bp5-button[class*=bp5-intent-] {
    border-width: 0;
    border-bottom: 0 solid hsla(var(--white-hsl),.25);
    border-left: 1px solid hsla(var(--white-hsl),.25);
    border-right: 1px solid hsla(var(--white-hsl),.25);
    border-top: 0 solid hsla(var(--white-hsl),.25)
}

:root .bp5-button-group:not(.bp5-minimal)>.bp5-button[class*=bp5-intent-]:first-child,:root .bp5-button-group:not(.bp5-minimal)>.bp5-popover-target:first-child .bp5-button[class*=bp5-intent-],:root .bp5-button-group:not(.bp5-minimal)>.bp5-popover-wrapper:first-child .bp5-button[class*=bp5-intent-] {
    border-width: 0 1px 0 0
}

:root .bp5-button-group:not(.bp5-minimal)>.bp5-button[class*=bp5-intent-]:last-child,:root .bp5-button-group:not(.bp5-minimal)>.bp5-popover-target:last-child .bp5-button[class*=bp5-intent-],:root .bp5-button-group:not(.bp5-minimal)>.bp5-popover-wrapper:last-child .bp5-button[class*=bp5-intent-] {
    border-width: 0 0 0 1px
}

:root .bp5-button-group.bp5-vertical .bp5-button[class*=bp5-intent-] {
    border-width: 1px 0
}

:root .bp5-button-group.bp5-vertical:not(.bp5-minimal)>.bp5-button[class*=bp5-intent-]:first-child,:root .bp5-button-group.bp5-vertical:not(.bp5-minimal)>.bp5-popover-target:first-child .bp5-button[class*=bp5-intent-],:root .bp5-button-group.bp5-vertical:not(.bp5-minimal)>.bp5-popover-wrapper:first-child .bp5-button[class*=bp5-intent-] {
    border-width: 0 0 1px
}

:root .bp5-button-group.bp5-vertical:not(.bp5-minimal)>.bp5-button[class*=bp5-intent-]:last-child,:root .bp5-button-group.bp5-vertical:not(.bp5-minimal)>.bp5-popover-target:last-child .bp5-button[class*=bp5-intent-],:root .bp5-button-group.bp5-vertical:not(.bp5-minimal)>.bp5-popover-wrapper:last-child .bp5-button[class*=bp5-intent-] {
    border-width: 1px 0 0
}