
	/*! ColorsHsl */
$black-hsl: var(--black-hsl);
$dark-gray1-hsl: var(--dark-gray1-hsl);
$dark-gray2-hsl: var(--dark-gray2-hsl);
$dark-gray3-hsl: var(--dark-gray3-hsl);
$dark-gray4-hsl: var(--dark-gray4-hsl);
$dark-gray5-hsl: var(--dark-gray5-hsl);
$gray1-hsl: var(--gray1-hsl);
$gray2-hsl: var(--gray2-hsl);
$gray3-hsl: var(--gray3-hsl);
$gray4-hsl: var(--gray4-hsl);
$gray5-hsl: var(--gray5-hsl);
$light-gray1-hsl: var(--light-gray1-hsl);
$light-gray2-hsl: var(--light-gray2-hsl);
$light-gray3-hsl: var(--light-gray3-hsl);
$light-gray4-hsl: var(--light-gray4-hsl);
$light-gray5-hsl: var(--light-gray5-hsl);
$white-hsl: var(--white-hsl);
$vermilion-hue: var(--vermilion-hue);
$vermilion1-hsl: var(--vermilion1-hsl);
$vermilion2-hsl: var(--vermilion2-hsl);
$vermilion3-hsl: var(--vermilion3-hsl);
$vermilion4-hsl: var(--vermilion4-hsl);
$vermilion5-hsl: var(--vermilion5-hsl);
$red-hue: var(--red-hue);
$red1-hsl: var(--red1-hsl);
$red2-hsl: var(--red2-hsl);
$red3-hsl: var(--red3-hsl);
$red4-hsl: var(--red4-hsl);
$red5-hsl: var(--red5-hsl);
$red6-hsl: var(--red6-hsl);
$rose-hue: var(--rose-hue);
$rose1-hsl: var(--rose1-hsl);
$rose2-hsl: var(--rose2-hsl);
$rose3-hsl: var(--rose3-hsl);
$rose4-hsl: var(--rose4-hsl);
$rose5-hsl: var(--rose5-hsl);
$violet-hue: var(--violet-hue);
$violet1-hsl: var(--violet1-hsl);
$violet2-hsl: var(--violet2-hsl);
$violet3-hsl: var(--violet3-hsl);
$violet4-hsl: var(--violet4-hsl);
$violet5-hsl: var(--violet5-hsl);
$indigo-hue: var(--indigo-hue);
$indigo1-hsl: var(--indigo1-hsl);
$indigo2-hsl: var(--indigo2-hsl);
$indigo3-hsl: var(--indigo3-hsl);
$indigo4-hsl: var(--indigo4-hsl);
$indigo5-hsl: var(--indigo5-hsl);
$blue-hue: var(--blue-hue);
$blue1-hsl: var(--blue1-hsl);
$blue2-hsl: var(--blue2-hsl);
$blue3-hsl: var(--blue3-hsl);
$blue4-hsl: var(--blue4-hsl);
$blue5-hsl: var(--blue5-hsl);
$blue6-hsl: var(--blue6-hsl);
$cerulean-hue: var(--cerulean-hue);
$cerulean1-hsl: var(--cerulean1-hsl);
$cerulean2-hsl: var(--cerulean2-hsl);
$cerulean3-hsl: var(--cerulean3-hsl);
$cerulean4-hsl: var(--cerulean4-hsl);
$cerulean5-hsl: var(--cerulean5-hsl);
$turquoise-hue: var(--turquoise-hue);
$turquoise1-hsl: var(--turquoise1-hsl);
$turquoise2-hsl: var(--turquoise2-hsl);
$turquoise3-hsl: var(--turquoise3-hsl);
$turquoise4-hsl: var(--turquoise4-hsl);
$turquoise5-hsl: var(--turquoise5-hsl);
$green-hue: var(--green-hue);
$green1-hsl: var(--green1-hsl);
$green2-hsl: var(--green2-hsl);
$green3-hsl: var(--green3-hsl);
$green4-hsl: var(--green4-hsl);
$green5-hsl: var(--green5-hsl);
$green6-hsl: var(--green6-hsl);
$forest-hue: var(--forest-hue);
$forest1-hsl: var(--forest1-hsl);
$forest2-hsl: var(--forest2-hsl);
$forest3-hsl: var(--forest3-hsl);
$forest4-hsl: var(--forest4-hsl);
$forest5-hsl: var(--forest5-hsl);
$forest6-hsl: var(--forest6-hsl);
$lime-hue: var(--lime-hue);
$lime1-hsl: var(--lime1-hsl);
$lime2-hsl: var(--lime2-hsl);
$lime3-hsl: var(--lime3-hsl);
$lime4-hsl: var(--lime4-hsl);
$lime5-hsl: var(--lime5-hsl);
$gold-hue: var(--gold-hue);
$gold1-hsl: var(--gold1-hsl);
$gold2-hsl: var(--gold2-hsl);
$gold3-hsl: var(--gold3-hsl);
$gold4-hsl: var(--gold4-hsl);
$gold5-hsl: var(--gold5-hsl);
$orange-hue: var(--orange-hue);
$orange1-hsl: var(--orange1-hsl);
$orange2-hsl: var(--orange2-hsl);
$orange3-hsl: var(--orange3-hsl);
$orange4-hsl: var(--orange4-hsl);
$orange5-hsl: var(--orange5-hsl);
$orange6-hsl: var(--orange6-hsl);
$sepia-hue: var(--sepia-hue);
$sepia1-hsl: var(--sepia1-hsl);
$sepia2-hsl: var(--sepia2-hsl);
$sepia3-hsl: var(--sepia3-hsl);
$sepia4-hsl: var(--sepia4-hsl);
$sepia5-hsl: var(--sepia5-hsl);

	/*! Variables */
$pt-font-family-sans: var(--pt-font-family-sans);
$pt-font-family-monospace: var(--pt-font-family-monospace);
$pt-border-radius: var(--pt-border-radius);
$pt-drop-shadow-opacity: var(--pt-drop-shadow-opacity);
$pt-shadow-color-hsl: var(--pt-shadow-color-hsl);
$pt-elevation-shadow-0: var(--pt-elevation-shadow-0);
$pt-elevation-shadow-1: var(--pt-elevation-shadow-1);
$pt-elevation-shadow-2: var(--pt-elevation-shadow-2);
$pt-elevation-shadow-3: var(--pt-elevation-shadow-3);
$pt-elevation-shadow-4: var(--pt-elevation-shadow-4);
$pt-input-box-shadow: var(--pt-input-box-shadow);

	/*! Components */
$button-outlined-border-color: var(--button-outlined-border-color);
$button-outlined-border-color-disabled: var(--button-outlined-border-color-disabled);
$minimal-button-background-opacity: var(--minimal-button-background-opacity);
$button-box-shadow: var(--button-box-shadow);
$button-box-shadow-active: var(--button-box-shadow-active);
$button-intent-box-shadow: var(--button-intent-box-shadow);
$button-intent-box-shadow-active: var(--button-intent-box-shadow-active);
$button-gradient: var(--button-gradient);
$button-intent-gradient: var(--button-intent-gradient);
$button-background-color: var(--button-background-color);
$button-background-color-hover: var(--button-background-color-hover);
$button-background-color-active: var(--button-background-color-active);
$button-background-color-disabled: var(--button-background-color-disabled);
$switch-checked-background-color-disabled: var(--switch-checked-background-color-disabled);

	/*! IntentColors */
$success1-hsl: var(--success1-hsl);
$success2-hsl: var(--success2-hsl);
$success3-hsl: var(--success3-hsl);
$success4-hsl: var(--success4-hsl);
$success5-hsl: var(--success5-hsl);
$success6-hsl: var(--success6-hsl);
$pt-intent-primary-hsl: var(--pt-intent-primary-hsl);
$pt-intent-primary-hover-hsl: var(--pt-intent-primary-hover-hsl);
$pt-intent-primary-active-hsl: var(--pt-intent-primary-active-hsl);
$pt-intent-success-hsl: var(--pt-intent-success-hsl);
$pt-intent-success-hover-hsl: var(--pt-intent-success-hover-hsl);
$pt-intent-success-active-hsl: var(--pt-intent-success-active-hsl);
$pt-intent-warning-hsl: var(--pt-intent-warning-hsl);
$pt-intent-warning-hover-hsl: var(--pt-intent-warning-hover-hsl);
$pt-intent-warning-active-hsl: var(--pt-intent-warning-active-hsl);
$pt-intent-danger-hsl: var(--pt-intent-danger-hsl);
$pt-intent-danger-hover-hsl: var(--pt-intent-danger-hover-hsl);
$pt-intent-danger-active-hsl: var(--pt-intent-danger-active-hsl);
