:root .bp5-button,:root .bp5-html-select select,:root .bp5-select select,:root a,:root a.bp5-button {
    font-weight: var(--font-weight-bold);
    transition: background-color .1s linear
}

:root .bp5-button:active,:root .bp5-html-select select:active,:root .bp5-select select:active,:root a.bp5-button:active,:root a:active {
    transition-duration: 50ms
}

:root .bp5-button.bp5-minimal .bp5-icon,:root .bp5-button.bp5-minimal:hover {
    color: var(--pt-intent-primary-hover)
}

:root .bp5-input {
    box-shadow: inset 0 0 0 1px var(--button-outlined-border-color)
}

:root .bp5-input.bp5-active,:root .bp5-input:focus {
    box-shadow: inset 0 0 0 2px var(--input-shadow-color-focus)
}

:root .bp5-input.bp5-disabled,:root .bp5-input:disabled {
    box-shadow: none
}

:root .bp5-control.bp5-switch input~.bp5-control-indicator {
    background-color: var(--button-background-color);
    box-shadow: var(--pt-input-box-shadow)!important
}

:root .bp5-control.bp5-switch input~.bp5-control-indicator:before {
    background-color: var(--pt-text-color-muted);
    box-shadow: none
}

:root .bp5-control.bp5-switch input:checked~.bp5-control-indicator {
    background: var(--switch-checked-background-color);
    box-shadow: none!important
}

:root .bp5-control.bp5-switch input:checked~.bp5-control-indicator:before {
    background-color: var(--white);
    box-shadow: none
}

:root .bp5-control.bp5-switch input.bp5-disabled~.bp5-control-indicator,:root .bp5-control.bp5-switch input:disabled~.bp5-control-indicator {
    background-color: none;
    box-shadow: inset 0 0 0 1px var(--switch-checked-background-color-disabled)!important
}

:root .bp5-control.bp5-switch input.bp5-disabled~.bp5-control-indicator:before,:root .bp5-control.bp5-switch input:disabled~.bp5-control-indicator:before {
    background-color: var(--switch-checked-background-color-disabled);
    box-shadow: none
}

:root .bp5-control.bp5-switch input.bp5-disabled:checked~.bp5-control-indicator,:root .bp5-control.bp5-switch input:disabled:checked~.bp5-control-indicator {
    background: var(--switch-checked-background-color-disabled);
    box-shadow: none!important
}

:root .bp5-control.bp5-switch input.bp5-disabled:checked~.bp5-control-indicator:before,:root .bp5-control.bp5-switch input:disabled:checked~.bp5-control-indicator:before {
    background-color: var(--white);
    box-shadow: none
}

*,:after,:before {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility
}

:root .bp5-input[type=search] {
    border-radius: var(--pt-border-radius)
}

:root .bp5-input.bp5-round {
    border-radius: 99px
}

:root .bp5-button-group .bp5-button[class*=bp5-intent-] {
    border-width: 0;
    border-bottom: 0 solid hsla(var(--white-hsl),.25);
    border-left: 1px solid hsla(var(--white-hsl),.25);
    border-right: 1px solid hsla(var(--white-hsl),.25);
    border-top: 0 solid hsla(var(--white-hsl),.25)
}

:root .bp5-button-group:not(.bp5-minimal)>.bp5-button[class*=bp5-intent-]:first-child,:root .bp5-button-group:not(.bp5-minimal)>.bp5-popover-target:first-child .bp5-button[class*=bp5-intent-],:root .bp5-button-group:not(.bp5-minimal)>.bp5-popover-wrapper:first-child .bp5-button[class*=bp5-intent-] {
    border-width: 0 1px 0 0
}

:root .bp5-button-group:not(.bp5-minimal)>.bp5-button[class*=bp5-intent-]:last-child,:root .bp5-button-group:not(.bp5-minimal)>.bp5-popover-target:last-child .bp5-button[class*=bp5-intent-],:root .bp5-button-group:not(.bp5-minimal)>.bp5-popover-wrapper:last-child .bp5-button[class*=bp5-intent-] {
    border-width: 0 0 0 1px
}

:root .bp5-button-group.bp5-vertical .bp5-button[class*=bp5-intent-] {
    border-width: 1px 0
}

:root .bp5-button-group.bp5-vertical:not(.bp5-minimal)>.bp5-button[class*=bp5-intent-]:first-child,:root .bp5-button-group.bp5-vertical:not(.bp5-minimal)>.bp5-popover-target:first-child .bp5-button[class*=bp5-intent-],:root .bp5-button-group.bp5-vertical:not(.bp5-minimal)>.bp5-popover-wrapper:first-child .bp5-button[class*=bp5-intent-] {
    border-width: 0 0 1px
}

:root .bp5-button-group.bp5-vertical:not(.bp5-minimal)>.bp5-button[class*=bp5-intent-]:last-child,:root .bp5-button-group.bp5-vertical:not(.bp5-minimal)>.bp5-popover-target:last-child .bp5-button[class*=bp5-intent-],:root .bp5-button-group.bp5-vertical:not(.bp5-minimal)>.bp5-popover-wrapper:last-child .bp5-button[class*=bp5-intent-] {
    border-width: 1px 0 0
}