:root .bp4-button,:root .bp4-html-select select,:root .bp4-select select,:root a,:root a.bp4-button {
    font-weight: var(--font-weight-bold);
    transition: background-color .1s linear
}

:root .bp4-button:active,:root .bp4-html-select select:active,:root .bp4-select select:active,:root a.bp4-button:active,:root a:active {
    transition-duration: 50ms
}

:root .bp4-button.bp4-minimal .bp4-icon,:root .bp4-button.bp4-minimal:hover {
    color: var(--pt-intent-primary-hover)
}

:root .bp4-input {
    box-shadow: inset 0 0 0 1px var(--button-outlined-border-color)
}

:root .bp4-input.bp4-active,:root .bp4-input:focus {
    box-shadow: inset 0 0 0 2px var(--input-shadow-color-focus)
}

:root .bp4-input.bp4-disabled,:root .bp4-input:disabled {
    box-shadow: none
}

:root .bp4-control.bp4-switch input~.bp4-control-indicator {
    background-color: var(--button-background-color);
    box-shadow: var(--pt-input-box-shadow)!important
}

:root .bp4-control.bp4-switch input~.bp4-control-indicator:before {
    background-color: var(--pt-text-color-muted);
    box-shadow: none
}

:root .bp4-control.bp4-switch input:checked~.bp4-control-indicator {
    background: var(--switch-checked-background-color);
    box-shadow: none!important
}

:root .bp4-control.bp4-switch input:checked~.bp4-control-indicator:before {
    background-color: var(--white);
    box-shadow: none
}

:root .bp4-control.bp4-switch input.bp4-disabled~.bp4-control-indicator,:root .bp4-control.bp4-switch input:disabled~.bp4-control-indicator {
    background-color: none;
    box-shadow: inset 0 0 0 1px var(--switch-checked-background-color-disabled)!important
}

:root .bp4-control.bp4-switch input.bp4-disabled~.bp4-control-indicator:before,:root .bp4-control.bp4-switch input:disabled~.bp4-control-indicator:before {
    background-color: var(--switch-checked-background-color-disabled);
    box-shadow: none
}

:root .bp4-control.bp4-switch input.bp4-disabled:checked~.bp4-control-indicator,:root .bp4-control.bp4-switch input:disabled:checked~.bp4-control-indicator {
    background: var(--switch-checked-background-color-disabled);
    box-shadow: none!important
}

:root .bp4-control.bp4-switch input.bp4-disabled:checked~.bp4-control-indicator:before,:root .bp4-control.bp4-switch input:disabled:checked~.bp4-control-indicator:before {
    background-color: var(--white);
    box-shadow: none
}

*,:after,:before {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility
}

:root .bp4-input[type=search] {
    border-radius: var(--pt-border-radius)
}

:root .bp4-input.bp4-round {
    border-radius: 99px
}

:root .bp4-button-group .bp4-button[class*=bp4-intent-] {
    border-width: 0;
    border-bottom: 0 solid hsla(var(--white-hsl),.25);
    border-left: 1px solid hsla(var(--white-hsl),.25);
    border-right: 1px solid hsla(var(--white-hsl),.25);
    border-top: 0 solid hsla(var(--white-hsl),.25)
}

:root .bp4-button-group:not(.bp4-minimal)>.bp4-button[class*=bp4-intent-]:first-child,:root .bp4-button-group:not(.bp4-minimal)>.bp4-popover-wrapper:first-child .bp4-button[class*=bp4-intent-],:root .bp4-button-group:not(.bp4-minimal)>.bp4-popover2-target:first-child .bp4-button[class*=bp4-intent-] {
    border-width: 0 1px 0 0
}

:root .bp4-button-group:not(.bp4-minimal)>.bp4-button[class*=bp4-intent-]:last-child,:root .bp4-button-group:not(.bp4-minimal)>.bp4-popover-wrapper:last-child .bp4-button[class*=bp4-intent-],:root .bp4-button-group:not(.bp4-minimal)>.bp4-popover2-target:last-child .bp4-button[class*=bp4-intent-] {
    border-width: 0 0 0 1px
}

:root .bp4-button-group.bp4-vertical .bp4-button[class*=bp4-intent-] {
    border-width: 1px 0
}

:root .bp4-button-group.bp4-vertical:not(.bp4-minimal)>.bp4-button[class*=bp4-intent-]:first-child,:root .bp4-button-group.bp4-vertical:not(.bp4-minimal)>.bp4-popover-wrapper:first-child .bp4-button[class*=bp4-intent-],:root .bp4-button-group.bp4-vertical:not(.bp4-minimal)>.bp4-popover2-target:first-child .bp4-button[class*=bp4-intent-] {
    border-width: 0 0 1px
}

:root .bp4-button-group.bp4-vertical:not(.bp4-minimal)>.bp4-button[class*=bp4-intent-]:last-child,:root .bp4-button-group.bp4-vertical:not(.bp4-minimal)>.bp4-popover-wrapper:last-child .bp4-button[class*=bp4-intent-],:root .bp4-button-group.bp4-vertical:not(.bp4-minimal)>.bp4-popover2-target:last-child .bp4-button[class*=bp4-intent-] {
    border-width: 1px 0 0
}