// $button-border-width: 1px;
$pt-grid-size: 10px; // ./src/styles/_default-var-styles/@blueprintjs/core/src/common/_variables.scss
$button-padding: ($pt-grid-size / 2) ($pt-grid-size * 1.6);
$button-padding-small: 0 ($pt-grid-size * 0.8);
$button-padding-large: $button-padding;
