#{$root-selector}{

  /*! Components */

  --button-box-shadow:
    inset 0 0 0 var(--button-border-width) hsla(var(--pt-shadow-color-hsl), 0.15);
  --button-box-shadow-active:
    inset 0 0 0 var(--button-border-width) hsla(var(--pt-shadow-color-hsl), 0.3);
  --button-intent-box-shadow: unset;
  --button-intent-box-shadow-active: unset;

  --dark-button-intent-box-shadow: unset;
  --dark-button-intent-box-shadow-active: unset;

  --button-gradient: unset; // linear-gradient(to bottom, rgba($white, 0.8), rgba($white, 0)) ;
  --button-intent-gradient: unset; // linear-gradient(to bottom, rgba($white, 0.1), rgba($white, 0)) ;
  --dark-button-gradient: unset; // linear-gradient(to bottom, rgba($white, 0.05), rgba($white, 0)) ;

  --control-group-spacing: -1px; // custom
  --dark-control-group-spacing: -1px; // custom


  /*! IntentColors */

  --pt-intent-primary-hue:        var(--cobalt-hue);
  --pt-intent-primary-hsl:        var(--cobalt4-hsl);
  --pt-intent-primary-hover-hsl:  var(--cobalt3-hsl);
  --pt-intent-primary-active-hsl: var(--cobalt2-hsl);

  --pt-intent-primary-text-color-hsl:      var(--cobalt2-hsl);
  --pt-dark-intent-primary-text-color-hsl: var(--cobalt5-hsl);


  --pt-intent-success-hue:        var(--forest-hue);
  --pt-intent-success-hsl:        var(--forest4-hsl);
  --pt-intent-success-hover-hsl:  var(--forest3-hsl);
  --pt-intent-success-active-hsl: var(--forest2-hsl);

  --pt-intent-success-text-color-hsl:      var(--forest2-hsl);
  --pt-dark-intent-success-text-color-hsl: var(--forest5-hsl);


  --pt-intent-warning-hue:        var(--orange-hue);
  --pt-intent-warning-hsl:        var(--orange4-hsl);
  --pt-intent-warning-hover-hsl:  var(--orange3-hsl);
  --pt-intent-warning-active-hsl: var(--orange2-hsl);

  --pt-intent-warning-text-color-hsl:      var(--orange2-hsl);
  --pt-dark-intent-warning-text-color-hsl: var(--orange5-hsl);


  --pt-intent-danger-hue:        var(--red-hue);
  --pt-intent-danger-hsl:        var(--red4-hsl);
  --pt-intent-danger-hover-hsl:  var(--red3-hsl);
  --pt-intent-danger-active-hsl: var(--red2-hsl);

  --pt-intent-danger-text-color-hsl:      var(--red2-hsl);
  --pt-dark-intent-danger-text-color-hsl: var(--red5-hsl);

}
