$button-border-width: 1px;
// $button-padding: ($pt-grid-size / 2) $pt-grid-size;
// $button-padding-small: 0 ($pt-grid-size * 0.7);
// $button-padding-large: ($pt-grid-size / 2) ($pt-grid-size * 1.5);
// $button-icon-spacing: ($pt-button-height - $pt-icon-size-standard) / 2;
// $button-icon-spacing-large: ($pt-button-height-large - $pt-icon-size-large) / 2;

/*
CSS `border` property issues:
- An element can only have one border.
- Borders can't stack with shadows.
- Borders modify the size of the element they're applied to.
- Border positioning requires the extra `box-sizing` property.

`box-shadow` doesn't have these issues, we're using it instead of `border`.
*/
$button-box-shadow:
  inset 0 0 0 $button-border-width hslax(var(--black-hsl), 0.2),
  inset 0 (-$button-border-width) 0 hslax(var(--black-hsl), 0.1);
$button-box-shadow-active:
  inset 0 0 0 $button-border-width hslax(var(--black-hsl), 0.2),
  inset 0 1px 2px hslax(var(--black-hsl), 0.2);
$button-intent-box-shadow:
  inset 0 0 0 $button-border-width hslax(var(--black-hsl), 0.4),
  inset 0 (-$button-border-width) 0 hslax(var(--black-hsl), 0.2);
$button-intent-box-shadow-active:
  inset 0 0 0 $button-border-width hslax(var(--black-hsl), 0.4),
  inset 0 1px 2px hslax(var(--black-hsl), 0.2);

/*
Overlay shadows are used for default buttons
floating on top of other elements. This way, the
shadows blend with the colors beneath it.
Switches and slider handles both use these variables.
*/
$button-box-shadow-overlay:
  0 0 0 $button-border-width hslax(var(--black-hsl), 0.2),
  0 1px 1px hslax(var(--black-hsl), 0.2);
$button-box-shadow-overlay-active:
  0 0 0 $button-border-width hslax(var(--black-hsl), 0.2),
  inset 0 1px 1px hslax(var(--black-hsl), 0.1);

$dark-button-box-shadow:
  0 0 0 $button-border-width hslax(var(--black-hsl), 0.4);
$dark-button-box-shadow-active:
  0 0 0 $button-border-width hslax(var(--black-hsl), 0.6),
  inset 0 1px 2px hslax(var(--black-hsl), 0.2);
$dark-button-intent-box-shadow:
  0 0 0 $button-border-width hslax(var(--black-hsl), 0.4);
$dark-button-intent-box-shadow-active:
  0 0 0 $button-border-width hslax(var(--black-hsl), 0.4),
  inset 0 1px 2px hslax(var(--black-hsl), 0.2);

$button-gradient: linear-gradient(to bottom, hslax(var(--white-hsl), 0.8), hslax(var(--white-hsl), 0));
$button-intent-gradient: linear-gradient(to bottom, hslax(var(--white-hsl), 0.1), hslax(var(--white-hsl), 0));
$dark-button-gradient: linear-gradient(to bottom, hslax(var(--white-hsl), 0.05), hslax(var(--white-hsl), 0));

$button-color-disabled: $pt-text-color-disabled;
$button-background-color: $light-gray5;
$button-background-color-hover: $light-gray4;
$button-background-color-active: $light-gray2;
$button-background-color-disabled: hslax(var(--light-gray1-hsl), 0.5);
$button-background-color-active-disabled: hslax(var(--light-gray1-hsl), 0.7);
$button-intent-color-disabled: hslax(var(--white-hsl), 0.6);
$dark-button-color-disabled: $pt-dark-text-color-disabled;
$dark-button-background-color: $dark-gray5;
$dark-button-background-color-hover: $dark-gray4;
$dark-button-background-color-active: $dark-gray2;
$dark-button-background-color-disabled: hslax(var(--dark-gray5-hsl), 0.5);
$dark-button-background-color-active-disabled: hslax(var(--dark-gray5-hsl), 0.7);
$dark-button-intent-color-disabled: hslax(var(--white-hsl), 0.3);

$minimal-button-divider-width: 1px;
$minimal-button-background-color: none;
$minimal-button-background-color-hover: hslax(var(--gray4-hsl), 0.3);
$minimal-button-background-color-active: hslax(var(--gray2-hsl), 0.3);
$dark-minimal-button-background-color: none;
$dark-minimal-button-background-color-hover: hslax(var(--gray3-hsl), 0.15);
$dark-minimal-button-background-color-active: hslax(var(--gray3-hsl), 0.3);

$button-outlined-width: 1px;
$button-outlined-border-intent-opacity: 0.6;
$button-outlined-border-disabled-intent-opacity: 0.2;

// "intent": ($default, $hover, $active, $default-hsl, $hover-hsl, $active-hsl)
$button-intents: (
  "primary": ($pt-intent-primary, $blue2,   $blue1,   var(--blue3-hsl),   var(--blue2-hsl),   var(--blue-hsl)    ),
  "success": ($pt-intent-success, $green2,  $green1,  var(--green3-hsl),  var(--green2-hsl),  var(--green1-hsl)  ),
  "warning": ($pt-intent-warning, $orange2, $orange1, var(--orange3-hsl), var(--orange2-hsl), var(--orange1-hsl) ),
  "danger":  ($pt-intent-danger,  $red2,    $red1,    var(--red3-hsl),    var(--red2-hsl),    var(--red1-hsl)    )
);

$button-intents-hsl: (
  "primary": (var(--blue3-hsl),   var(--blue2-hsl),   var(--blue-hsl)    ),
  "success": (var(--green3-hsl),  var(--green2-hsl),  var(--green1-hsl)  ),
  "warning": (var(--orange3-hsl), var(--orange2-hsl), var(--orange1-hsl) ),
  "danger":  (var(--red3-hsl),    var(--red2-hsl),    var(--red1-hsl)    )
);
