// $input-padding-horizontal: $pt-grid-size;
// $input-small-padding: $pt-input-height-small - $pt-icon-size-standard;
// $input-font-weight: 400;
// $input-transition: box-shadow $pt-transition-duration $pt-transition-ease;

$input-color: $pt-text-color;
$input-color-disabled: $button-color-disabled;
$input-placeholder-color: $pt-text-color-disabled;
$input-background-color: $white;
$input-background-color-disabled: hslax(var(--light-gray1-hsl), 0.5);
$input-shadow-color-focus: $pt-intent-primary;

$dark-input-color: $pt-dark-text-color;
$dark-input-color-disabled: $dark-button-color-disabled;
$dark-input-placeholder-color: $pt-dark-text-color-disabled;
$dark-input-background-color: hslax(var(--black-hsl), 0.3);
$dark-input-background-color-disabled: hslax(var(--dark-gray5-hsl), 0.5);
$dark-input-shadow-color-focus: $pt-intent-primary;

$control-indicator-size: $pt-icon-size-standard;
$control-indicator-size-large: $pt-icon-size-large;

// avoids edge blurriness for light theme focused default input
// second box-shadow of $pt-input-box-shadow
$input-box-shadow-focus: inset 0 1px 1px hslax(var(--black-hsl), $pt-drop-shadow-opacity);
