:root, .bpx-vars{

/*! Components */

// --navbar-padding: calc(var(--pt-grid-size) * 1.5);

--navbar-background-color: var(--white);
--dark-navbar-background-color: var(--dark-gray5);

}

// $navbar-padding: var(--navbar-padding);

$navbar-background-color: var(--navbar-background-color);
$dark-navbar-background-color: var(--dark-navbar-background-color);
