@import '../global/functions';
@import '../_blueprint/common/intent-sets';
$pt-input-height: 32px;

$ns: "bp5";
$root-selector: ":root" !default;

@import './common/index';
@import './components/index';
@import './icon-overrides';

#{$root-selector} {
  @import '../global/common-standard-search';
  @import '../global/common-tag-input-shrink';
}
