// The .bpx-name must match the one in style-manifest.ts
$root-selector: ":root.bpx-carbon" !default;
@import './index';

#{$root-selector} {
  @import './font-face';

  // custom presentation for the styler docs
  .#{$ns}-dark .docs-example-options {
    background-color: var(--dark-gray3);
    border: unset
  }

  .docs-example-options {
    background-color: var(--white);
    // background-color: var(--light-gray5);
    // border: 1px solid var(--light-gray4);
  }

  .docs-example-frame-row:before,
  .docs-example-frame-row>* {
    margin-right: 1px;
  }

  .docs-example-frame {
    margin: 1px 0;
  }
}
