#{$root-selector}{

  /*! Components */

  --button-outlined-border-color:                   hsla(var(--black-hsl), 0.53); // custom
  --button-outlined-border-color-disabled:          hsla(var(--black-hsl), 0.1); // custom
  --dark-button-outlined-border-color:              hsla(var(--white-hsl), 0.2); // custom
  --dark-button-outlined-border-color-disabled:     hsla(var(--white-hsl), 0.1); // custom

  --minimal-button-background-opacity:              0.15;

  --button-box-shadow: inset 0 0 0 var(--button-border-width) var(--button-outlined-border-color);
  --button-box-shadow-active: var(--button-box-shadow);

  --dark-button-box-shadow: inset 0 0 0 var(--button-border-width) var(--dark-button-outlined-border-color);
  --dark-button-box-shadow-active: var(--dark-button-box-shadow);

  --button-intent-box-shadow:         none;
  --button-intent-box-shadow-active:  none;

  --button-gradient: unset;
  --button-intent-gradient: unset;
  --dark-button-gradient: unset;

  --button-background-color:           var(--white);
  --button-background-color-hover:     var(--light-gray4);
  --button-background-color-active:    var(--light-gray2);
  --button-background-color-disabled:  hsla(var(--light-gray1-hsl), 0.3);

  --dark-button-background-color:           var(--dark-gray2);
  --dark-button-background-color-hover:     var(--dark-gray3);
  --dark-button-background-color-active:    var(--dark-gray5);
  --dark-button-background-color-disabled:  hsla(var(--dark-gray5-hsl), 0.4);


  /*! IntentColors */

  --success1-hsl: var(--forest1-hsl);
  --success2-hsl: var(--forest2-hsl);
  --success3-hsl: var(--forest3-hsl);
  --success4-hsl: var(--forest4-hsl);
  --success5-hsl: var(--forest5-hsl);
  --success6-hsl: var(--forest6-hsl);

  --pt-intent-primary-hsl:        var(--primary4-hsl);
  --pt-intent-primary-hover-hsl:  var(--primary3-hsl);
  --pt-intent-primary-active-hsl: var(--primary2-hsl);

  --pt-intent-success-hsl: var(--success4-hsl);
  --pt-intent-success-hover-hsl: var(--success3-hsl);
  --pt-intent-success-active-hsl: var(--success2-hsl);

  --pt-intent-warning-hsl: var(--warning5-hsl);
  --pt-intent-warning-hover-hsl: var(--warning4-hsl);
  --pt-intent-warning-active-hsl: var(--warning3-hsl);

  --pt-intent-danger-hsl: var(--danger4-hsl);
  --pt-intent-danger-hover-hsl: var(--danger3-hsl);
  --pt-intent-danger-active-hsl: var(--danger2-hsl);

}
