
	/*! Icons */
@chevron-right-icon: var(--chevron-right-icon);
@more-icon: var(--more-icon);
@small-minus-icon: var(--small-minus-icon);
@small-tick-icon: var(--small-tick-icon);

	/*! ColorsHsl */
@black-hsl: var(--black-hsl);
@dark-gray1-hsl: var(--dark-gray1-hsl);
@dark-gray2-hsl: var(--dark-gray2-hsl);
@dark-gray3-hsl: var(--dark-gray3-hsl);
@dark-gray4-hsl: var(--dark-gray4-hsl);
@dark-gray5-hsl: var(--dark-gray5-hsl);
@gray1-hsl: var(--gray1-hsl);
@gray2-hsl: var(--gray2-hsl);
@gray3-hsl: var(--gray3-hsl);
@gray4-hsl: var(--gray4-hsl);
@gray5-hsl: var(--gray5-hsl);
@light-gray1-hsl: var(--light-gray1-hsl);
@light-gray2-hsl: var(--light-gray2-hsl);
@light-gray3-hsl: var(--light-gray3-hsl);
@light-gray4-hsl: var(--light-gray4-hsl);
@light-gray5-hsl: var(--light-gray5-hsl);
@white-hsl: var(--white-hsl);
@blue1-hsl: var(--blue1-hsl);
@blue2-hsl: var(--blue2-hsl);
@blue3-hsl: var(--blue3-hsl);
@blue4-hsl: var(--blue4-hsl);
@blue5-hsl: var(--blue5-hsl);
@green1-hsl: var(--green1-hsl);
@green2-hsl: var(--green2-hsl);
@green3-hsl: var(--green3-hsl);
@green4-hsl: var(--green4-hsl);
@green5-hsl: var(--green5-hsl);
@orange1-hsl: var(--orange1-hsl);
@orange2-hsl: var(--orange2-hsl);
@orange3-hsl: var(--orange3-hsl);
@orange4-hsl: var(--orange4-hsl);
@orange5-hsl: var(--orange5-hsl);
@red1-hsl: var(--red1-hsl);
@red2-hsl: var(--red2-hsl);
@red3-hsl: var(--red3-hsl);
@red4-hsl: var(--red4-hsl);
@red5-hsl: var(--red5-hsl);
@blue6-hsl: var(--blue6-hsl);
@green6-hsl: var(--green6-hsl);
@orange6-hsl: var(--orange6-hsl);
@red6-hsl: var(--red6-hsl);
@vermilion1-hsl: var(--vermilion1-hsl);
@vermilion2-hsl: var(--vermilion2-hsl);
@vermilion3-hsl: var(--vermilion3-hsl);
@vermilion4-hsl: var(--vermilion4-hsl);
@vermilion5-hsl: var(--vermilion5-hsl);
@rose1-hsl: var(--rose1-hsl);
@rose2-hsl: var(--rose2-hsl);
@rose3-hsl: var(--rose3-hsl);
@rose4-hsl: var(--rose4-hsl);
@rose5-hsl: var(--rose5-hsl);
@violet1-hsl: var(--violet1-hsl);
@violet2-hsl: var(--violet2-hsl);
@violet3-hsl: var(--violet3-hsl);
@violet4-hsl: var(--violet4-hsl);
@violet5-hsl: var(--violet5-hsl);
@indigo1-hsl: var(--indigo1-hsl);
@indigo2-hsl: var(--indigo2-hsl);
@indigo3-hsl: var(--indigo3-hsl);
@indigo4-hsl: var(--indigo4-hsl);
@indigo5-hsl: var(--indigo5-hsl);
@cerulean1-hsl: var(--cerulean1-hsl);
@cerulean2-hsl: var(--cerulean2-hsl);
@cerulean3-hsl: var(--cerulean3-hsl);
@cerulean4-hsl: var(--cerulean4-hsl);
@cerulean5-hsl: var(--cerulean5-hsl);
@turquoise1-hsl: var(--turquoise1-hsl);
@turquoise2-hsl: var(--turquoise2-hsl);
@turquoise3-hsl: var(--turquoise3-hsl);
@turquoise4-hsl: var(--turquoise4-hsl);
@turquoise5-hsl: var(--turquoise5-hsl);
@forest1-hsl: var(--forest1-hsl);
@forest2-hsl: var(--forest2-hsl);
@forest3-hsl: var(--forest3-hsl);
@forest4-hsl: var(--forest4-hsl);
@forest5-hsl: var(--forest5-hsl);
@lime1-hsl: var(--lime1-hsl);
@lime2-hsl: var(--lime2-hsl);
@lime3-hsl: var(--lime3-hsl);
@lime4-hsl: var(--lime4-hsl);
@lime5-hsl: var(--lime5-hsl);
@gold1-hsl: var(--gold1-hsl);
@gold2-hsl: var(--gold2-hsl);
@gold3-hsl: var(--gold3-hsl);
@gold4-hsl: var(--gold4-hsl);
@gold5-hsl: var(--gold5-hsl);
@sepia1-hsl: var(--sepia1-hsl);
@sepia2-hsl: var(--sepia2-hsl);
@sepia3-hsl: var(--sepia3-hsl);
@sepia4-hsl: var(--sepia4-hsl);
@sepia5-hsl: var(--sepia5-hsl);

	/*! Colors */
@black: var(--black);
@dark-gray1: var(--dark-gray1);
@dark-gray2: var(--dark-gray2);
@dark-gray3: var(--dark-gray3);
@dark-gray4: var(--dark-gray4);
@dark-gray5: var(--dark-gray5);
@gray1: var(--gray1);
@gray2: var(--gray2);
@gray3: var(--gray3);
@gray4: var(--gray4);
@gray5: var(--gray5);
@light-gray1: var(--light-gray1);
@light-gray2: var(--light-gray2);
@light-gray3: var(--light-gray3);
@light-gray4: var(--light-gray4);
@light-gray5: var(--light-gray5);
@white: var(--white);
@blue1: var(--blue1);
@blue2: var(--blue2);
@blue3: var(--blue3);
@blue4: var(--blue4);
@blue5: var(--blue5);
@green1: var(--green1);
@green2: var(--green2);
@green3: var(--green3);
@green4: var(--green4);
@green5: var(--green5);
@orange1: var(--orange1);
@orange2: var(--orange2);
@orange3: var(--orange3);
@orange4: var(--orange4);
@orange5: var(--orange5);
@red1: var(--red1);
@red2: var(--red2);
@red3: var(--red3);
@red4: var(--red4);
@red5: var(--red5);
@vermilion1: var(--vermilion1);
@vermilion2: var(--vermilion2);
@vermilion3: var(--vermilion3);
@vermilion4: var(--vermilion4);
@vermilion5: var(--vermilion5);
@rose1: var(--rose1);
@rose2: var(--rose2);
@rose3: var(--rose3);
@rose4: var(--rose4);
@rose5: var(--rose5);
@violet1: var(--violet1);
@violet2: var(--violet2);
@violet3: var(--violet3);
@violet4: var(--violet4);
@violet5: var(--violet5);
@indigo1: var(--indigo1);
@indigo2: var(--indigo2);
@indigo3: var(--indigo3);
@indigo4: var(--indigo4);
@indigo5: var(--indigo5);
@cerulean1: var(--cerulean1);
@cerulean2: var(--cerulean2);
@cerulean3: var(--cerulean3);
@cerulean4: var(--cerulean4);
@cerulean5: var(--cerulean5);
@turquoise1: var(--turquoise1);
@turquoise2: var(--turquoise2);
@turquoise3: var(--turquoise3);
@turquoise4: var(--turquoise4);
@turquoise5: var(--turquoise5);
@forest1: var(--forest1);
@forest2: var(--forest2);
@forest3: var(--forest3);
@forest4: var(--forest4);
@forest5: var(--forest5);
@lime1: var(--lime1);
@lime2: var(--lime2);
@lime3: var(--lime3);
@lime4: var(--lime4);
@lime5: var(--lime5);
@gold1: var(--gold1);
@gold2: var(--gold2);
@gold3: var(--gold3);
@gold4: var(--gold4);
@gold5: var(--gold5);
@sepia1: var(--sepia1);
@sepia2: var(--sepia2);
@sepia3: var(--sepia3);
@sepia4: var(--sepia4);
@sepia5: var(--sepia5);
@blue6: var(--blue6);
@green6: var(--green6);
@orange6: var(--orange6);
@red6: var(--red6);

	/*! IntentColors */
@primary1-hsl: var(--primary1-hsl);
@primary2-hsl: var(--primary2-hsl);
@primary3-hsl: var(--primary3-hsl);
@primary4-hsl: var(--primary4-hsl);
@primary5-hsl: var(--primary5-hsl);
@primary6-hsl: var(--primary6-hsl);
@success1-hsl: var(--success1-hsl);
@success2-hsl: var(--success2-hsl);
@success3-hsl: var(--success3-hsl);
@success4-hsl: var(--success4-hsl);
@success5-hsl: var(--success5-hsl);
@success6-hsl: var(--success6-hsl);
@warning1-hsl: var(--warning1-hsl);
@warning2-hsl: var(--warning2-hsl);
@warning3-hsl: var(--warning3-hsl);
@warning4-hsl: var(--warning4-hsl);
@warning5-hsl: var(--warning5-hsl);
@warning6-hsl: var(--warning6-hsl);
@danger1-hsl: var(--danger1-hsl);
@danger2-hsl: var(--danger2-hsl);
@danger3-hsl: var(--danger3-hsl);
@danger4-hsl: var(--danger4-hsl);
@danger5-hsl: var(--danger5-hsl);
@danger6-hsl: var(--danger6-hsl);
@pt-intent-primary-hsl: var(--pt-intent-primary-hsl);
@pt-intent-primary-hover-hsl: var(--pt-intent-primary-hover-hsl);
@pt-intent-primary-active-hsl: var(--pt-intent-primary-active-hsl);
@pt-intent-primary-text-color-hsl: var(--pt-intent-primary-text-color-hsl);
@pt-intent-success-hsl: var(--pt-intent-success-hsl);
@pt-intent-success-hover-hsl: var(--pt-intent-success-hover-hsl);
@pt-intent-success-active-hsl: var(--pt-intent-success-active-hsl);
@pt-intent-success-text-color-hsl: var(--pt-intent-success-text-color-hsl);
@pt-intent-warning-hsl: var(--pt-intent-warning-hsl);
@pt-intent-warning-hover-hsl: var(--pt-intent-warning-hover-hsl);
@pt-intent-warning-active-hsl: var(--pt-intent-warning-active-hsl);
@pt-intent-warning-text-color-hsl: var(--pt-intent-warning-text-color-hsl);
@pt-intent-danger-hsl: var(--pt-intent-danger-hsl);
@pt-intent-danger-hover-hsl: var(--pt-intent-danger-hover-hsl);
@pt-intent-danger-active-hsl: var(--pt-intent-danger-active-hsl);
@pt-intent-danger-text-color-hsl: var(--pt-intent-danger-text-color-hsl);
@primary1: var(--primary1);
@primary2: var(--primary2);
@primary3: var(--primary3);
@primary4: var(--primary4);
@primary5: var(--primary5);
@primary6: var(--primary6);
@success1: var(--success1);
@success2: var(--success2);
@success3: var(--success3);
@success4: var(--success4);
@success5: var(--success5);
@success6: var(--success6);
@warning1: var(--warning1);
@warning2: var(--warning2);
@warning3: var(--warning3);
@warning4: var(--warning4);
@warning5: var(--warning5);
@warning6: var(--warning6);
@danger1: var(--danger1);
@danger2: var(--danger2);
@danger3: var(--danger3);
@danger4: var(--danger4);
@danger5: var(--danger5);
@danger6: var(--danger6);
@pt-intent-primary: var(--pt-intent-primary);
@pt-intent-primary-hover: var(--pt-intent-primary-hover);
@pt-intent-primary-active: var(--pt-intent-primary-active);
@pt-intent-primary-text-color: var(--pt-intent-primary-text-color);
@pt-intent-success: var(--pt-intent-success);
@pt-intent-success-hover: var(--pt-intent-success-hover);
@pt-intent-success-active: var(--pt-intent-success-active);
@pt-intent-success-text-color: var(--pt-intent-success-text-color);
@pt-intent-warning: var(--pt-intent-warning);
@pt-intent-warning-hover: var(--pt-intent-warning-hover);
@pt-intent-warning-active: var(--pt-intent-warning-active);
@pt-intent-warning-text-color: var(--pt-intent-warning-text-color);
@pt-intent-danger: var(--pt-intent-danger);
@pt-intent-danger-hover: var(--pt-intent-danger-hover);
@pt-intent-danger-active: var(--pt-intent-danger-active);
@pt-intent-danger-text-color: var(--pt-intent-danger-text-color);

	/*! LayoutColors */
@pt-app-background-color: var(--pt-app-background-color);
@pt-app-top-background-color: var(--pt-app-top-background-color);
@pt-code-background-color: var(--pt-code-background-color);
@pt-divider-black: var(--pt-divider-black);
@pt-outline-color: var(--pt-outline-color);
@pt-disabled-opacity: var(--pt-disabled-opacity);

	/*! TextColors */
@pt-text-color: var(--pt-text-color);
@pt-text-color-muted: var(--pt-text-color-muted);
@pt-text-color-disabled: var(--pt-text-color-disabled);
@pt-heading-color: var(--pt-heading-color);
@pt-link-color: var(--pt-link-color);
@pt-text-selection-color: var(--pt-text-selection-color);
@pt-text-color-static-hsl: var(--pt-text-color-static-hsl);
@pt-text-color-static: var(--pt-text-color-static);
@pt-code-text-color: var(--pt-code-text-color);

	/*! IconColors */
@pt-icon-color: var(--pt-icon-color);
@pt-icon-color-hover: var(--pt-icon-color-hover);
@pt-icon-color-disabled: var(--pt-icon-color-disabled);
@pt-icon-color-selected: var(--pt-icon-color-selected);

	/*! Variables */
@pt-grid-size: var(--pt-grid-size);
@pt-font-family-sans: var(--pt-font-family-sans);
@pt-font-family-monospace: var(--pt-font-family-monospace);
@pt-font-family-serif: var(--pt-font-family-serif);
@pt-font-family: var(--pt-font-family);
@font-weight-normal: var(--font-weight-normal);
@font-weight-bold: var(--font-weight-bold);
@pt-border-radius: var(--pt-border-radius);
@pt-font-size: var(--pt-font-size);
@pt-font-size-large: var(--pt-font-size-large);
@pt-font-size-small: var(--pt-font-size-small);
@pt-line-height: var(--pt-line-height);
@icons16-family: var(--icons16-family);
@icons20-family: var(--icons20-family);
@pt-icon-size-standard: var(--pt-icon-size-standard);
@pt-icon-size-large: var(--pt-icon-size-large);
@pt-button-height: var(--pt-button-height);
@pt-button-height-small: var(--pt-button-height-small);
@pt-button-height-smaller: var(--pt-button-height-smaller);
@pt-button-height-large: var(--pt-button-height-large);
@pt-input-height: var(--pt-input-height);
@pt-input-height-large: var(--pt-input-height-large);
@pt-input-height-small: var(--pt-input-height-small);
@pt-navbar-height: var(--pt-navbar-height);
@pt-z-index-base: var(--pt-z-index-base);
@pt-z-index-content: var(--pt-z-index-content);
@pt-z-index-overlay: var(--pt-z-index-overlay);
@pt-border-shadow-opacity: var(--pt-border-shadow-opacity);
@pt-drop-shadow-opacity: var(--pt-drop-shadow-opacity);
@pt-shadow-color-hsl: var(--pt-shadow-color-hsl);
@pt-elevation-shadow-0: var(--pt-elevation-shadow-0);
@pt-elevation-shadow-1: var(--pt-elevation-shadow-1);
@pt-elevation-shadow-2: var(--pt-elevation-shadow-2);
@pt-elevation-shadow-3: var(--pt-elevation-shadow-3);
@pt-elevation-shadow-4: var(--pt-elevation-shadow-4);
@pt-transition-ease: var(--pt-transition-ease);
@pt-transition-ease-bounce: var(--pt-transition-ease-bounce);
@pt-transition-duration: var(--pt-transition-duration);
@pt-input-box-shadow: var(--pt-input-box-shadow);
@pt-dialog-box-shadow: var(--pt-dialog-box-shadow);

	/*! Components */
@button-border-width: var(--button-border-width);
@button-border-width-negative: var(--button-border-width-negative);
@control-group-spacing: var(--control-group-spacing);
@button-group-spacing: var(--button-group-spacing);
@button-box-shadow: var(--button-box-shadow);
@button-box-shadow-active: var(--button-box-shadow-active);
@button-intent-box-shadow: var(--button-intent-box-shadow);
@button-intent-box-shadow-active: var(--button-intent-box-shadow-active);
@button-gradient: var(--button-gradient);
@button-intent-gradient: var(--button-intent-gradient);
@button-color-disabled: var(--button-color-disabled);
@button-background-color: var(--button-background-color);
@button-background-color-hover: var(--button-background-color-hover);
@button-background-color-active: var(--button-background-color-active);
@button-background-color-disabled: var(--button-background-color-disabled);
@button-background-color-active-disabled: var(--button-background-color-active-disabled);
@button-intent-color-disabled: var(--button-intent-color-disabled);
@minimal-button-divider-width: var(--minimal-button-divider-width);
@minimal-button-background-color: var(--minimal-button-background-color);
@minimal-button-background-color-hover: var(--minimal-button-background-color-hover);
@minimal-button-background-color-active: var(--minimal-button-background-color-active);
@button-outlined-width: var(--button-outlined-width);
@button-outlined-border-intent-opacity: var(--button-outlined-border-intent-opacity);
@button-outlined-border-disabled-intent-opacity: var(--button-outlined-border-disabled-intent-opacity);
@button-outlined-border-color: var(--button-outlined-border-color);
@button-outlined-border-color-disabled: var(--button-outlined-border-color-disabled);
@callout-background-color: var(--callout-background-color);
@card-background-color: var(--card-background-color);
@dialog-border-radius: var(--dialog-border-radius);
@step-radius: var(--step-radius);
@divider-margin: var(--divider-margin);
@drawer-background-color: var(--drawer-background-color);
@input-color: var(--input-color);
@input-color-disabled: var(--input-color-disabled);
@input-placeholder-color: var(--input-placeholder-color);
@input-background-color: var(--input-background-color);
@input-background-color-disabled: var(--input-background-color-disabled);
@input-shadow-color-focus: var(--input-shadow-color-focus);
@input-shadow-color-focus-hsl: var(--input-shadow-color-focus-hsl);
@input-box-shadow-focus: var(--input-box-shadow-focus);
@control-background-color: var(--control-background-color);
@control-background-color-hover: var(--control-background-color-hover);
@control-background-color-active: var(--control-background-color-active);
@control-checked-background-color: var(--control-checked-background-color);
@control-checked-background-color-hover: var(--control-checked-background-color-hover);
@control-checked-background-color-active: var(--control-checked-background-color-active);
@control-checked-background-color-hsl: var(--control-checked-background-color-hsl);
@control-checked-background-color-hover-hsl: var(--control-checked-background-color-hover-hsl);
@control-checked-background-color-active-hsl: var(--control-checked-background-color-active-hsl);
@switch-background-color: var(--switch-background-color);
@switch-background-color-hover: var(--switch-background-color-hover);
@switch-background-color-active: var(--switch-background-color-active);
@switch-background-color-disabled: var(--switch-background-color-disabled);
@switch-checked-background-color: var(--switch-checked-background-color);
@switch-checked-background-color-hover: var(--switch-checked-background-color-hover);
@switch-checked-background-color-active: var(--switch-checked-background-color-active);
@switch-checked-background-color-disabled: var(--switch-checked-background-color-disabled);
@switch-indicator-background-color: var(--switch-indicator-background-color);
@switch-indicator-background-color-disabled: var(--switch-indicator-background-color-disabled);
@table-border-color: var(--table-border-color);
@menu-background-color: var(--menu-background-color);
@menu-item-color-hover: var(--menu-item-color-hover);
@menu-item-color-active: var(--menu-item-color-active);
@navbar-background-color: var(--navbar-background-color);
@overlay-background-opacity: var(--overlay-background-opacity);
@overlay-background-color: var(--overlay-background-color);
@pt-popover-background-color: var(--pt-popover-background-color);
@pt-popover-box-shadow: var(--pt-popover-box-shadow);
@pt-tooltip-box-shadow: var(--pt-tooltip-box-shadow);
@progress-track-color: var(--progress-track-color);
@progress-head-color: var(--progress-head-color);
@progress-bar-stripes-color: var(--progress-bar-stripes-color);
@progress-bar-gradient: var(--progress-bar-gradient);
@skeleton-color-start: var(--skeleton-color-start);
@skeleton-color-end: var(--skeleton-color-end);
@slider-progress-color: var(--slider-progress-color);
@slider-handle-disabled: var(--slider-handle-disabled);
@tab-color-selected: var(--tab-color-selected);
@tag-default-color: var(--tag-default-color);
@tag-default-color-hsl: var(--tag-default-color-hsl);
@tag-text-color: var(--tag-text-color);
@tooltip-background-color: var(--tooltip-background-color);
@tooltip-text-color: var(--tooltip-text-color);

	/*! Datetime */
@datepicker-background-color: var(--datepicker-background-color);
@datepicker-day-background-color-hover: var(--datepicker-day-background-color-hover);
@datepicker-day-background-color-active: var(--datepicker-day-background-color-active);
@daterangepicker-range-background-color: var(--daterangepicker-range-background-color);
@daterangepicker-range-background-color-selected: var(--daterangepicker-range-background-color-selected);
@daterangepicker-range-background-color-selected-hover: var(--daterangepicker-range-background-color-selected-hover);

	/*! Table */
@cell-background-color: var(--cell-background-color);
@cell-background-color-opacity: var(--cell-background-color-opacity);
@cell-border-color: var(--cell-border-color);
@cell-text-color: var(--cell-text-color);
@table-background-color: var(--table-background-color);
@table-background-color-hsl: var(--table-background-color-hsl);
@header-background-color: var(--header-background-color);
@header-hover-background-color: var(--header-hover-background-color);
@column-header-text-color: var(--column-header-text-color);
@row-header-text-color: var(--row-header-text-color);
@header-selected-background-color: var(--header-selected-background-color);
@header-background-color-hsl: var(--header-background-color-hsl);
@header-hover-background-color-hsl: var(--header-hover-background-color-hsl);
@header-selected-background-color-hsl: var(--header-selected-background-color-hsl);
@header-selected-hover-background-color-hsl: var(--header-selected-hover-background-color-hsl);
@column-header-text-color-hsl: var(--column-header-text-color-hsl);
@row-header-text-color-hsl: var(--row-header-text-color-hsl);
@resize-handle-color: var(--resize-handle-color);
@resize-handle-dragging-color: var(--resize-handle-dragging-color);
@region-default-color: var(--region-default-color);
@region-selected-color: var(--region-selected-color);
@region-default-color-hsl: var(--region-default-color-hsl);
@region-selected-color-hsl: var(--region-selected-color-hsl);
