@import "../global/functions";

$ns: "bp5";
$root-selector: ":root" !default;

@import "./common/index";
@import "./components/index";

#{$root-selector} {
  @import "../global/common-standard-search";
  @import "../global/common-borderless-button-group";
}
