// https://docs.microsoft.com/en-us/typography/font-list/segoe-ui

// @import url('https://fonts.cdnfonts.com/css/segoe-pro');

@font-face {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  src: local("Segoe Pro"), local("Segoe UI Regular"), local("Segoe UI"),
    url("https://fonts.cdnfonts.com/s/16326/SegoePro-Regular.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI";
  font-style: italic;
  font-weight: 400;
  src: local("Segoe Pro"), local("Segoe UI Regular"), local("Segoe UI"),
    url("https://fonts.cdnfonts.com/s/16326/SegoePro-Italic.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 600 700;
  src: local("Segoe Pro"), local("Segoe UI Semibold"), local("Segoe UI"),
    url("https://fonts.cdnfonts.com/s/16326/SegoePro-Semibold.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI";
  font-style: italic;
  font-weight: 600 700;
  src: local("Segoe Pro"), local("Segoe UI Semibold"), local("Segoe UI"),
    url("https://fonts.cdnfonts.com/s/16326/SegoePro-SemiboldItalic.woff") format("woff");
}
