@mixin focus-outline($offset: 1px) {
  outline: $pt-intent-primary solid 2px;
  outline-offset: $offset;
  -moz-outline-radius: 0;
}

:focus {
  @include focus-outline();
}

// override any focus outline anywhere
.#{$ns}-focus-disabled :focus {
  outline: none !important;

  // special override for checkbox etc which render focus on a separate element
  ~ .#{$ns}-control-indicator {
    outline: none !important;
  }
}
.#{$ns}-input:focus{
  outline: none !important;
}

.#{$ns}-control input:focus ~ .#{$ns}-control-indicator {
  @include focus-outline(2px);
}

.#{$ns}-tag:focus{
  @include focus-outline();
}

.#{$ns}-tag-input .#{$ns}-tag.#{$ns}-active {
  @include focus-outline();
}
