#{$root-selector} {
  /*! ColorsHsl */

  --black-hsl: 214, 17%, 8%;

  --dark-gray1-hsl: 213, 16%, 13%;
  --dark-gray2-hsl: 215, 14%, 17%;
  --dark-gray3-hsl: 217, 12%, 21%;
  --dark-gray4-hsl: 216, 12%, 25%;
  --dark-gray5-hsl: 216, 14%, 29%;

  --gray1-hsl: 215, 13%, 43%;
  --gray2-hsl: 214, 12%, 51%;
  --gray3-hsl: 216, 13%, 61%;
  --gray4-hsl: 216, 14%, 71%;
  --gray5-hsl: 214, 14%, 80%;

  --light-gray1-hsl: 213, 14%, 85%;
  --light-gray2-hsl: 213, 15%, 88%;
  --light-gray3-hsl: 210, 13%, 91%;
  --light-gray4-hsl: 216, 16%, 94%;
  --light-gray5-hsl: 220, 20%, 97%;

  --white-hsl: 0, 0%, 100%;

  // Core colors

  --blue1-hsl: 215, 71%, 33%;
  --blue2-hsl: 215, 68%, 41%;
  --blue3-hsl: 215, 65%, 50%;
  --blue4-hsl: 215, 85%, 62%;
  --blue5-hsl: 215, 100%, 77%;

  --green1-hsl: 148, 61%, 22%;
  --green2-hsl: 148, 59%, 27%;
  --green3-hsl: 148, 58%, 33%;
  --green4-hsl: 148, 53%, 42%;
  --green5-hsl: 148, 45%, 62%;

  --orange1-hsl: 32, 80%, 26%;
  --orange2-hsl: 32, 80%, 32%;
  --orange3-hsl: 32, 78%, 44%;
  --orange4-hsl: 32, 82%, 58%;
  --orange5-hsl: 32, 95%, 68%;

  --red1-hsl: 358, 55%, 36%;
  --red2-hsl: 358, 57%, 43%;
  --red3-hsl: 358, 58%, 53%;
  --red4-hsl: 358, 72%, 66%;
  --red5-hsl: 358, 91%, 79%;

  // Extended colors

  --vermilion1-hsl: 12, 84%, 32%;
  --vermilion2-hsl: 12, 83%, 39%;
  --vermilion3-hsl: 12, 80%, 46%;
  --vermilion4-hsl: 12, 80%, 60%;
  --vermilion5-hsl: 12, 100%, 75%;

  --rose1-hsl: 337, 66%, 40%;
  --rose2-hsl: 337, 67%, 46%;
  --rose3-hsl: 337, 71%, 52%;
  --rose4-hsl: 337, 90%, 62%;
  --rose5-hsl: 337, 100%, 70%;

  --violet1-hsl: 300, 43%, 25%;
  --violet2-hsl: 300, 43%, 34%;
  --violet3-hsl: 300, 43%, 43%;
  --violet4-hsl: 300, 38%, 58%;
  --violet5-hsl: 300, 40%, 73%;

  --indigo1-hsl: 252, 43%, 45%;
  --indigo2-hsl: 252, 47%, 53%;
  --indigo3-hsl: 252, 63%, 62%;
  --indigo4-hsl: 252, 83%, 73%;
  --indigo5-hsl: 252, 100%, 84%;

  --cerulean1-hsl: 218, 66%, 36%;
  --cerulean2-hsl: 218, 67%, 42%;
  --cerulean3-hsl: 218, 67%, 48%;
  --cerulean4-hsl: 218, 76%, 59%;
  --cerulean5-hsl: 218, 100%, 70%;

  --turquoise1-hsl: 175, 100%, 15%;
  --turquoise2-hsl: 175, 100%, 22%;
  --turquoise3-hsl: 175, 100%, 32%;
  --turquoise4-hsl: 175, 83%, 43%;
  --turquoise5-hsl: 175, 63%, 68%;

  --forest1-hsl: 125, 60%, 28%;
  --forest2-hsl: 125, 60%, 34%;
  --forest3-hsl: 125, 60%, 41%;
  --forest4-hsl: 125, 49%, 51%;
  --forest5-hsl: 125, 61%, 62%;

  --lime1-hsl: 75, 50%, 21%;
  --lime2-hsl: 75, 62%, 27%;
  --lime3-hsl: 75, 65%, 42%;
  --lime4-hsl: 75, 65%, 57%;
  --lime5-hsl: 75, 80%, 72%;

  --gold1-hsl: 43, 90%, 19%;
  --gold2-hsl: 43, 96%, 27%;
  --gold3-hsl: 43, 90%, 43%;
  --gold4-hsl: 43, 87%, 55%;
  --gold5-hsl: 43, 95%, 69%;

  --sepia1-hsl: 31, 46%, 25%;
  --sepia2-hsl: 30, 45%, 33%;
  --sepia3-hsl: 30, 45%, 40%;
  --sepia4-hsl: 30, 35%, 52%;
  --sepia5-hsl: 30, 41%, 69%;

  // Extended color palette
  --blue6-hsl: 215, 100%, 80%;
  --green6-hsl: 145, 53%, 66%;
  --orange6-hsl: 32, 85%, 74%;
  --red6-hsl: 358, 100%, 82%;

  /*! Colors */

  // ) identity //
  $colorsList: "black", "dark-gray1", "dark-gray2", "dark-gray3", "dark-gray4", "dark-gray5", "gray1", "gray2", "gray3",
    "gray4", "gray5", "light-gray1", "light-gray2", "light-gray3", "light-gray4", "light-gray5", "white", "blue1",
    "blue2", "blue3", "blue4", "blue5", "green1", "green2", "green3", "green4", "green5", "orange1", "orange2",
    "orange3", "orange4", "orange5", "red1", "red2", "red3", "red4", "red5", "vermilion1", "vermilion2", "vermilion3",
    "vermilion4", "vermilion5", "rose1", "rose2", "rose3", "rose4", "rose5", "violet1", "violet2", "violet3", "violet4",
    "violet5", "indigo1", "indigo2", "indigo3", "indigo4", "indigo5", "cerulean1", "cerulean2", "cerulean3", "cerulean4",
    "cerulean5", "turquoise1", "turquoise2", "turquoise3", "turquoise4", "turquoise5", "forest1", "forest2", "forest3",
    "forest4", "forest5", "lime1", "lime2", "lime3", "lime4", "lime5", "gold1", "gold2", "gold3", "gold4", "gold5",
    "sepia1", "sepia2", "sepia3", "sepia4", "sepia5", "blue6", "green6", "orange6", "red6";

  @each $colorName in $colorsList {
    @include emit-identity-hsl($colorName);
  }
}
