$pt-font-family: var(--pt-font-family);

$pt-font-family-monospace: var(--pt-font-family-monospace);

$pt-border-radius: var(--pt-border-radius);

// $pt-grid-size: var(--pt-grid-size);

// $pt-font-size: var(--pt-font-size);
// $pt-font-size-large: var(--pt-font-size-large);
// $pt-font-size-small: var(--pt-font-size-small);
// $pt-line-height: var(--pt-line-height);

// Icon variables

// $icons16-family: var(--icons16-family);
// $icons20-family: var(--icons20-family);

// $pt-icon-size-standard: var(--pt-icon-size-standard);
// $pt-icon-size-large: var(--pt-icon-size-large);

// Buttons
// $pt-button-height: var(--pt-button-height);
// $pt-button-height-small: var(--pt-button-height-small);
// $pt-button-height-smaller: var(--pt-button-height-smaller);
// $pt-button-height-large: var(--pt-button-height-large);

// Inputs
// $pt-input-height: var(--pt-input-height);
// $pt-input-height-large: var(--pt-input-height-large);
// $pt-input-height-small: var(--pt-input-height-small);

// Others
// $pt-navbar-height: var(--pt-navbar-height);

// Z-indices
// $pt-z-index-base: var(--pt-z-index-base);
// $pt-z-index-content: var(--pt-z-index-content);
// $pt-z-index-overlay: var(--pt-z-index-overlay);

// Shadow opacities
$pt-border-shadow-opacity: var(--pt-border-shadow-opacity);
$pt-drop-shadow-opacity: var(--pt-drop-shadow-opacity);
$pt-dark-border-shadow-opacity: var(--pt-dark-border-shadow-opacity);
$pt-dark-drop-shadow-opacity: var(--pt-dark-drop-shadow-opacity);

// Elevations
$pt-elevation-shadow-0: var(--pt-elevation-shadow-0);
$pt-elevation-shadow-1: var(--pt-elevation-shadow-1);
$pt-elevation-shadow-2: var(--pt-elevation-shadow-2);
$pt-elevation-shadow-3: var(--pt-elevation-shadow-3);
$pt-elevation-shadow-4: var(--pt-elevation-shadow-4);
$pt-dark-elevation-shadow-0: var(--pt-dark-elevation-shadow-0);
$pt-dark-elevation-shadow-1: var(--pt-dark-elevation-shadow-1);
$pt-dark-elevation-shadow-2: var(--pt-dark-elevation-shadow-2);
$pt-dark-elevation-shadow-3: var(--pt-dark-elevation-shadow-3);
$pt-dark-elevation-shadow-4: var(--pt-dark-elevation-shadow-4);

// Transitions
$pt-transition-ease: var(--pt-transition-ease);
$pt-transition-ease-bounce: var(--pt-transition-ease-bounce);
// $pt-transition-duration: var(--pt-transition-duration);

// Light theme styles
$pt-input-box-shadow: var(--pt-input-box-shadow);
$pt-dialog-box-shadow: var(--pt-dialog-box-shadow);
$pt-popover-box-shadow: var(--pt-popover-box-shadow);
$pt-tooltip-box-shadow: var(--pt-tooltip-box-shadow);

// Dark theme styles
$pt-dark-input-box-shadow: var(--pt-dark-input-box-shadow);
$pt-dark-dialog-box-shadow: var(--pt-dark-dialog-box-shadow);
$pt-dark-popover-box-shadow: var(--pt-dark-popover-box-shadow);
$pt-dark-tooltip-box-shadow: var(--pt-dark-tooltip-box-shadow);

// ??? what to do with this ???
$pt-dark-input-intent-box-shadow-colors: (
  "primary": $blue4,
  "success": $green4,
  "warning": $orange4,
  "danger" : $red4,
);
