#{$root-selector}{

/*! Components */

// --input-padding-horizontal: var(--pt-grid-size);
// --input-small-padding: calc(var(--pt-input-height-small) - var(--pt-icon-size-standard));
// --input-font-weight: var(--font-weight-normal);
// --input-transition: box-shadow var(--pt-transition-duration) var(--pt-transition-ease);

--input-color: var(--pt-text-color);
--input-color-disabled: var(--button-color-disabled);
--input-placeholder-color: var(--pt-text-color-muted); // modern
--input-background-color: var(--pt-app-top-background-color);
--input-background-color-disabled: hsla(var(--light-gray1-hsl), 0.5);
--input-shadow-color-focus: var(--pt-intent-primary);
--input-shadow-color-focus-hsl: var(--pt-intent-primary-hsl);

--dark-input-color: var(--pt-dark-text-color);
--dark-input-color-disabled: var(--dark-button-color-disabled);
--dark-input-placeholder-color: var(--pt-dark-text-color-muted); // modern
--dark-input-background-color: hsla(var(--black-hsl), 0.3);
--dark-input-background-color-disabled: hsla(var(--dark-gray5-hsl), 0.5);
--dark-input-shadow-color-focus: var(--pt-intent-primary);
--dark-input-shadow-color-focus-hsl: var(--pt-intent-primary-hsl);

// --control-indicator-size: var(--pt-icon-size-standard);
// --control-indicator-size-large: var(--pt-icon-size-large);

// avoids edge blurriness for light theme focused default input
// second box-shadow of var(--pt-input-box-shadow)
--input-box-shadow-focus: inset 0 1px 1px hsla(var(--pt-shadow-color-hsl), var(--pt-drop-shadow-opacity));

}

// $input-padding-horizontal: var(--input-padding-horizontal);
// $input-small-padding: var(--input-small-padding);
// $input-font-weight: var(--input-font-weight);
// $input-transition: var(--input-transition);

$input-color: var(--input-color);
$input-color-disabled: var(--input-color-disabled);
$input-placeholder-color: var(--input-placeholder-color);
$input-background-color: var(--input-background-color);
$input-background-color-disabled: var(--input-background-color-disabled);
$input-shadow-color-focus: var(--input-shadow-color-focus);

$dark-input-color: var(--dark-input-color);
$dark-input-color-disabled: var(--dark-input-color-disabled);
$dark-input-placeholder-color: var(--dark-input-placeholder-color);
$dark-input-background-color: var(--dark-input-background-color);
$dark-input-background-color-disabled: var(--dark-input-background-color-disabled);
$dark-input-shadow-color-focus: var(--dark-input-shadow-color-focus);

// $control-indicator-size: var(--control-indicator-size);
// $control-indicator-size-large: var(--control-indicator-size-large);

$input-box-shadow-focus: var(--input-box-shadow-focus);
